Repository jscraik/Cortex-OS: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

Update packages/registry/test/schema-registry.test.ts
  packages/registry/test/schema-registry.test.ts
Due: eslint --fix, prettier -w

Update packages/mcp-registry/src/fs-store.ts
  packages/mcp-registry/src/fs-store.ts
Due: eslint --fix, prettier -w

Update packages/services/model-gateway/src/adapters/mlx-adapter.ts
  packages/services/model-gateway/src/adapters/mlx-adapter.ts
Due: eslint --fix, prettier -w

Update packages/services/model-gateway/src/adapters/ollama-adapter.ts
  packages/services/model-gateway/src/adapters/ollama-adapter.ts
Due: eslint --fix, prettier -w

Merge latest main branch changes, resolve conflicts and fix TypeScript syntax errors
  logs/git-autocommit-error.log
  packages/asbr/tsconfig.tsbuildinfo
Due: none

Restore code quality and security fixes: SSRF protections, command injection fixes, unsafe-formatstring patches, Ruff compliance
  .pre-commit-config.yaml
  apps/cortex-webui/frontend/src/components/Chat/Chat.tsx
  apps/cortex-webui/frontend/src/utils/api-client.ts
  apps/cortex-webui/frontend/src/utils/chat-store.ts
  apps/cortex-webui/frontend/src/utils/id.ts
  logs/git-autocommit-error.log
  packages/mcp/cli/tools.py
  packages/mcp/core/connection_pool.py
  packages/mcp/core/server.py
  packages/mcp/infrastructure/backup.py
  packages/mcp/infrastructure/database.py
  packages/mcp/infrastructure/load_balancer.py
  packages/mcp/infrastructure/scaling.py
  packages/mcp/observability/metrics.py
  packages/mcp/observability/monitoring.py
  packages/mcp/performance/profiler.py
  packages/mcp/plugins/hot_reloader.py
  packages/mcp/tests/unit/test_protocol.py
  packages/mcp/tests/unit/test_task_queue.py
  packages/mcp/webui/app.py
  pyproject.toml
Due: eslint --fix, prettier -w

Auto-save: memory_bridge.py
  packages/mcp/integrations/memory_bridge.py
Due: none

Auto-save: client.py
  packages/mcp/core/client.py
Due: none

Auto-save: tools.py
  packages/mcp/cli/tools.py
Due: none

Auto-save: HTMLToken.tsx
  apps/cortex-webui/frontend/src/components/Chat/Messages/Markdown/HTMLToken.tsx
Due: eslint --fix, prettier -w

feat: add instructor integration example
  examples/instructor-ollama/README.md
  examples/instructor-ollama/src/main.py
  pyproject.toml
Due: prettier -w

refactor: improve mlx adapter and tests
  python/evals/run_embeddings.py
  python/pyproject.toml
  python/src/cortex_mlx/router.py
  python/tests/test-mlx-quick.py
  python/tests/test_mlx_quick.py
Due: none

chore: remove empty patch and update documentation
  patches/README.md
  patches/memory-systems-enhancements.patch
Due: prettier -w

fix: resolve dependency lock and build configs
  .python-version
  apps/api/Dockerfile
  apps/cortex-code/src/github/actions.rs
  apps/cortex-py/Dockerfile.prod
  apps/cortex-py/pyproject.toml
  docker/docs-complete.dockerfile
  docker/docs.dockerfile
  docker/faissd.Dockerfile
  docker/mlx-runner.dockerfile
  infra/docker/Dockerfile.python
  libs/python/cortex_core/pyproject.toml
  libs/python/cortex_ml/pyproject.toml
  libs/python/cortex_ml/src/cortex_ml/__init__.py
  packages/a2a/a2a-python-workers/echo-py/pyproject.toml
  packages/github/src/actions.rs
  packages/mcp/DEPLOYMENT.md
  packages/mcp/pyproject.toml
  pnpm-lock.yaml
  pyproject.toml
  python/pyproject.toml
  reports/audits/root.audit.md
  scripts/compliance/07_add_governance.sh
  scripts/verify-ai-dependencies.sh
  services/data-pipeline/pyproject.toml
  services/ml-inference/pyproject.toml
  test-pattern.js
  uv.lock
Due: eslint --fix, prettier -w

Update pyproject.toml
  pyproject.toml
Due: none

feat: wrap ollama adapter with instructor
  examples/instructor-ollama/README.md
  examples/instructor-ollama/src/main.py
  pyproject.toml
  python/src/cortex_mlx/router.py
Due: prettier -w

chore(prisma): add relations and standardize migrations
  prisma/README.md
  prisma/migrations/20240101000001_enable_pgvector/migration.sql
  prisma/migrations/20240101000002_match_documents_rpc/migration.sql
  prisma/migrations/20240101000003_hybrid_search_rpc/migration.sql
  prisma/migrations/202508170_enable_pgvector.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
Due: prettier -w

refactor structure guard exports and config
  tools/structure-guard/guard-enhanced.ts
  tools/structure-guard/package.json
Due: eslint --fix, prettier -w

refactor(src): clean legacy utilities and strengthen tests
  simple-tests/generate.test.ts
  simple-tests/vitest.config.ts
  src/.gitignore
  src/lib/create-prp-orchestration-engine.test.ts
  src/lib/create-prp-orchestration-engine.ts
  src/lib/generate.test.ts
  src/lib/generate.ts
  src/lib/insights/index.d.ts
  src/lib/insights/index.d.ts.map
  src/lib/insights/index.js
  src/lib/insights/index.js.map
  src/lib/run-process.d.ts
  src/lib/run-process.d.ts.map
  src/lib/run-process.js
  src/lib/run-process.js.map
Due: eslint --fix, prettier -w

fix: improve mlx conversion flow
  tools/model-convert/convert-to-mlx.py
Due: none

feat(sbom): implement complete sbom workflow
  sbom/formats/cyclonedx/bom-validation.txt
  sbom/formats/cyclonedx/cortex-os.cdx.json
  sbom/formats/cyclonedx/cortex-os.cdx.xml
  sbom/formats/spdx/cortex-os.spdx.json
  sbom/formats/spdx/validation.txt
  sbom/formats/swid/cortex-os.swid.xml
  sbom/reports/dependencies/cargo-audit.json
  sbom/reports/dependencies/npm-audit.json
  sbom/reports/dependencies/pip-audit.json
  sbom/reports/licenses/license-analysis.txt
  sbom/reports/licenses/license-report.json
  sbom/reports/vulnerabilities/cve-report.json
  sbom/reports/vulnerabilities/risk-assessment.txt
  sbom/reports/vulnerabilities/security-advisories.json
  sbom/sbom.cdx.json
  sbom/tools/generate-sbom.sh
  sbom/tools/security-scan.sh
  sbom/tools/validate-sbom.sh
Due: prettier -w

chore: harden readiness tooling
  package.json
  pnpm-lock.yaml
  tools/readiness/check-readiness.mjs
  tools/readiness/readiness.schema.json
  tools/readiness/run-package-tests.mjs
Due: eslint --fix, prettier -w

refactor(review): improve portability and reporting
  tools/review/index.ts
  tools/review/report.schema.json
Due: eslint --fix, prettier -w

test: validate sbom against cyclonedx schema
  package.json
  pnpm-lock.yaml
  project-documentation/project_structure_ground_truth.txt
  simple-tests/fixtures/cyclonedx-sample.json
  simple-tests/sbom-schema.test.ts
  tools/schema/README.md
  tools/schema/cyclonedx-1.5.schema.json
  tools/schema/jsf-0.82.schema.json
  tools/schema/spdx.schema.json
  tools/schemas/cyclonedx-1.5.schema.json
Due: eslint --fix, prettier -w

fix: align ESLint config with module and deps
  tools/eslint-config/index.js
  tools/eslint-config/package.json
Due: eslint --fix, prettier -w

refactor: replace prints with logging and improve mlx tooling
  apps/cortex-py/Dockerfile.prod
  apps/cortex-py/src/app.py
  apps/cortex-py/src/mlx/embedding_generator.py
  apps/cortex-py/src/mlx/mlx_unified.py
  apps/cortex-py/tests/test_embedding_generator.py
Due: none

refactor: address marketplace review issues
  apps/cortex-marketplace/src/api.test.ts
  apps/cortex-marketplace/src/index.ts
  apps/cortex-marketplace/src/services/marketplace-service.ts
  apps/cortex-marketplace/src/services/registry-service.test.ts
  apps/cortex-marketplace/src/services/registry-service.ts
Due: eslint --fix, prettier -w

chore(tools): remove legacy ts script
  tools/lockfile-sync/README.md
  tools/lockfile-sync/package.json
  tools/lockfile-sync/sync.mjs
  tools/lockfile-sync/sync.test.mjs
  tools/lockfile-sync/sync.ts
Due: eslint --fix, prettier -w

test: add registry url validation
  apps/cortex-marketplace-api/package.json
  apps/cortex-marketplace-api/src/ai/mlx-service.ts
  apps/cortex-marketplace-api/src/lib/install-commands.ts
  apps/cortex-marketplace-api/src/registry.test.ts
  apps/cortex-marketplace-api/src/registry.ts
Due: eslint --fix, prettier -w

docs: update cortex governance docs
  .cortex/README.md
  .cortex/structure-guard.yaml
Due: prettier -w

Refactor data pipeline service
  services/data-pipeline/cortex_data_pipeline/__init__.py
  services/data-pipeline/cortex_data_pipeline/pipeline.py
  services/data-pipeline/pyproject.toml
  services/data-pipeline/tests/conftest.py
  services/data-pipeline/tests/test_pipeline.py
Due: none

chore: remove obsolete schema modules
  services/neurons/docs-api/src/core/database.py
  services/neurons/docs-api/src/models.py
  services/neurons/docs-api/src/schemas/analytics.py
  services/neurons/docs-api/src/schemas/analytics/__init__.py
  services/neurons/docs-api/src/schemas/analytics/dashboard.py
  services/neurons/docs-api/src/schemas/analytics/engagement.py
  services/neurons/docs-api/src/schemas/analytics/events.py
  services/neurons/docs-api/src/schemas/analytics/performance.py
  services/neurons/docs-api/src/schemas/analytics/search.py
  services/neurons/docs-api/src/schemas/content.py
  services/neurons/docs-api/src/schemas/content/__init__.py
  services/neurons/docs-api/src/schemas/content/documents.py
  services/neurons/docs-api/src/schemas/content/indexing.py
  services/neurons/docs-api/src/schemas/content/operations.py
  services/neurons/docs-api/src/schemas/content/relations.py
  services/neurons/docs-api/src/schemas/content/validation.py
  services/neurons/docs-api/tests/test_database.py
  services/neurons/docs-api/tests/test_schemas.py
Due: none

Auto-save: HTMLToken.tsx
  apps/cortex-os/packages/planner/orchestration/src/mlx/kv_cache_manager.py
  apps/cortex-webui/frontend/src/components/Chat/Messages/Markdown/HTMLToken.tsx
Due: eslint --fix, prettier -w

Auto-save: exec.js
  apps/cortex-os/packages/planner/orchestration/src/mlx/kv_cache_manager.py
  apps/cortex-webui/frontend/src/components/Chat/Messages/Markdown/HTMLToken.tsx
  apps/cortex-webui/frontend/src/components/common/RichTextInput.tsx
  libs/python/exec.js
  packages/mcp/core/caching.py
  packages/mcp/integrations/memory_bridge.py
  scripts/maintenance/install-mlx-tools.py
Due: eslint --fix, prettier -w

Auto-save: caching.py
  packages/mcp/core/caching.py
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx,cjs,mjs}
  prettier -w: any of: *.{ts,tsx,js,jsx,json,md,yml,yaml,css,scss}
