Repository jscraik/Cortex-OS: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

.lintstagedrc.json:

{
	"*.{ts,tsx,js,jsx,cjs,mjs}": ["eslint --fix"],
	"*.{ts,tsx,js,jsx,json,md,yml,yaml,css,scss}": ["prettier -w"]
}

fix: update biome.json configuration
  biome.json
Due: prettier -w

chore: update configuration and cortex-code components
  .github/instructions/nx.instructions.md
  .gitignore
  .vscode/# Code Citations.md
  .vscode/settings.json
  apps/cortex-code/install
  apps/cortex-code/src/error_panic_handler.rs
  apps/cortex-code/src/github/mod.rs
  apps/cortex-code/src/main.rs
  apps/cortex-code/src/model/mod.rs
  apps/cortex-code/src/server/daemon.rs
  apps/cortex-code/src/server/handlers.rs
  apps/cortex-code/tests/security/security_tests.rs
  apps/cortex-code/tests/unit/chat_widget_tests.rs
  apps/cortex-os/packages/ingest/src/dispatch.ts
  apps/cortex-webui/app/mvp/chat/page.tsx
  biome.json
  libs/python/memories/tests/__pycache__/conftest.cpython-313-pytest-8.4.1.pyc
  logs/git-autocommit-error.log
  logs/git-autocommit.log
  services/data-pipeline/__pycache__/pipeline.cpython-313.pyc
  services/data-pipeline/tests/__pycache__/conftest.cpython-313-pytest-8.4.1.pyc
  services/ml-inference/tests/__pycache__/conftest.cpython-313-pytest-8.4.1.pyc
Due: eslint --fix, prettier -w

Update apps/cortex-webui/app/mvp/chat/page.tsx
  apps/cortex-webui/app/mvp/chat/page.tsx
Due: eslint --fix, prettier -w

wip: save autocommit log before recover
  logs/git-autocommit-error.log
Due: none

recover: stash@{1} restore (Cargo.toml + autocommit log)
  apps/cortex-code/Cargo.toml
  logs/git-autocommit-error.log
Due: none

recover: sanitize apps/cortex-code/.vscode/settings.json (valid JSON)
  apps/cortex-code/.vscode/settings.json
Due: prettier -w

chore(webui): drop embedded open-webui repo from VCS and ignore path
  .gitignore
Due: none

docs: add missing readmes for core directories
  apps/README.md
  libs/README.md
  services/README.md
Due: prettier -w

chore: commit all remaining changes including manual edits
  README-CORTEX-CLI-UPGRADE.md
  apps/cortex-code-backup/build.sh
  apps/cortex-webui/README.md
  apps/cortex-webui/__tests__/components/chat/Chat.test.tsx
  apps/cortex-webui/backend/eslint.config.js
  apps/cortex-webui/backend/src/models/user.ts
  apps/cortex-webui/backend/src/services/authService.ts
  apps/cortex-webui/backend/tsconfig.json
  apps/cortex-webui/docs/project-structure.md
  apps/cortex-webui/frontend/src/index.tsx
  apps/cortex-webui/frontend/tailwind.config.js
  apps/cortex-webui/shared/types/index.ts
  apps/cortex-webui/tailwind.config.js
  logs/git-autocommit-error.log
Due: eslint --fix, prettier -w

chore: update git autocommit error log
  logs/git-autocommit-error.log
Due: none

chore: update cortex-code-broken docs and logs, add back cortex-code-backup
  apps/cortex-code-backup/build.sh
  apps/cortex-code-broken/FEATURE_TRANSFER_PLAN.md
  apps/cortex-code-broken/MISSING_FEATURES_ANALYSIS.md
  logs/git-autocommit-error.log
Due: prettier -w

chore: add legacy project documentation and update logs
  logs/git-autocommit-error.log
  project-documentation/legacy/FEATURE_TRANSFER_PLAN.md
  project-documentation/legacy/MISSING_FEATURES_ANALYSIS.md
Due: prettier -w

chore: final log update after push
  logs/git-autocommit-error.log
Due: none

Complete Task 1.1: Project Setup & Build System
  apps/cortex-codex/codex/codex-rs/Cargo.toml
  apps/cortex-codex/rust-toolchain.toml
Due: none

✅ Complete Task 1.2: Configuration System Integration (TDD)
  apps/cortex-codex/CHANGELOG.md
  apps/cortex-codex/SOFTWARE_ENGINEERING_PLAN.md
  apps/cortex-codex/TASKS.md
  apps/cortex-codex/TASK_TRACKER.md
  apps/cortex-codex/core/README.md
  apps/cortex-codex/core/src/config_tdd.rs
  apps/cortex-codex/core/src/config_types_new.rs
  apps/cortex-codex/core/src/error.rs
  apps/cortex-codex/core/src/lib.rs
  apps/cortex-codex/core/tests/config_tests.rs
Due: prettier -w

docs: Add comprehensive status badges to all README files
  apps/cortex-codex/README.md
  apps/cortex-codex/SOFTWARE_ENGINEERING_PLAN.md
  apps/cortex-codex/TASK_TRACKER.md
  apps/cortex-codex/core/README.md
Due: prettier -w

Update scripts/dir_diff_side_by_side.sh
  scripts/dir_diff_side_by_side.sh
Due: none

Update apps/cortex-webui/backend/src/utils/tool-store.ts
  apps/cortex-webui/backend/src/utils/tool-store.ts
Due: eslint --fix, prettier -w

Update apps/cortex-codex/codex/codex-rs/core/src/auth.rs
  apps/cortex-codex/codex/codex-rs/core/src/auth.rs
Due: none

Update apps/cortex-codex/codex/codex-rs/core/src/apply_patch.rs
  apps/cortex-codex/codex/codex-rs/core/src/apply_patch.rs
Due: none

chore: add servers.json registry with proper EOF newline
  config/ports.env
  config/servers.json
  github-apps-diagnostic.sh
  start-github-apps.sh
Due: prettier -w

chore: add free-ports.sh helper and hint to resolve port conflicts via central registry
  free-ports.sh
  start-github-apps.sh
Due: none

feat: add -C/--cd flag to chat subcommand
  apps/cortex-codex/README.md
  apps/cortex-codex/cli/src/main.rs
  apps/cortex-codex/codex/docs/config.md
Due: prettier -w

fix: use stable fs2 crate for cross-platform file locking
  apps/cortex-codex/core/Cargo.toml
  apps/cortex-codex/core/src/message_history.rs
Due: none

refactor: improve client readability and enhance test coverage
  apps/cortex-codex/codex/codex-rs/core/src/client.rs
  apps/cortex-codex/core/tests/config_tests.rs
  apps/cortex-codex/core/tests/suite/cli_stream.rs
Due: none

Update start-github-apps.sh
  start-github-apps.sh
Due: none

Update github-apps-diagnostic.sh
  github-apps-diagnostic.sh
Due: none

Update free-ports.sh
  free-ports.sh
Due: none

refactor webui id generation
  apps/cortex-webui/__tests__/setup.ts
  apps/cortex-webui/app/components/chat/Chat.tsx
  apps/cortex-webui/app/utils/notification-store.ts
  apps/cortex-webui/backend/src/utils/tool-store.ts
  apps/cortex-webui/frontend/src/components/Chat/Chat.tsx
  apps/cortex-webui/utils/id.ts
Due: eslint --fix, prettier -w

chore: consolidate workflow setup
  .github/actions/setup/action.yml
  .github/workflows/agents-ci.yml
  .github/workflows/ci.yml
Due: prettier -w

ci: add caching and enforce pr formatting
  .github/workflows/ci.yml
  .github/workflows/pr-format.yml
  .github/workflows/review-automation.yml
Due: prettier -w
