Repository jscraik/Cortex-OS: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, ast-grep scan --config sgconfig.json --report-style rich, prettier -w

.lintstagedrc.json:

{
	"*.{ts,tsx,js,jsx,cjs,mjs}": [
		"eslint --fix",
		"ast-grep scan --config sgconfig.json --report-style rich"
	],
	"*.{ts,tsx,js,jsx,json,md,yml,yaml,css,scss}": ["prettier -w"]
}

Update DEVELOPMENT_PLAN.md
  apps/cortex-os/DEVELOPMENT_PLAN.md
Due: prettier -w

docs(cortex-py): plan MLX server operational readiness
  docs/cortex-py-mlx-servers-plan.md
Due: prettier -w

docs(agents): add TDD development plan
  packages-agents-dev-plan.md
Due: prettier -w

docs(orchestration): add tdd development plan
  orchestration-development-plan.md
Due: prettier -w

Update packages-agents-dev-plan.md
  packages-agents-dev-plan.md
Due: prettier -w

Update orchestration-development-plan.md
  orchestration-development-plan.md
Due: prettier -w

docs(rag): add TDD development plan
  rag-development-plan.md
Due: prettier -w

docs(memories): add TDD development plan
  MEMORIES_TDD_PLAN.md
Due: prettier -w

docs(model-gateway): add TDD development plan
  model-gateway-development-plan.md
Due: prettier -w

docs: add MCP suite development plan
  MCP_TDD_PLAN.md
Due: prettier -w

docs(a2a): add TDD development plan
  a2a-tdd-plan.md
Due: prettier -w

Update model-gateway-development-plan.md
  model-gateway-development-plan.md
Due: prettier -w

Update MCP_TDD_PLAN.md
  MCP_TDD_PLAN.md
Due: prettier -w

test(rag): add citation bundler coverage
  packages/rag/src/lib/citation-bundler.ts
  packages/rag/src/lib/index.ts
  packages/rag/src/lib/types.ts
  packages/rag/src/rag-pipeline.ts
  packages/rag/test/batch-ingest.spec.ts
  packages/rag/test/citation-bundler.spec.ts
Due: eslint --fix, ast-grep scan --config sgconfig.json --report-style rich, prettier -w

docs(cortex-py): expand MLX server plan
  docs/cortex-py-mlx-servers-plan.md
Due: prettier -w

feat(orchestration): enforce topological order
  packages/orchestration/src/workflow-validator.ts
  packages/orchestration/tests/workflow-validator.test.ts
Due: eslint --fix, ast-grep scan --config sgconfig.json --report-style rich, prettier -w

Update workflow-validator.ts
  packages/orchestration/src/workflow-validator.ts
Due: eslint --fix, ast-grep scan --config sgconfig.json --report-style rich, prettier -w

feat(mcp): add tool allowlist enforcement
  packages/mcp/tasks/task_queue.py
  packages/mcp/tests/unit/test_tool_allowlist.py
Due: none

feat(agents): add workflow authorization audit hooks
  packages/agents/README.md
  packages/agents/src/events/agent-events.ts
  packages/agents/src/integrations/outbox.ts
  packages/agents/src/orchestration/agent-orchestrator.ts
  packages/agents/tests/unit/orchestration/authorization.test.ts
Due: eslint --fix, ast-grep scan --config sgconfig.json --report-style rich, prettier -w

test(memories): cover namespace isolation
  packages/memories/src/adapters/store.memory.ts
  packages/memories/src/adapters/store.prisma/client.ts
  packages/memories/src/adapters/store.sqlite.ts
  packages/memories/src/ports/MemoryStore.ts
  packages/memories/tests/namespace-isolation.spec.ts
Due: eslint --fix, ast-grep scan --config sgconfig.json --report-style rich, prettier -w

feat(model-gateway): add frontier adapter
  packages/model-gateway/src/adapters/frontier-adapter.ts
  packages/model-gateway/src/model-router.ts
  packages/model-gateway/tests/frontier-adapter.spec.ts
Due: eslint --fix, ast-grep scan --config sgconfig.json --report-style rich, prettier -w

Update task_queue.py
  packages/mcp/tasks/task_queue.py
Due: none

test(a2a-core): add ACL enforcement tests
  packages/a2a/a2a-core/src/__tests__/bus.acl.test.ts
  packages/a2a/a2a-core/src/bus.ts
Due: eslint --fix, ast-grep scan --config sgconfig.json --report-style rich, prettier -w

Update bus.ts
  packages/a2a/a2a-core/src/bus.ts
Due: eslint --fix, ast-grep scan --config sgconfig.json --report-style rich, prettier -w

feat(py-mlx-server): scaffold FastAPI server
  docs/py-mlx-server.md
  services/py-mlx-server/README.md
  services/py-mlx-server/pyproject.toml
  services/py-mlx-server/src/py_mlx_server/__init__.py
  services/py-mlx-server/src/py_mlx_server/main.py
  services/py-mlx-server/src/py_mlx_server/mlx_lib_example.py
  services/py-mlx-server/tests/conftest.py
  services/py-mlx-server/tests/test_ping.py
Due: prettier -w

Update main.py
  services/py-mlx-server/src/py_mlx_server/main.py
Due: none

Update mlx_lib_example.py
  services/py-mlx-server/src/py_mlx_server/mlx_lib_example.py
Due: none

feat(memory): add unified memory guard utility
  docs/memory-guard.md
  scripts/dev-with-memory-guard.sh
  scripts/memory-guard.mjs
  tests/fixtures/memory-hog.js
  tests/memory-guard.test.ts
Due: eslint --fix, ast-grep scan --config sgconfig.json --report-style rich, prettier -w

Update memory-guard.mjs
  scripts/memory-guard.mjs
Due: eslint --fix, ast-grep scan --config sgconfig.json --report-style rich

feat(agents,orchestration): add dynamic speculative planner
  packages/agents/src/index.ts
  packages/agents/src/lib/dsp.ts
  packages/agents/tests/unit/lib/dsp.test.ts
  packages/orchestration/src/utils/dsp.ts
  packages/orchestration/tests/dsp-util.test.ts
Due: eslint --fix, ast-grep scan --config sgconfig.json --report-style rich, prettier -w

feat(memory): guard vitest runs
  docs/memory-guard.md
  scripts/dev-with-memory-guard.sh
  scripts/memory-guard.mjs
  scripts/test-safe.sh
  simple-tests/test-safe-guard.test.ts
  tests/fixtures/memory-hog.js
  tests/memory-guard.test.ts
Due: eslint --fix, ast-grep scan --config sgconfig.json --report-style rich, prettier -w

docs(observability): add TDD development plan
  observability-development-plan.md
Due: prettier -w

docs(memories): switch to MLX/Ollama embeddings
  QWEN3_MLX_TDD_PLAN.md
Due: prettier -w
