Repository jscraik/Cortex-OS: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

.lintstagedrc.json:

{
	"*.{ts,tsx,js,jsx,cjs,mjs}": ["eslint --fix"],
	"*.{ts,tsx,js,jsx,json,md,yml,yaml,css,scss}": ["prettier -w"]
}

Auto-save: caching.py
  packages/mcp/core/caching.py
Due: none

Auto-save: RichTextInput.tsx
  apps/cortex-webui/frontend/src/components/common/RichTextInput.tsx
Due: eslint --fix, prettier -w

Auto-save: RichTextInput.tsx
  apps/cortex-webui/frontend/src/components/common/RichTextInput.tsx
  packages/mcp/core/caching.py
Due: eslint --fix, prettier -w

Update pyproject.toml
  pyproject.toml
Due: none

Update examples/instructor-ollama/README.md
  examples/instructor-ollama/README.md
Due: prettier -w

Update python/src/cortex_mlx/router.py
  python/src/cortex_mlx/router.py
Due: none

Update tools/readiness/run-package-tests.mjs
  tools/readiness/run-package-tests.mjs
Due: eslint --fix

Auto-save: exec.js
  libs/python/exec.js
Due: eslint --fix, prettier -w

Update submodules to latest versions
  .gitmodules
Due: none

fix: add missing policy schemas
  .cortex/README.md
  .cortex/gates/validate-policies.js
  .cortex/gates/validate-policies.ts
  .cortex/policy/egress.allowlist.json
  .cortex/rules/AGENTS.md
  .cortex/schemas/egress.allowlist.schema.json
  .cortex/structure-guard.yaml
Due: eslint --fix, prettier -w

Update .cortex/gates/validate-policies.ts
  .cortex/gates/validate-policies.ts
Due: eslint --fix, prettier -w

Update .cortex/gates/validate-policies.js
  .cortex/gates/validate-policies.js
Due: eslint --fix, prettier -w

chore: add default readiness.yml files to all packages
  packages/a2a-services/readiness.yml
  packages/a2a/readiness.yml
  packages/agents/readiness.yml
  packages/asbr/readiness.yml
  packages/contracts/readiness.yml
  packages/cortex-ai-github/readiness.yml
  packages/cortex-sec/readiness.yml
  packages/cortex-semgrep-github/readiness.yml
  packages/cortex-structure-github/readiness.yml
  packages/evals/readiness.yml
  packages/gateway/readiness.yml
  packages/github/readiness.yml
  packages/kernel/readiness.yml
  packages/mcp-core/readiness.yml
  packages/mcp-registry/readiness.yml
  packages/mcp/readiness.yml
  packages/memories/readiness.yml
  packages/model-gateway/readiness.yml
  packages/mvp-core/readiness.yml
  packages/mvp-group/readiness.yml
  packages/mvp-server/readiness.yml
  packages/mvp/readiness.yml
  packages/observability/readiness.yml
  packages/orchestration/readiness.yml
  packages/prp-runner/readiness.yml
  packages/rag/readiness.yml
  packages/registry/readiness.yml
  packages/security/readiness.yml
  packages/services/readiness.yml
  packages/simlab/readiness.yml
  tools/readiness/generate-readiness-files.mjs
Due: eslint --fix, prettier -w

chore: add efficiency tooling setup
  .rgignore
  scripts/install-efficiency-tools.sh
Due: none

Update scripts/install-efficiency-tools.sh
  scripts/install-efficiency-tools.sh
Due: none

feat: improve ollama model selection
  examples/instructor-ollama/README.md
  examples/instructor-ollama/src/main.py
  python/src/cortex_mlx/router.py
Due: prettier -w

Auto-save: mlx_inference.py
  services/ml-inference/src/mlx_inference.py
Due: none

Auto-save: base.ts
  packages/prp-runner/src/gates/base.ts
Due: eslint --fix, prettier -w

Auto-save: state.ts
  packages/kernel/src/state.ts
Due: eslint --fix, prettier -w

chore(dev-tools): auto-ensure efficiency tools via postinstall + git hooks (post-checkout/post-merge/pre-commit)
  .githooks/post-checkout
  .githooks/post-merge
  .githooks/pre-commit
  package.json
  scripts/ensure-efficiency-tools.sh
Due: prettier -w

chore: finalize codex-reference and log updates for sync
  logs/git-autocommit-error.log
Due: none

Auto-save: g0-ideation.ts
  packages/prp-runner/src/gates/g0-ideation.ts
Due: eslint --fix, prettier -w

chore(ml-inference): split k8s manifests into single-doc files and fix hadolint DL3015; trim trailing whitespace
  apps/cortex-py/src/mlx/mlx_unified.py
  logs/git-autocommit-error.log
  packages/kernel/src/index.ts
  packages/prp-runner/src/__tests__/prp-runner-workflow.test.ts
  packages/prp-runner/src/documentation/index.ts
  packages/prp-runner/src/documentation/prp-generator.ts
  packages/prp-runner/src/enforcement/initial-processor.ts
  packages/prp-runner/src/gates/base.ts
  packages/prp-runner/src/gates/g0-ideation.ts
  packages/prp-runner/src/gates/g1-architecture.ts
  packages/prp-runner/src/gates/g2-test-plan.ts
  packages/prp-runner/src/gates/g3-code-review.ts
  packages/prp-runner/src/gates/g4-verification.ts
  packages/prp-runner/src/gates/g5-triage.ts
  packages/prp-runner/src/gates/g6-release-readiness.ts
  packages/prp-runner/src/gates/g7-release.ts
  packages/prp-runner/src/index.ts
  packages/prp-runner/src/runner.ts
  services/ml-inference/CLEANUP_SUMMARY.md
  services/ml-inference/Dockerfile
  services/ml-inference/README.md
  services/ml-inference/deploy.sh
  services/ml-inference/docker-compose.yml
  services/ml-inference/k8s/deployment.yaml
  services/ml-inference/k8s/hpa.yaml
  services/ml-inference/k8s/ingress.yaml
  services/ml-inference/k8s/pdb.yaml
  services/ml-inference/k8s/pvc.yaml
  services/ml-inference/k8s/service.yaml
  services/ml-inference/monitoring/alert_rules.yml
  services/ml-inference/monitoring/prometheus.yml
  services/ml-inference/src/app.py
  services/ml-inference/src/error_handling.py
  services/ml-inference/src/mlx_inference.py
  services/ml-inference/src/model_registry.py
  services/ml-inference/src/monitoring.py
  services/ml-inference/src/security.py
Due: eslint --fix, prettier -w

chore(repo): checkpoint local changes before efficiency tools setup
  logs/git-autocommit-error.log
Due: none

Auto-save: README.md
  README.md
Due: prettier -w

chore(dev-tools): make install-efficiency-tools.sh cross-platform (macOS/Linux), install CodeQL v2.23.0 and Sourcegraph src via brew
  biome.json
  scripts/install-efficiency-tools.sh
Due: prettier -w
