Repository jscraik/Cortex-OS: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, ast-grep scan --config sgconfig.json --report-style rich, prettier -w

docs(memories): add memory review TDD plan
  memory-review-tdd-plan.md
Due: prettier -w

Update QWEN3_MLX_TDD_PLAN.md
  QWEN3_MLX_TDD_PLAN.md
Due: prettier -w

feat(confidence): add confidence gate
  simple-tests/confidence-gate.test.ts
  src/lib/confidence-gate.ts
Due: eslint --fix, ast-grep scan --config sgconfig.json --report-style rich, prettier -w

Update confidence-gate.ts
  src/lib/confidence-gate.ts
Due: eslint --fix, ast-grep scan --config sgconfig.json --report-style rich, prettier -w

feat(webui): enforce env vars and add secret generator
  apps/cortex-webui/.env.example
  apps/cortex-webui/__tests__/environment.test.ts
  apps/cortex-webui/backend/src/services/healthService.ts
  apps/cortex-webui/scripts/generate-secret.js
Due: eslint --fix, ast-grep scan --config sgconfig.json --report-style rich, prettier -w

ci(workflows): add reusable node setup and use in agents
  .github/workflows/README.md
  .github/workflows/agents-ci.yml
  .github/workflows/ci-node-setup.yml
Due: prettier -w

docs(cloudflare): document ipv4 override
  docs/CLOUDFLARE_TUNNEL.md
  package.json
  pnpm-lock.yaml
  scripts/cloudflare/__tests__/run-quick-tunnel.bats
  scripts/cloudflare/run-quick-tunnel.sh
Due: prettier -w

Update ci-node-setup.yml
  .github/workflows/ci-node-setup.yml
Due: prettier -w

Update run-quick-tunnel.sh
  scripts/cloudflare/run-quick-tunnel.sh
Due: none

docs(rules): sync agent spec with implementation
  .cortex/rules/AGENTS.md
Due: prettier -w

feat(mvp-group): add deterministic strategy node
  packages/mvp/mvp-group/src/lib/strategy-node.ts
  packages/mvp/mvp-group/tests/strategy-node.spec.ts
Due: eslint --fix, ast-grep scan --config sgconfig.json --report-style rich, prettier -w

chore: regenerate pnpm lockfile to restore project graph
  pnpm-lock.yaml
Due: prettier -w

feat(a2a-core): enforce topic ACLs
  packages/a2a/a2a-core/src/bus.ts
Due: eslint --fix, ast-grep scan --config sgconfig.json --report-style rich, prettier -w

feat(a2a): document topic ACL default-deny in contracts
  packages/a2a/a2a-contracts/package.json
  packages/a2a/a2a-contracts/src/index.ts
  packages/a2a/a2a-contracts/src/topic-acl.ts
  packages/a2a/a2a-contracts/tests/topic-acl.test.ts
  packages/a2a/a2a-core/package.json
  packages/a2a/a2a-core/src/bus.ts
Due: eslint --fix, ast-grep scan --config sgconfig.json --report-style rich, prettier -w

docs(capability-map): outline ASBR-lite brain
  .cortex/docs/capability-map.md
Due: prettier -w

Update capability-map.md
  .cortex/docs/capability-map.md
Due: prettier -w

docs(observability): document structured logging
  packages/cortex-logging/README.md
  packages/cortex-logging/package.json
  packages/cortex-logging/src/logger.test.ts
  packages/cortex-logging/src/logger.ts
  pnpm-lock.yaml
Due: eslint --fix, ast-grep scan --config sgconfig.json --report-style rich, prettier -w

chore: update submodules and regenerate lockfile
  pnpm-lock.yaml
Due: prettier -w

docs(orchestration): expand development roadmap
  orchestration-development-plan.md
Due: prettier -w

chore(cortex-code): add upstream sync scripts, Nx targets, baseline and weekly drift check
  .github/workflows/cortex-code-upstream.yml
  apps/cortex-code/UPSTREAM_REF
  apps/cortex-code/UPSTREAM_SYNC.md
  apps/cortex-code/project.json
  apps/cortex-code/scripts/codex-rs-subtree.sh
  apps/cortex-code/scripts/upstream-diff.sh
  apps/cortex-code/scripts/upstream-status.sh
  simple-tests/build-configuration.test.ts
  simple-tests/kernel-build.test.ts
Due: eslint --fix, ast-grep scan --config sgconfig.json --report-style rich, prettier -w

fix(core/config): restore crate::config by including backup
  apps/cortex-code/core/src/config.rs
Due: none

fix(kernel): resolve TypeScript compilation errors and circular dependencies
  apps/cortex-code/Cargo.lock
  apps/cortex-code/cli/Cargo.toml
  apps/cortex-code/core/Cargo.toml
  apps/cortex-code/exec/Cargo.toml
  apps/cortex-code/mcp-client/Cargo.toml
  apps/cortex-code/mcp-server/Cargo.toml
  apps/cortex-code/tui/Cargo.toml
  apps/cortex-webui/backend/package.json
  apps/cortex-webui/frontend/package.json
  packages/gateway/openapi.json
  packages/github/Cargo.lock
  packages/github/Cargo.toml
  pnpm-lock.yaml
  servers/package.json
Due: prettier -w

docs(agents): update development plan
  packages-agents-dev-plan.md
Due: prettier -w

docs(model-gateway): finalize operational readiness plan
  model-gateway-development-plan.md
Due: prettier -w

docs(memories): refine review workflow plan
  memory-review-tdd-plan.md
Due: prettier -w

docs(marketplace): add TDD plan for marketplace API
  cortex-marketplace-api-tdd-plan.md
Due: prettier -w

docs(mcp): add review and TDD plan for MCP packages
  mcp-packages-review-tdd-plan.md
Due: prettier -w

Update cortex-marketplace-api-tdd-plan.md
  cortex-marketplace-api-tdd-plan.md
Due: prettier -w

Update mcp-packages-review-tdd-plan.md
  mcp-packages-review-tdd-plan.md
Due: prettier -w

docs: add cortex-py review
  cortex-py-review.md
Due: prettier -w

docs(marketplace): add technical review and TDD plan
  cortex-marketplace-review-tdd-plan.md
Due: prettier -w

docs(api): add TDD development plan
  apps-api-tdd-plan.md
Due: prettier -w

docs(cortex-webui): add review tdd plan
  cortex-webui-review-tdd-plan.md
Due: prettier -w

Update cortex-py-review.md
  cortex-py-review.md
Due: prettier -w

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx,cjs,mjs}
  ast-grep scan --config sgconfig.json --report-style rich: any of: *.{ts,tsx,js,jsx,cjs,mjs}
  prettier -w: any of: *.{ts,tsx,js,jsx,json,md,yml,yaml,css,scss}
