Repository jscraik/Cortex-OS: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, ast-grep scan --config sgconfig.json --report-style rich, rg 'console\.(log|warn|error|debug|info)' {} || true, rg 'debugger' {} || true, rg 'TODO|FIXME|XXX|HACK' {} || true, prettier -w

.lintstagedrc.json:

{
	"*.{ts,tsx,js,jsx,cjs,mjs}": [
		"eslint --fix",
		"ast-grep scan --config sgconfig.json --report-style rich",
		"rg 'console\\.(log|warn|error|debug|info)' {} || true",
		"rg 'debugger' {} || true",
		"rg 'TODO|FIXME|XXX|HACK' {} || true"
	],
	"*.{ts,tsx,js,jsx,json,md,yml,yaml,css,scss}": ["prettier -w"]
}

Update index.ts
  packages/registry/src/index.ts
Due: eslint --fix, ast-grep scan --config sgconfig.json --report-style rich, rg 'console\.(log|warn|error|debug|info)' {} || true, rg 'debugger' {} || true, rg 'TODO|FIXME|XXX|HACK' {} || true, prettier -w

Update index.ts
  packages/evals/src/index.ts
Due: eslint --fix, ast-grep scan --config sgconfig.json --report-style rich, rg 'console\.(log|warn|error|debug|info)' {} || true, rg 'debugger' {} || true, rg 'TODO|FIXME|XXX|HACK' {} || true, prettier -w

feat(mcp): add sse transport implementation and tests
  packages/mcp/core/connection_pool.py
  packages/mcp/core/transports/__init__.py
  packages/mcp/core/transports/sse_transport.py
  packages/mcp/core/validation.py
  packages/mcp/pyproject.toml
  packages/mcp/security/auth.py
  packages/mcp/tests/security/test_auth_secret.py
  packages/mcp/tests/test_connection_pool_import.py
  packages/mcp/tests/test_sse_transport.py
  packages/mcp/tests/test_validation.py
Due: none

Update validation.py
  packages/mcp/core/validation.py
Due: none

Update sse_transport.py
  packages/mcp/core/transports/sse_transport.py
Due: none

Update auth.py
  packages/mcp/security/auth.py
Due: none

feat(mvp-core): add in-memory A2A routing
  .mise.toml
  packages/mvp/mvp-core/src/a2a.ts
  packages/mvp/mvp-core/src/cloudevents.ts
  packages/mvp/mvp-core/src/index.ts
  packages/mvp/mvp-core/src/outbox.ts
  packages/mvp/mvp-core/tests/a2a.spec.ts
  packages/mvp/mvp-core/tests/cloudevents.spec.ts
  packages/mvp/mvp-core/tests/outbox.spec.ts
Due: eslint --fix, ast-grep scan --config sgconfig.json --report-style rich, rg 'console\.(log|warn|error|debug|info)' {} || true, rg 'debugger' {} || true, rg 'TODO|FIXME|XXX|HACK' {} || true, prettier -w

Update outbox.ts
  packages/mvp/mvp-core/src/outbox.ts
Due: eslint --fix, ast-grep scan --config sgconfig.json --report-style rich, rg 'console\.(log|warn|error|debug|info)' {} || true, rg 'debugger' {} || true, rg 'TODO|FIXME|XXX|HACK' {} || true, prettier -w

Update a2a.ts
  packages/mvp/mvp-core/src/a2a.ts
Due: eslint --fix, ast-grep scan --config sgconfig.json --report-style rich, rg 'console\.(log|warn|error|debug|info)' {} || true, rg 'debugger' {} || true, rg 'TODO|FIXME|XXX|HACK' {} || true, prettier -w

chore(pre-commit): use biome write flag
  .mise.toml
  .pre-commit-config.yaml
  packages/mvp/mvp-core/src/a2a.ts
  packages/mvp/mvp-core/src/cloudevents.ts
  packages/mvp/mvp-core/src/index.ts
  packages/mvp/mvp-core/src/outbox.ts
  packages/mvp/mvp-core/tests/a2a.spec.ts
  packages/mvp/mvp-core/tests/cloudevents.spec.ts
  packages/mvp/mvp-core/tests/outbox.spec.ts
Due: eslint --fix, ast-grep scan --config sgconfig.json --report-style rich, rg 'console\.(log|warn|error|debug|info)' {} || true, rg 'debugger' {} || true, rg 'TODO|FIXME|XXX|HACK' {} || true, prettier -w

feat(github): add CloudEvents HTTP publisher
  packages/github/readiness.yml
  packages/github/src/a2a_integration.rs
Due: prettier -w

Update a2a_integration.rs
  packages/github/src/a2a_integration.rs
Due: none

Auto-save: README.md
  README.md
Due: prettier -w

feat(codex-core): set default StreamMode::Auto in test fixtures and qualify env handling
  apps/cortex-codex/core/src/config.rs
Due: none

Auto-save: copilot-instructions.md
  .github/copilot-instructions.md
Due: prettier -w

Auto-save: code-quality.md
  docs/code-quality.md
Due: prettier -w

Auto-save: secret-redaction.md
  docs/secret-redaction.md
Due: prettier -w

docs(codex): update engineering plan and task tracker for provider scaffold and streaming roadmap
  apps/cortex-codex/SOFTWARE_ENGINEERING_PLAN.md
  apps/cortex-codex/TASK_TRACKER.md
Due: prettier -w

feat(codex-core): add provider auth + selection scaffold and dependencies
  apps/cortex-codex/cli/Cargo.toml
  apps/cortex-codex/core/Cargo.toml
  apps/cortex-codex/core/src/providers/auth.rs
  apps/cortex-codex/core/src/providers/mod.rs
  apps/cortex-codex/core/src/providers/selection.rs
Due: none

Auto-save: code-quality-hardening.md
  .changeset/code-quality-hardening.md
Due: prettier -w

Auto-save: submodules.md
  docs/submodules.md
Due: prettier -w

chore(codex): bump rust toolchain to nightly with default profile
  apps/cortex-codex/rust-toolchain.toml
Due: none

Auto-save: openai-codex.md
  docs/submodules/openai-codex.md
Due: prettier -w
