Repository jscraik/Cortex-OS: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, ast-grep scan --config sgconfig.json --report-style rich, prettier -w

.lintstagedrc.json:

{
	"*.{ts,tsx,js,jsx,cjs,mjs}": [
		"eslint --fix",
		"ast-grep scan --config sgconfig.json --report-style rich"
	],
	"*.{ts,tsx,js,jsx,json,md,yml,yaml,css,scss}": ["prettier -w"]
}

test: fix asbr-ai integration test imports
  packages/prp-runner/src/__tests__/asbr-ai-integration.test.ts
Due: eslint --fix, ast-grep scan --config sgconfig.json --report-style rich, prettier -w

chore: complete merge conflict resolution and cleanup
  packages/a2a-services/common/tests/rateLimiter.test.ts
  packages/asbr/tests/unit/loopback-address.test.ts
  packages/prp-runner/src/__tests__/asbr-ai-mcp-integration.test.ts
Due: eslint --fix, ast-grep scan --config sgconfig.json --report-style rich, prettier -w

docs(cortex-code): add missing documentation templates
  apps/cortex-code/docs/cortex-code-docs/accessibility.md
  apps/cortex-code/docs/cortex-code-docs/changelog.md
  apps/cortex-code/docs/cortex-code-docs/contributor-setup.md
  apps/cortex-code/docs/cortex-code-docs/deployment-guide.md
  apps/cortex-code/docs/cortex-code-docs/examples.md
  apps/cortex-code/docs/cortex-code-docs/glossary.md
  apps/cortex-code/docs/cortex-code-docs/logging-monitoring.md
  apps/cortex-code/docs/cortex-code-docs/migration-guide.md
  apps/cortex-code/docs/cortex-code-docs/performance.md
  apps/cortex-code/docs/cortex-code-docs/testing-guide.md
  apps/cortex-code/docs/cortex-code-docs/troubleshooting-guide.md
Due: prettier -w

docs(cortex-webui): add comprehensive documentation
  apps/cortex-webui/docs/README.md
  apps/cortex-webui/docs/accessibility.md
  apps/cortex-webui/docs/architecture.md
  apps/cortex-webui/docs/best-practices.md
  apps/cortex-webui/docs/changelog.md
  apps/cortex-webui/docs/cli-reference.md
  apps/cortex-webui/docs/configuration.md
  apps/cortex-webui/docs/contributor-setup.md
  apps/cortex-webui/docs/deployment.md
  apps/cortex-webui/docs/examples.md
  apps/cortex-webui/docs/faq.md
  apps/cortex-webui/docs/getting-started.md
  apps/cortex-webui/docs/glossary.md
  apps/cortex-webui/docs/introduction.md
  apps/cortex-webui/docs/logging-monitoring.md
  apps/cortex-webui/docs/migration-guide.md
  apps/cortex-webui/docs/performance.md
  apps/cortex-webui/docs/policy-terms.md
  apps/cortex-webui/docs/providers-setup.md
  apps/cortex-webui/docs/roadmap.md
  apps/cortex-webui/docs/security.md
  apps/cortex-webui/docs/testing-qa.md
  apps/cortex-webui/docs/troubleshooting-guide.md
  apps/cortex-webui/docs/user-guide.md
Due: prettier -w

docs(cortex-py): add comprehensive package documentation
  apps/cortex-py/docs/README.md
  apps/cortex-py/docs/accessibility.md
  apps/cortex-py/docs/api-reference.md
  apps/cortex-py/docs/architecture.md
  apps/cortex-py/docs/best-practices.md
  apps/cortex-py/docs/changelog.md
  apps/cortex-py/docs/cli-reference.md
  apps/cortex-py/docs/configuration.md
  apps/cortex-py/docs/contributor-setup.md
  apps/cortex-py/docs/deployment.md
  apps/cortex-py/docs/examples.md
  apps/cortex-py/docs/faq.md
  apps/cortex-py/docs/getting-started.md
  apps/cortex-py/docs/glossary.md
  apps/cortex-py/docs/introduction.md
  apps/cortex-py/docs/logging-monitoring.md
  apps/cortex-py/docs/migration.md
  apps/cortex-py/docs/performance.md
  apps/cortex-py/docs/policy-terms.md
  apps/cortex-py/docs/providers-setup.md
  apps/cortex-py/docs/roadmap.md
  apps/cortex-py/docs/security.md
  apps/cortex-py/docs/testing.md
  apps/cortex-py/docs/troubleshooting.md
  apps/cortex-py/docs/user-guide.md
Due: prettier -w

docs(cortex-os): organize app docs into sections
  apps/cortex-os/docs/README.md
  apps/cortex-os/docs/accessibility.md
  apps/cortex-os/docs/api.md
  apps/cortex-os/docs/architecture.md
  apps/cortex-os/docs/best-practices.md
  apps/cortex-os/docs/changelog.md
  apps/cortex-os/docs/cli.md
  apps/cortex-os/docs/configuration.md
  apps/cortex-os/docs/contributor-setup.md
  apps/cortex-os/docs/deployment.md
  apps/cortex-os/docs/examples.md
  apps/cortex-os/docs/faq.md
  apps/cortex-os/docs/getting-started.md
  apps/cortex-os/docs/glossary.md
  apps/cortex-os/docs/introduction.md
  apps/cortex-os/docs/logging.md
  apps/cortex-os/docs/migration.md
  apps/cortex-os/docs/performance.md
  apps/cortex-os/docs/policy-terms.md
  apps/cortex-os/docs/providers.md
  apps/cortex-os/docs/roadmap.md
  apps/cortex-os/docs/security.md
  apps/cortex-os/docs/testing.md
  apps/cortex-os/docs/troubleshooting.md
  apps/cortex-os/docs/user-guide.md
  pnpm-lock.yaml
Due: prettier -w

Update apps/cortex-py/docs/examples.md
  apps/cortex-py/docs/examples.md
Due: prettier -w

Update apps/cortex-os/docs/contributor-setup.md
  apps/cortex-os/docs/contributor-setup.md
Due: prettier -w

Update apps/cortex-os/docs/examples.md
  apps/cortex-os/docs/examples.md
Due: prettier -w

Update apps/cortex-os/docs/changelog.md
  apps/cortex-os/docs/changelog.md
Due: prettier -w

Update apps/cortex-webui/docs/README.md
  apps/cortex-webui/docs/README.md
Due: prettier -w

Update apps/cortex-webui/docs/examples.md
  apps/cortex-webui/docs/examples.md
Due: prettier -w

Update apps/cortex-code/docs/cortex-code-docs/glossary.md
  apps/cortex-code/docs/cortex-code-docs/glossary.md
Due: prettier -w

docs(cortex-cli): add comprehensive package documentation
  apps/cortex-cli/docs/index.md
Due: prettier -w

docs(a2a): add comprehensive package documentation
  packages/a2a/docs/README.md
  packages/a2a/docs/accessibility.md
  packages/a2a/docs/api.md
  packages/a2a/docs/architecture.md
  packages/a2a/docs/best-practices.md
  packages/a2a/docs/changelog.md
  packages/a2a/docs/cli.md
  packages/a2a/docs/configuration.md
  packages/a2a/docs/contributing.md
  packages/a2a/docs/deployment.md
  packages/a2a/docs/examples.md
  packages/a2a/docs/faq.md
  packages/a2a/docs/getting-started.md
  packages/a2a/docs/glossary.md
  packages/a2a/docs/introduction.md
  packages/a2a/docs/logging-monitoring.md
  packages/a2a/docs/migration.md
  packages/a2a/docs/performance.md
  packages/a2a/docs/policy-terms.md
  packages/a2a/docs/providers.md
  packages/a2a/docs/roadmap.md
  packages/a2a/docs/security.md
  packages/a2a/docs/testing.md
  packages/a2a/docs/troubleshooting.md
  packages/a2a/docs/user-guide.md
Due: prettier -w

docs(a2a-services): add comprehensive package documentation
  packages/a2a-services/docs/accessibility.md
  packages/a2a-services/docs/api.md
  packages/a2a-services/docs/architecture.md
  packages/a2a-services/docs/best-practices.md
  packages/a2a-services/docs/changelog.md
  packages/a2a-services/docs/cli.md
  packages/a2a-services/docs/configuration.md
  packages/a2a-services/docs/contributing.md
  packages/a2a-services/docs/deployment.md
  packages/a2a-services/docs/examples.md
  packages/a2a-services/docs/faq.md
  packages/a2a-services/docs/getting-started.md
  packages/a2a-services/docs/glossary.md
  packages/a2a-services/docs/index.md
  packages/a2a-services/docs/introduction.md
  packages/a2a-services/docs/logging-monitoring.md
  packages/a2a-services/docs/migration.md
  packages/a2a-services/docs/performance.md
  packages/a2a-services/docs/policy-terms.md
  packages/a2a-services/docs/providers-setup.md
  packages/a2a-services/docs/roadmap.md
  packages/a2a-services/docs/security.md
  packages/a2a-services/docs/testing.md
  packages/a2a-services/docs/troubleshooting.md
  packages/a2a-services/docs/user-guide.md
Due: prettier -w

Update packages/a2a-services/docs/policy-terms.md
  packages/a2a-services/docs/policy-terms.md
Due: prettier -w

Update packages/a2a-services/docs/contributing.md
  packages/a2a-services/docs/contributing.md
Due: prettier -w

Update packages/a2a-services/docs/examples.md
  packages/a2a-services/docs/examples.md
Due: prettier -w

Update apps/cortex-cli/docs/index.md
  apps/cortex-cli/docs/index.md
Due: prettier -w

Update packages/a2a/docs/getting-started.md
  packages/a2a/docs/getting-started.md
Due: prettier -w

Update packages/a2a/docs/configuration.md
  packages/a2a/docs/configuration.md
Due: prettier -w

Update packages/a2a/docs/examples.md
  packages/a2a/docs/examples.md
Due: prettier -w

docs(agents): add comprehensive documentation
  packages/agents/docs/README.md
  packages/agents/docs/accessibility.md
  packages/agents/docs/api-reference.md
  packages/agents/docs/architecture.md
  packages/agents/docs/best-practices.md
  packages/agents/docs/changelog.md
  packages/agents/docs/cli-reference.md
  packages/agents/docs/configuration.md
  packages/agents/docs/contributor-setup.md
  packages/agents/docs/deployment.md
  packages/agents/docs/examples.md
  packages/agents/docs/faq.md
  packages/agents/docs/getting-started.md
  packages/agents/docs/glossary.md
  packages/agents/docs/introduction.md
  packages/agents/docs/logging-monitoring.md
  packages/agents/docs/migration.md
  packages/agents/docs/performance.md
  packages/agents/docs/policy-terms.md
  packages/agents/docs/providers-setup.md
  packages/agents/docs/roadmap.md
  packages/agents/docs/security.md
  packages/agents/docs/testing-qa.md
  packages/agents/docs/troubleshooting.md
  packages/agents/docs/user-guide.md
Due: prettier -w

feat(python): add minimal MCP client
  docs/archon-integration.md
  python/src/cortex_mlx/mcp_client.py
  python/tests/test_mcp_client.py
Due: prettier -w

docs(contracts): add comprehensive package docs
  packages/contracts/docs/README.md
  packages/contracts/docs/accessibility.md
  packages/contracts/docs/api-reference.md
  packages/contracts/docs/architecture.md
  packages/contracts/docs/best-practices.md
  packages/contracts/docs/changelog.md
  packages/contracts/docs/cli-reference.md
  packages/contracts/docs/configuration.md
  packages/contracts/docs/contributor-setup.md
  packages/contracts/docs/deployment.md
  packages/contracts/docs/examples.md
  packages/contracts/docs/faq.md
  packages/contracts/docs/getting-started.md
  packages/contracts/docs/glossary.md
  packages/contracts/docs/introduction.md
  packages/contracts/docs/logging-monitoring.md
  packages/contracts/docs/migration.md
  packages/contracts/docs/performance.md
  packages/contracts/docs/policy-terms.md
  packages/contracts/docs/providers.md
  packages/contracts/docs/roadmap.md
  packages/contracts/docs/security.md
  packages/contracts/docs/testing.md
  packages/contracts/docs/troubleshooting.md
  packages/contracts/docs/user-guide.md
Due: prettier -w

Update packages/agents/docs/faq.md
  packages/agents/docs/faq.md
Due: prettier -w

Update packages/agents/docs/best-practices.md
  packages/agents/docs/best-practices.md
Due: prettier -w

feat(tools): add agent toolkit wrappers
  agent-toolkit/Justfile
  agent-toolkit/README.md
  agent-toolkit/tools/astgrep_search.sh
  agent-toolkit/tools/cargo_verify.sh
  agent-toolkit/tools/comby_rewrite.sh
  agent-toolkit/tools/difftastic_diff.sh
  agent-toolkit/tools/eslint_verify.sh
  agent-toolkit/tools/patch_apply.sh
  agent-toolkit/tools/pytest_verify.sh
  agent-toolkit/tools/rg_search.sh
  agent-toolkit/tools/ruff_verify.sh
  agent-toolkit/tools/run_validators.sh
  agent-toolkit/tools/semgrep_search.sh
  agent-toolkit/tools/treesitter_query.sh
  simple-tests/rg_search.test.ts
Due: eslint --fix, ast-grep scan --config sgconfig.json --report-style rich, prettier -w

docs(cortex-sec): add comprehensive documentation
  packages/cortex-sec/docs/accessibility.md
  packages/cortex-sec/docs/api-reference.md
  packages/cortex-sec/docs/architecture.md
  packages/cortex-sec/docs/best-practices.md
  packages/cortex-sec/docs/changelog.md
  packages/cortex-sec/docs/cli-reference.md
  packages/cortex-sec/docs/configuration.md
  packages/cortex-sec/docs/contributor-setup.md
  packages/cortex-sec/docs/deployment.md
  packages/cortex-sec/docs/examples.md
  packages/cortex-sec/docs/faq.md
  packages/cortex-sec/docs/getting-started.md
  packages/cortex-sec/docs/glossary.md
  packages/cortex-sec/docs/index.md
  packages/cortex-sec/docs/introduction.md
  packages/cortex-sec/docs/logging-monitoring.md
  packages/cortex-sec/docs/migration.md
  packages/cortex-sec/docs/performance.md
  packages/cortex-sec/docs/policy-terms.md
  packages/cortex-sec/docs/providers-setup.md
  packages/cortex-sec/docs/roadmap.md
  packages/cortex-sec/docs/security.md
  packages/cortex-sec/docs/testing-qa.md
  packages/cortex-sec/docs/troubleshooting.md
  packages/cortex-sec/docs/user-guide.md
Due: prettier -w

docs(mcp-bridge): add comprehensive package docs
  packages/mcp-bridge/docs/accessibility.md
  packages/mcp-bridge/docs/api-reference.md
  packages/mcp-bridge/docs/architecture.md
  packages/mcp-bridge/docs/best-practices.md
  packages/mcp-bridge/docs/changelog.md
  packages/mcp-bridge/docs/cli-reference.md
  packages/mcp-bridge/docs/configuration.md
  packages/mcp-bridge/docs/contributor-setup.md
  packages/mcp-bridge/docs/deployment.md
  packages/mcp-bridge/docs/examples.md
  packages/mcp-bridge/docs/faq.md
  packages/mcp-bridge/docs/getting-started.md
  packages/mcp-bridge/docs/glossary.md
  packages/mcp-bridge/docs/index.md
  packages/mcp-bridge/docs/introduction.md
  packages/mcp-bridge/docs/logging-monitoring.md
  packages/mcp-bridge/docs/migration-guide.md
  packages/mcp-bridge/docs/performance.md
  packages/mcp-bridge/docs/policy-terms.md
  packages/mcp-bridge/docs/providers-setup.md
  packages/mcp-bridge/docs/roadmap.md
  packages/mcp-bridge/docs/security.md
  packages/mcp-bridge/docs/testing.md
  packages/mcp-bridge/docs/troubleshooting.md
  packages/mcp-bridge/docs/user-guide.md
Due: prettier -w

Update user-guide.md
  packages/contracts/docs/user-guide.md
Due: prettier -w

Update rg_search.test.ts
  simple-tests/rg_search.test.ts
Due: eslint --fix, ast-grep scan --config sgconfig.json --report-style rich, prettier -w

Update treesitter_query.sh
  agent-toolkit/tools/treesitter_query.sh
Due: none

Update run_validators.sh
  agent-toolkit/tools/run_validators.sh
Due: none

Update ruff_verify.sh
  agent-toolkit/tools/ruff_verify.sh
Due: none

Update eslint_verify.sh
  agent-toolkit/tools/eslint_verify.sh
Due: none
