Repository jscraik/Cortex-OS: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

Auto-save: migrations.py
  packages/mcp/infrastructure/migrations.py
Due: none

Auto-save: orchestration_bridge.py
  packages/mcp/integrations/orchestration_bridge.py
Due: none

Auto-save: health.py
  packages/mcp/observability/health.py
Due: none

Auto-save: metrics.py
  packages/mcp/observability/metrics.py
Due: none

Auto-save: structured_logging.py
  packages/mcp/observability/structured_logging.py
Due: none

Auto-save: monitoring.py
  packages/mcp/observability/monitoring.py
Due: none

Auto-save: profiler.py
  packages/mcp/performance/profiler.py
Due: none

Auto-save: hot_reloader.py
  packages/mcp/plugins/hot_reloader.py
Due: none

Auto-save: middleware.py
  packages/mcp/security/middleware.py
Due: none

Auto-save: distributed_queue.py
  packages/mcp/tasks/distributed_queue.py
Due: none

Auto-save: task_queue.py
  packages/mcp/tasks/task_queue.py
Due: none

Auto-save: test_mcp_operational.py
  packages/mcp/test_mcp_operational.py
Due: none

Auto-save: test_mcp_real_integration.py
  packages/mcp/test_mcp_real_integration.py
Due: none

Auto-save: test_full_workflow.py
  packages/mcp/tests/integration/test_full_workflow.py
Due: none

Auto-save: test_owasp_compliance.py
  packages/mcp/tests/security/test_owasp_compliance.py
Due: none

Auto-save: test_protocol.py
  packages/mcp/tests/unit/test_protocol.py
Due: none

Auto-save: app.py
  packages/mcp/webui/app.py
Due: none

Auto-save: test_task_queue.py
  packages/mcp/tests/unit/test_task_queue.py
Due: none

chore(mcp): fix Ruff actionable issues in tests and webui; improve exception chaining and suppress patterns; clean unused variables; sort imports
  logs/git-autocommit-error.log
  package.json
  packages/mcp/cli/main.py
  packages/mcp/cli/server.py
  packages/mcp/cli/tools.py
  packages/mcp/infrastructure/migrations.py
  packages/mcp/pyproject.toml
  pyproject.toml
Due: prettier -w

docs: mark tasks 1.1 and 1.3 complete
  apps/cortex-codex/SOFTWARE_ENGINEERING_PLAN.md
  apps/cortex-codex/TASKS.md
Due: prettier -w

docs: mark task 2.1 chat cli complete
  apps/cortex-codex/SOFTWARE_ENGINEERING_PLAN.md
  apps/cortex-codex/TASKS.md
  apps/cortex-codex/TASK_TRACKER.md
Due: prettier -w

Update SOFTWARE_ENGINEERING_PLAN.md
  apps/cortex-codex/SOFTWARE_ENGINEERING_PLAN.md
Due: prettier -w

refactor: remove globals and validate env
  apps/cortex-os/src/boot/a2a.ts
  apps/cortex-os/src/cli/replay.ts
  apps/cortex-os/src/runtime.ts
  apps/cortex-os/src/ui/approvals/Route.tsx
  apps/cortex-os/tests/routing.test.ts
Due: eslint --fix, prettier -w

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx,cjs,mjs}
  prettier -w: any of: *.{ts,tsx,js,jsx,json,md,yml,yaml,css,scss}
