Repository jscraik/Cortex-OS: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, ast-grep scan --config sgconfig.json --report-style rich, rg 'console\.(log|warn|error|debug|info)' {} || true, rg 'debugger' {} || true, rg 'TODO|FIXME|XXX|HACK' {} || true, prettier -w

test(codex-core): add placeholder provider selection tests file
  apps/cortex-codex/core/tests/provider_selection_tests.rs
Due: none

Auto-save: README.md
  README.md
Due: prettier -w

Auto-save: code-quality.md
  docs/code-quality.md
Due: prettier -w

Auto-save: openai-codex.md
  docs/submodules/openai-codex.md
Due: prettier -w

Auto-save: secret-redaction.md
  docs/secret-redaction.md
Due: prettier -w

Auto-save: copilot-instructions.md
  .github/copilot-instructions.md
Due: prettier -w

feat(contracts): add schema coverage guard tests and CI workflow
  .github/workflows/contracts-coverage.yml
  .lintstagedrc.json
  EXEMPTION_NOTICE.md
  apps/cortex-codex/Cargo.toml
  biome.json
  contracts/README.md
  contracts/tests/contracts-coverage.test.ts
  contracts/tests/mcp-events.contract.test.ts
  eslint-security.config.js
  package.json
  pnpm-lock.yaml
  pyproject.toml
  tools/structure-guard/policy.json
  uv.lock
  vitest.workspace.ts
Due: eslint --fix, ast-grep scan --config sgconfig.json --report-style rich, rg 'console\.(log|warn|error|debug|info)' {} || true, rg 'debugger' {} || true, rg 'TODO|FIXME|XXX|HACK' {} || true, prettier -w

Auto-save: eslint-security.config.js
  eslint-security.config.js
Due: eslint --fix, ast-grep scan --config sgconfig.json --report-style rich, rg 'console\.(log|warn|error|debug|info)' {} || true, rg 'debugger' {} || true, rg 'TODO|FIXME|XXX|HACK' {} || true, prettier -w

Auto-save: contracts-coverage.test.ts
  contracts/tests/contracts-coverage.test.ts
Due: eslint --fix, ast-grep scan --config sgconfig.json --report-style rich, rg 'console\.(log|warn|error|debug|info)' {} || true, rg 'debugger' {} || true, rg 'TODO|FIXME|XXX|HACK' {} || true, prettier -w

Auto-save: eslint.config.js
  eslint.config.js
Due: eslint --fix, ast-grep scan --config sgconfig.json --report-style rich, rg 'console\.(log|warn|error|debug|info)' {} || true, rg 'debugger' {} || true, rg 'TODO|FIXME|XXX|HACK' {} || true, prettier -w

fix: systematic resolution of critical lint errors and empty catch blocks
  eslint-report.json
  libs/typescript/utils/src/__tests__/type-guards.test.ts
  libs/typescript/utils/src/index.ts
  libs/typescript/utils/src/secure-neo4j.ts
  libs/typescript/utils/src/type-guards.ts
  lint-report.json
  package.json
  packages/a2a/a2a-events/src/github/index.ts
  packages/a2a/a2a-transport/src/__tests__/stdio.test.ts
  packages/a2a/a2a-transport/src/stdio.ts
  packages/a2a/src/index.ts
  packages/a2a/src/streaming.ts
  packages/a2a/src/task-manager.ts
  packages/agents/src/lib/utils.ts
  packages/agents/tests/setup.ts
  packages/asbr/src/types/index.ts
  packages/asbr/tests/unit/build-output.test.ts
  packages/memories/src/adapters/embedder.mlx.ts
  packages/memories/src/adapters/store.sqlite.ts
  packages/memories/src/privacy/redact.ts
  packages/mvp/mvp/src/graph-simple.ts
  packages/mvp/mvp/tests/nodes/build.test.ts
  packages/mvp/mvp/tests/nodes/evaluation.test.ts
  packages/prp-runner/src/lib/embedding/index.ts
  packages/rag/src/stubs/fast-glob.ts
  packages/rag/src/stubs/micromatch.ts
  packages/security/src/spiffe/client.ts
  packages/services/orchestration/src/lib/__tests__/hitl.test.ts
  packages/services/orchestration/src/lib/hitl.ts
  pnpm-lock.yaml
  vitest.integration.config.ts
  vitest.integration.test.ts
Due: eslint --fix, ast-grep scan --config sgconfig.json --report-style rich, rg 'console\.(log|warn|error|debug|info)' {} || true, rg 'debugger' {} || true, rg 'TODO|FIXME|XXX|HACK' {} || true, prettier -w

security: resolve all 24 dependency vulnerabilities
  libs/typescript/utils/src/index.ts
  libs/typescript/utils/src/rng.ts
  package.json
  packages/agents/src/lib/utils.ts
  pnpm-lock.yaml
Due: eslint --fix, ast-grep scan --config sgconfig.json --report-style rich, rg 'console\.(log|warn|error|debug|info)' {} || true, rg 'debugger' {} || true, rg 'TODO|FIXME|XXX|HACK' {} || true, prettier -w

chore(build): inline tasks and remove mise run
  package.json
Due: prettier -w

docs(cortex-os): add development plan
  apps/cortex-os/DEVELOPMENT_PLAN.md
Due: prettier -w

Update DEVELOPMENT_PLAN.md
  apps/cortex-os/DEVELOPMENT_PLAN.md
Due: prettier -w

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx,cjs,mjs}
  ast-grep scan --config sgconfig.json --report-style rich: any of: *.{ts,tsx,js,jsx,cjs,mjs}
  rg 'console\.(log|warn|error|debug|info)' {} || true: any of: *.{ts,tsx,js,jsx,cjs,mjs}
  rg 'debugger' {} || true: any of: *.{ts,tsx,js,jsx,cjs,mjs}
  rg 'TODO|FIXME|XXX|HACK' {} || true: any of: *.{ts,tsx,js,jsx,cjs,mjs}
  prettier -w: any of: *.{ts,tsx,js,jsx,json,md,yml,yaml,css,scss}
