Repository jscraik/Cortex-OS: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

Update .github/workflows/pr-format.yml
  .github/workflows/pr-format.yml
Due: prettier -w

feat(webui): add glass style to chat interface
  apps/cortex-webui/frontend/src/components/Chat/ChatInterface.tsx
  apps/cortex-webui/frontend/src/components/Chat/MessageItem.tsx
  apps/cortex-webui/frontend/src/components/Chat/MessageList.tsx
  apps/cortex-webui/frontend/src/globals.css
Due: eslint --fix, prettier -w

Update apps/cortex-webui/frontend/src/components/Chat/MessageList.tsx
  apps/cortex-webui/frontend/src/components/Chat/MessageList.tsx
Due: eslint --fix, prettier -w

fix: make GitHub app scripts path-aware
  github-apps-diagnostic.sh
  start-github-apps.sh
Due: none

chore: add dev setup script
  README.md
  scripts/dev-setup.sh
Due: prettier -w

chore: enhance dev setup with lint and structure guard
  README.md
  scripts/dev-setup.sh
Due: prettier -w

Update dev-setup.sh
  scripts/dev-setup.sh
Due: none

fix: ensure webui backend types and db setup
  apps/cortex-webui/backend/eslint.config.mjs
  apps/cortex-webui/backend/src/services/authService.ts
  apps/cortex-webui/backend/src/services/conversationService.ts
  apps/cortex-webui/backend/src/services/fileService.ts
  apps/cortex-webui/backend/src/services/messageService.ts
  apps/cortex-webui/backend/src/services/modelService.ts
  apps/cortex-webui/backend/src/services/userService.ts
  apps/cortex-webui/backend/src/utils/database.ts
Due: eslint --fix, prettier -w

fix(mcp): correct connection pool indentation
  packages/mcp/core/connection_pool.py
Due: none

chore: standardize app licenses to Apache 2.0
  apps/cortex-cli/LICENSE
  apps/cortex-cli/package.json
  apps/cortex-code-broken/LICENSE
  apps/cortex-code-broken/cortex.json
  apps/cortex-code/CORTEX_CODE_DOCUMENTATION.md
  apps/cortex-code/LICENSE
  apps/cortex-code/LICENSE-MIT
  apps/cortex-code/README.md
  apps/cortex-code/docs/cortex-code-docs/faq.md
  apps/cortex-code/docs/cortex-code-docs/policy.md
  apps/cortex-code/docs/cortex-code-docs/terms.md
  apps/cortex-marketplace-api/LICENSE
  apps/cortex-marketplace-api/package.json
  apps/cortex-marketplace-api/src/install.test.ts
  apps/cortex-marketplace/LICENSE
  apps/cortex-marketplace/integration.test.ts
  apps/cortex-marketplace/package.json
  apps/cortex-os/LICENSE
  apps/cortex-os/package.json
  apps/cortex-os/packages/evidence/analytics/package.json
  apps/cortex-os/packages/evidence/package.json
  apps/cortex-os/packages/evidence/validator/package.json
  apps/cortex-os/packages/ingest/package.json
  apps/cortex-os/packages/planner/core/package.json
  apps/cortex-os/packages/planner/package.json
  apps/cortex-py/LICENSE
  apps/cortex-py/pyproject.toml
  apps/cortex-webui/LICENSE
  apps/cortex-webui/README.md
  apps/cortex-webui/backend/package.json
  apps/cortex-webui/frontend/package.json
  apps/cortex-webui/package.json
Due: eslint --fix, prettier -w

feat: complete autonomous GitHub apps supervision with PM2 ecosystem configuration
  logs/git-autocommit-error.log
Due: none

chore: include submodule/log updates prior to rebase
  logs/git-autocommit-error.log
Due: none

chore: normalize submodule pointers and logs post-rebase
  logs/git-autocommit-error.log
Due: none

Auto-save: main.py
  packages/mcp/cli/main.py
Due: none

Auto-save: server.py
  packages/mcp/cli/server.py
Due: none

Auto-save: tools.py
  packages/mcp/cli/tools.py
Due: none

Auto-save: circuit_breakers.py
  packages/mcp/core/circuit_breakers.py
Due: none

Auto-save: connection_pool.py
  packages/mcp/core/connection_pool.py
Due: none

Auto-save: server.py
  packages/mcp/core/server.py
Due: none

Auto-save: backup.py
  packages/mcp/infrastructure/backup.py
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx,cjs,mjs}
  prettier -w: any of: *.{ts,tsx,js,jsx,json,md,yml,yaml,css,scss}
