Repository jscraik/Cortex-OS: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, tsc-check, ruff-check, ruff-format

biome-check:
  name: Biome Check
  entry: pnpm biome check --apply
  language: system
  pass_filenames: true

tsc-check:
  name: TypeScript Check
  entry: pnpm tsc --noEmit
  language: system
  pass_filenames: false
  stages:
  - pre-push

ruff-check:
  name: Ruff Check
  entry: uv run ruff check --fix --
  language: system
  pass_filenames: true
  stages:
  - pre-push

ruff-format:
  name: Ruff Format
  entry: uv run ruff format --
  language: system
  pass_filenames: true
  stages:
  - pre-push

Fix syntax errors and add new test files
  LANGGRAPH_INTEGRATION_PLAN.md
  packages/agents/src/MasterAgent.ts
  packages/agents/src/integrations/AGUIBusIntegration.ts
  packages/agents/src/integrations/AgentToolkitBusIntegration.ts
  packages/agents/src/langgraph/streaming.ts
  packages/agents/src/lib/prompt-template-manager.ts
  packages/agents/src/mcp/AgentToolkitMCPTools.ts
  packages/agents/src/server/handlers/agent.handler.ts
  packages/agents/tests/stubs/model-gateway.ts
  packages/agents/tests/unit/n0-shim.integration.test.ts
  packages/agents/tsconfig.json
  packages/agents/vitest.config.ts
  packages/kernel/tests/n0-projection.test.ts
  packages/orchestration/src/intelligence/adaptive-decision-engine.ts
  packages/orchestration/tests/n0-state-contract.spec.ts
  packages/orchestration/tests/n0-state-contract.test.ts
Due: biome-check, tsc-check

feat(docs): consolidate agent instructions to root directory
  .cortex/rules/AGENTS.md
  .cortex/rules/CLAUDE.md
  .cortex/rules/COPILOT-INSTRUCTIONS.md
  .cortex/rules/GEMINI.md
  .cortex/rules/QWEN.md
  .github/copilot-instructions.md
Due: none

feat: enhance LangGraph integration plan with production-ready phases
  LANGGRAPH_INTEGRATION_PLAN.md
Due: none

feat: enhance agentic workflow with Phase 5 Archive across all documentation
  .cortex/rules/RULES_OF_AI.md
  .github/copilot-instructions.md
  AGENTS.md
  GEMINI.md
  QWEN.md
Due: none

test: add automated accessibility coverage
  package.json
  pnpm-lock.yaml
  tests/accessibility/automated-accessibility.spec.ts
Due: biome-check, tsc-check

docs: expand phase 16 thermal orchestration plan
  LANGGRAPH_INTEGRATION_PLAN.md
Due: none

Detail Phase 18 integration testing plan
  LANGGRAPH_INTEGRATION_PLAN.md
Due: none

docs: expand phase 19 code mode task details
  LANGGRAPH_INTEGRATION_PLAN.md
Due: none

Update automated-accessibility.spec.ts
  tests/accessibility/automated-accessibility.spec.ts
Due: biome-check, tsc-check

Update LANGGRAPH_INTEGRATION_PLAN.md
  LANGGRAPH_INTEGRATION_PLAN.md
Due: none

Add LangGraph streaming coordination utilities
  apps/cortex-webui/__tests__/langgraph-streaming.test.ts
  apps/cortex-webui/utils/langgraph-stream.ts
  packages/orchestration/src/index.ts
  packages/orchestration/src/langgraph/streaming.ts
  packages/orchestration/tests/streaming/langgraph-astream.test.ts
  packages/orchestration/tests/streaming/state-events.test.ts
Due: biome-check, tsc-check

feat: add multi-agent langgraph coordination layer
  packages/a2a/src/index.ts
  packages/a2a/src/langgraph/event-bridge.ts
  packages/a2a/tests/langgraph/graph-to-graph-events.test.ts
  packages/orchestration/src/index.ts
  packages/orchestration/src/langgraph/multi-agent-coordinator.ts
  packages/orchestration/tests/multi-agent/agent-handoff.test.ts
  packages/orchestration/tests/multi-agent/distributed-workflows.test.ts
  packages/orchestration/tests/multi-agent/graph-coordination.test.ts
Due: biome-check, tsc-check

Update streaming.ts
  packages/orchestration/src/langgraph/streaming.ts
Due: biome-check, tsc-check

Update multi-agent-coordinator.ts
  packages/orchestration/src/langgraph/multi-agent-coordinator.ts
Due: biome-check, tsc-check

docs: capture LangGraph phase 1-12 worklog and follow-ups
  LANGGRAPH_INTEGRATION_PLAN.md
Due: none

feat: complete phase 14 prompt enhancements
  LANGGRAPH_INTEGRATION_PLAN.md
  packages/agents/src/lib/prompt-template-manager.ts
  packages/agents/tests/prompts/context-adaptation.test.ts
  packages/agents/tests/prompts/effectiveness-tracking.test.ts
  packages/agents/tests/prompts/template-selection.test.ts
Due: biome-check, tsc-check

Update prompt-template-manager.ts
  packages/agents/src/lib/prompt-template-manager.ts
Due: biome-check, tsc-check

feat: add LangGraph integration harness and tests
  README.md
  package.json
  packages/orchestration/src/langgraph/executor.ts
  packages/orchestration/src/langgraph/spool.ts
  scripts/nx-smart.mjs
  scripts/run-langgraph-integration.mjs
  tests/fixtures/langgraph/full-system.json
  tests/integration/failure-scenarios.test.ts
  tests/integration/full-system-langgraph.test.ts
  tests/integration/production-readiness.test.ts
  tests/perf/langgraph-load.test.ts
  tests/setup/langgraph-integration.ts
  tests/utils/a2a-bus.ts
  tests/utils/langgraph-integration.ts
  tests/utils/websocket.ts
Due: biome-check, tsc-check

Detail phase 8 MCP bridge follow-ups
  LANGGRAPH_INTEGRATION_PLAN.md
Due: none

feat(security): integrate cortex-sec planning and tools
  packages/cortex-sec/package.json
  packages/cortex-sec/src/events/cortex-sec-events.ts
  packages/cortex-sec/src/events/security-event-publisher.ts
  packages/cortex-sec/src/index.ts
  packages/cortex-sec/src/mcp/tools.ts
  packages/cortex-sec/src/planning/compliance-strategy.ts
  packages/cortex-sec/tests/planning/compliance-driven-planning.test.ts
  packages/cortex-sec/tests/security-integration/security-scan-tools.test.ts
  packages/orchestration/package.json
  packages/orchestration/src/index.ts
  packages/orchestration/src/mcp/core-adapter.ts
  packages/orchestration/src/mcp/tools.ts
  packages/orchestration/src/security/security-coordinator.ts
  packages/orchestration/src/types.ts
  packages/orchestration/src/utils/agent-selection.ts
  packages/orchestration/src/utils/dsp.ts
  packages/orchestration/tests/security/security-coordinator.test.ts
Due: biome-check, tsc-check

Document MCP workspace progress for Phase 12
  LANGGRAPH_INTEGRATION_PLAN.md
Due: none

Update spool.ts
  packages/orchestration/src/langgraph/spool.ts
Due: biome-check, tsc-check

Update dsp.ts
  packages/orchestration/src/utils/dsp.ts
Due: biome-check, tsc-check

docs: mark phase 16 thermal work complete
  LANGGRAPH_INTEGRATION_PLAN.md
  apps/cortex-py/src/cortex_py.egg-info/SOURCES.txt
  apps/cortex-py/src/cortex_py/a2a/models.py
  apps/cortex-py/src/thermal/__init__.py
  apps/cortex-py/src/thermal/monitor.py
  apps/cortex-py/tests/test_langgraph_thermal_coordinator.py
  packages/orchestration/src/index.ts
  packages/orchestration/src/langgraph/create-cerebrum-graph.ts
  packages/orchestration/src/langgraph/middleware/thermal-guard.ts
  packages/orchestration/src/langgraph/state/thermal-history.ts
  packages/orchestration/src/langgraph/thermal/thermal-policy.ts
  packages/orchestration/src/observability/__tests__/no-telemetry-contracts.test.ts
  packages/orchestration/src/observability/no-telemetry-contracts.ts
  packages/orchestration/tests/langgraph-foundation.test.ts
  packages/orchestration/tests/model-selection.integration.test.ts
  packages/orchestration/tests/policy-guards.test.ts
  packages/orchestration/tests/thermal/__fixtures__/mlx-telemetry.ts
  packages/orchestration/tests/thermal/mlx-thermal-integration.test.ts
  packages/orchestration/tests/thermal/model-fallback.test.ts
  packages/orchestration/tests/thermal/thermal-recovery.test.ts
Due: biome-check, tsc-check, ruff-check, ruff-format

Update model-fallback.test.ts
  packages/orchestration/tests/thermal/model-fallback.test.ts
Due: biome-check, tsc-check

Update monitor.py
  apps/cortex-py/src/thermal/monitor.py
Due: ruff-check, ruff-format

feat: tighten langgraph telemetry and schema rollback safety
  apps/api/src/auth/database-adapter.ts
  apps/api/src/auth/schema-guard.ts
  apps/api/tests/auth/schema-guard.spec.ts
  packages/a2a/tests/streaming/task-event-stream.load.test.ts
  packages/memories/tests/adapters/health-router.failover.spec.ts
  packages/orchestration/src/langgraph/tool-dispatch.ts
  packages/orchestration/tests/n0-state-alignment.contract.test.ts
  packages/orchestration/tests/tool-dispatch.budget.test.ts
  packages/services/orchestration/src/lib/__tests__/executor.retry-metrics.test.ts
  packages/services/orchestration/src/lib/executor.ts
  tests/perf/perf-history.ts
  tests/perf/spool-throughput.test.ts
Due: biome-check, tsc-check

Implement Phase 11 planning and coordination
  LANGGRAPH_INTEGRATION_PLAN.md
  packages/orchestration/src/coordinator/adaptive-coordinator.ts
  packages/orchestration/src/dsp/planning-context-manager.ts
  packages/orchestration/src/langgraph/create-cerebrum-graph.ts
  packages/orchestration/src/langgraph/executor.ts
  packages/orchestration/src/langgraph/planning-orchestrator.ts
  packages/orchestration/src/lib/long-horizon-planner.ts
  packages/orchestration/tests/coordination/adaptive-strategy.test.ts
  packages/orchestration/tests/coordination/structured-planning-integration.test.ts
  packages/orchestration/tests/dsp/context-manager.test.ts
  packages/orchestration/tests/dsp/long-horizon-planner.test.ts
Due: biome-check, tsc-check

Path conditions:
  biome-check: any of: \.(js|jsx|ts|tsx|json|jsonc)$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  .*\.sqlite$|
  .*\.sqlite3$|
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  dist/.*|
  coverage/.*|
  __pycache__/.*|
  \.venv/.*|
  \.mcp-quick-venv/.*|
  mcp-servers/.*|
  test-results/.*|
  playwright-report/.*
)$

  tsc-check: any of: \.(ts|tsx)$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  .*\.sqlite$|
  .*\.sqlite3$|
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  dist/.*|
  coverage/.*|
  __pycache__/.*|
  \.venv/.*|
  \.mcp-quick-venv/.*|
  mcp-servers/.*|
  test-results/.*|
  playwright-report/.*
)$

  ruff-check: any of: \.py$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  .*\.sqlite$|
  .*\.sqlite3$|
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  dist/.*|
  coverage/.*|
  __pycache__/.*|
  \.venv/.*|
  \.mcp-quick-venv/.*|
  mcp-servers/.*|
  test-results/.*|
  playwright-report/.*
)$

  ruff-format: any of: \.py$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  .*\.sqlite$|
  .*\.sqlite3$|
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  dist/.*|
  coverage/.*|
  __pycache__/.*|
  \.venv/.*|
  \.mcp-quick-venv/.*|
  mcp-servers/.*|
  test-results/.*|
  playwright-report/.*
)$

