Repository jscraik/Cortex-OS: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, tsc-check, ruff-check, ruff-format

biome-check:
  name: Biome Check
  entry: pnpm biome check --apply
  language: system
  pass_filenames: true

tsc-check:
  name: TypeScript Check
  entry: pnpm tsc --noEmit
  language: system
  pass_filenames: false
  stages:
  - pre-push

ruff-check:
  name: Ruff Check
  entry: uv run ruff check --fix --
  language: system
  pass_filenames: true
  stages:
  - pre-push

ruff-format:
  name: Ruff Format
  entry: uv run ruff format --
  language: system
  pass_filenames: true
  stages:
  - pre-push

Update docs/dev-productivity-playbook.md
  docs/dev-productivity-playbook.md
Due: none

perf(vscode): optimize TypeScript compilation performance
  .vscode/settings.json
  tsconfig.json
Due: biome-check

chore: declare missing workspace dependencies
  apps/cortex-os/package.json
  packages/a2a/a2a-events/package.json
  packages/agent-toolkit/package.json
  packages/agents/package.json
  packages/cbom/package.json
  packages/cortex-ai-github/package.json
  packages/cortex-semgrep-github/package.json
  packages/cortex-structure-github/package.json
  packages/hooks/package.json
  packages/mcp-registry/package.json
  packages/mcp-server/package.json
  packages/memory-core/package.json
  packages/memory-rest-api/package.json
  packages/model-gateway/package.json
  packages/orchestration/package.json
  packages/prp-runner/package.json
  packages/rag/package.json
  packages/security/package.json
  packages/simlab/package.json
  simple-tests/package.json
Due: biome-check

fix: adjust orchestration agents dependency
  packages/orchestration/package.json
Due: biome-check

chore(agents): remove legacy volt agent references
  packages/agents/COMPREHENSIVE_IMPROVEMENTS_REPORT.md
  packages/agents/CRITICAL_CODE_REVIEW_REPORT.md
  packages/agents/PRODUCTION_READINESS_AUDIT.md
  packages/agents/PRODUCTION_READINESS_AUDIT_REPORT.md
  packages/agents/PRODUCTION_READINESS_COMPLETION_REPORT.md
  packages/agents/README.md
  packages/agents/code-review-issues.json
  packages/agents/package-lock.json
  packages/agents/tsconfig.json
  project-documentation/A2A_NATIVE_COMMUNICATION_AND_MCP_BRIDGE_COMPLETION_STATUS.md
Due: biome-check

Restore memory store env helpers
  packages/memories/package.json
  packages/memories/src/config/memory-provider-store.ts
  packages/memories/src/config/store-from-env.ts
  packages/memories/tests/legacy-adapters.test.ts
  packages/memories/tests/store-from-env.health.spec.ts
Due: biome-check, tsc-check

Update packages/memories/src/config/memory-provider-store.ts
  packages/memories/src/config/memory-provider-store.ts
Due: biome-check, tsc-check

fix: harden remote tool proxy config
  packages/mcp-bridge/src/index.ts
  packages/mcp-bridge/src/runtime/remote-proxy.ts
Due: biome-check, tsc-check

Update packages/mcp-bridge/src/runtime/remote-proxy.ts
  packages/mcp-bridge/src/runtime/remote-proxy.ts
Due: biome-check, tsc-check

refactor(mcp-core): repair type pipeline and local tooling
  packages/mcp-core/package.json
  packages/mcp-core/src/client.ts
  packages/mcp-core/src/contracts/checkpoint.ts
  packages/mcp-core/src/lib/checkpoint-manager.ts
  packages/mcp-core/src/lib/safe-fetch.ts
  packages/mcp-core/src/pool-manager.ts
  packages/mcp-core/src/tools/checkpoint-tools.ts
  packages/mcp-core/src/tools/coordination-tools.ts
  packages/mcp-core/src/tools/multiedit-tool.ts
  packages/mcp-core/src/tools/web-fetch-tool.ts
  packages/mcp-core/src/tools/web-search-tool.ts
  packages/mcp-core/src/tools/workspace-tools.ts
  packages/mcp-core/src/validation.ts
  packages/mcp-core/tsconfig.json
Due: biome-check, tsc-check

chore: suppress memory-core type errors
  packages/a2a/src/mcp/tools.ts
  packages/a2a/src/outbox-integration.ts
  packages/memory-core/src/caching/DistributedCache.ts
  packages/memory-core/src/context-graph/ContextPackService.ts
  packages/memory-core/src/database/DatabaseOptimizer.ts
  packages/memory-core/src/layers/short-term/ShortTermMemoryStore.ts
  packages/memory-core/src/ml/MLOptimizationManager.ts
  packages/memory-core/src/precomputation/QueryPrecomputer.ts
  packages/memory-core/src/retrieval/QdrantHybrid.ts
  packages/memory-core/src/retrieval/contextAssembler.ts
  packages/memory-core/src/retrieval/expandGraph.ts
  packages/memory-core/src/scaling/AutoScalingManager.ts
  packages/memory-core/src/services/GraphRAGService.ts
  packages/memory-core/src/services/external/MCPKnowledgeProvider.ts
  packages/memory-core/src/streaming/StreamingResponse.ts
  packages/memory-core/types/cortex-shims.d.ts
  packages/memory-core/types/prisma-client.d.ts
Due: biome-check, tsc-check

feat: add qwen3-vl cloud model to hybrid routing
  config/hybrid-model-enforcement.json
  config/hybrid-model-strategy.json
  config/hybrid.env
  config/model-integration-strategy.ts
  config/ollama-models.json
  config/ollama-v012-integration.ts
  docs/OLLAMA_V012_FEATURES.md
  docs/OLLAMA_V012_INTEGRATION_SUMMARY.md
  packages/orchestration/src/config/__tests__/hybrid-model-integration.test.ts
  packages/orchestration/src/config/hybrid-model-integration.ts
Due: biome-check, tsc-check

Update workspace-tools.ts
  packages/mcp-core/src/tools/workspace-tools.ts
Due: biome-check, tsc-check

Update coordination-tools.ts
  packages/mcp-core/src/tools/coordination-tools.ts
Due: biome-check, tsc-check

Update checkpoint-tools.ts
  packages/mcp-core/src/tools/checkpoint-tools.ts
Due: biome-check, tsc-check

Update checkpoint-manager.ts
  packages/mcp-core/src/lib/checkpoint-manager.ts
Due: biome-check, tsc-check

Align security documentation with OWASP ASVS
  SECURITY.md
  packages/security/README.md
  packages/security/docs/security-overview.md
  packages/security/docs/security.md
Due: none

fix(mcp-core): restore typecheck and clean build output
  packages/mcp-core/package.json
  packages/mcp-core/src/pool-manager.ts
  packages/mcp-core/src/tools/checkpoint-tools.ts
  packages/mcp-core/src/tools/coordination-tools.ts
  packages/mcp-core/src/tools/multiedit-tool.ts
  packages/mcp-core/src/tools/workspace-tools.ts
  packages/mcp-core/src/types/external-modules.d.ts
  packages/mcp-core/src/validation.ts
  packages/mcp-core/tsconfig.json
Due: biome-check, tsc-check

Update security-overview.md
  packages/security/docs/security-overview.md
Due: none

Update security.md
  packages/security/docs/security.md
Due: none

Update SECURITY.md
  SECURITY.md
Due: none

Remove unsupported MLX binding to fix pnpm install
  docs/mlx.md
  package.json
  pnpm-lock.yaml
  simple-tests/mlx-bindings.test.ts
  tests/mlx.spec.ts
Due: biome-check, tsc-check

Update mlx.md
  docs/mlx.md
Due: none

Add review documenting Math.random policy violations
  .cortex/reviews/8fa8bb6a0d16aaa4544501bf143e0dfe2b591249/issues.json
  .cortex/reviews/8fa8bb6a0d16aaa4544501bf143e0dfe2b591249/review.md
Due: biome-check

Update issues.json
  .cortex/reviews/8fa8bb6a0d16aaa4544501bf143e0dfe2b591249/issues.json
Due: biome-check

feat: replace Math.random usage with secure helpers
  packages/mcp-core/src/tools/task-tool.ts
  packages/mcp-core/src/tools/todo-write-tool.ts
  packages/mcp-core/src/utils/secure-random.ts
  packages/mcp-core/tests/secure-id.test.ts
  packages/memories/src/adapters/rest-api/rest-adapter.ts
  packages/memories/src/adapters/rest-api/store-adapter.ts
  packages/memories/src/adapters/store.external-sqlite.ts
  packages/memories/src/adapters/store.lifecycle.ts
  packages/memories/src/adapters/store.secure.ts
  packages/memories/src/adapters/store.streaming.ts
  packages/memories/src/index.ts
  packages/memories/src/monitoring/cli.ts
  packages/memories/src/monitoring/metrics-collector.ts
  packages/memories/src/observability/provider.ts
  packages/memories/src/observability/types.ts
  packages/memories/src/utils/secure-random.ts
  packages/memories/tests/monitoring/metrics-collector.test.ts
  packages/memories/tests/observability/provider.test.ts
  packages/memories/tests/secure-random.test.ts
  packages/orchestration/src/langgraph/context-graph/create-context-graph.ts
  packages/orchestration/tests/langgraph/langgraph-slice.test.ts
  packages/workflow-orchestrator/src/__tests__/workflow-id.test.ts
  packages/workflow-orchestrator/src/orchestrator/WorkflowEngine.ts
  packages/workflow-orchestrator/src/utils/secure-random.ts
  project-documentation/math-random-remediation-plan.md
Due: biome-check, tsc-check

Update secure-random.ts
  packages/workflow-orchestrator/src/utils/secure-random.ts
Due: biome-check, tsc-check

fix: resolve lint failures in test suites
  config/eslint-security.config.js
  eslint.config.js
  tests/scripts/typescript-config.test.ts
  tests/scripts/typescript-project-references.test.ts
  tests/scripts/typescript-templates.test.ts
  tests/security/context-graph-integration/owasp-llm-top10.test.ts
  tests/security/redis-fixes-validation.test.ts
  tests/tdd-coach/phase2-comprehensive-validation.test.ts
  tests/toolkit/comprehensive-validation.test.ts
Due: biome-check, tsc-check

fix: resolve ref-rag type definitions and middleware imports
  packages/agents/src/auth/middleware.ts
  packages/agents/src/communications/email-notifier.ts
  packages/agents/src/features/admin-api.ts
  packages/agents/tsconfig.json
  packages/rag/src/mcp/tools.ts
  packages/rag/src/pipeline/ingest.ts
  packages/rag/src/ref-rag/budgets.ts
  packages/rag/src/ref-rag/index.ts
  packages/rag/src/ref-rag/pipeline.ts
  packages/rag/src/ref-rag/query-guard.ts
  packages/rag/src/ref-rag/relevance-policy.ts
  packages/rag/src/ref-rag/types.ts
  tsconfig.json
Due: biome-check, tsc-check

Update comprehensive-validation.test.ts
  tests/toolkit/comprehensive-validation.test.ts
Due: biome-check, tsc-check

Update phase2-comprehensive-validation.test.ts
  tests/tdd-coach/phase2-comprehensive-validation.test.ts
Due: biome-check, tsc-check

Path conditions:
  biome-check: any of: \.(js|jsx|ts|tsx|json|jsonc)$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  .*\.sqlite$|
  .*\.sqlite3$|
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  dist/.*|
  coverage/.*|
  __pycache__/.*|
  \.venv/.*|
  \.mcp-quick-venv/.*|
  mcp-servers/.*|
  test-results/.*|
  playwright-report/.*
)$

  tsc-check: any of: \.(ts|tsx)$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  .*\.sqlite$|
  .*\.sqlite3$|
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  dist/.*|
  coverage/.*|
  __pycache__/.*|
  \.venv/.*|
  \.mcp-quick-venv/.*|
  mcp-servers/.*|
  test-results/.*|
  playwright-report/.*
)$

  ruff-check: any of: \.py$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  .*\.sqlite$|
  .*\.sqlite3$|
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  dist/.*|
  coverage/.*|
  __pycache__/.*|
  \.venv/.*|
  \.mcp-quick-venv/.*|
  mcp-servers/.*|
  test-results/.*|
  playwright-report/.*
)$

  ruff-format: any of: \.py$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  .*\.sqlite$|
  .*\.sqlite3$|
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  dist/.*|
  coverage/.*|
  __pycache__/.*|
  \.venv/.*|
  \.mcp-quick-venv/.*|
  mcp-servers/.*|
  test-results/.*|
  playwright-report/.*
)$

