Repository jscraik/Cortex-OS: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, tsc-check, ruff-check, ruff-format

biome-check:
  name: Biome Check
  entry: pnpm biome check --apply
  language: system
  pass_filenames: true

tsc-check:
  name: TypeScript Check
  entry: pnpm tsc --noEmit
  language: system
  pass_filenames: false
  stages:
  - pre-push

ruff-check:
  name: Ruff Check
  entry: uv run ruff check --fix --
  language: system
  pass_filenames: true
  stages:
  - pre-push

ruff-format:
  name: Ruff Format
  entry: uv run ruff format --
  language: system
  pass_filenames: true
  stages:
  - pre-push

fix: Python import ordering
  python/src/cortex_mlx/mcp/base.py
Due: ruff-check, ruff-format

fix: resolve Python type annotations and import errors
  python/src/cortex_mlx/mcp_client.py
  python/src/cortex_mlx/router.py
  python/src/cortex_mlx/testing/mcp.py
Due: ruff-check, ruff-format

refactor(cortex-code): standardize Rust MCP structure to mirror upstream codex-rs
  apps/cortex-code/mcp-server/src/tools/echo.rs
  apps/cortex-code/mcp-server/src/tools/mod.rs
  libs/typescript/accessibility/tsconfig.tsbuildinfo
  libs/typescript/lib/tsconfig.tsbuildinfo
  packages/security/.env.local
Due: none

chore: update build artifacts and documentation
  packages/rag/tsconfig.tsbuildinfo
  project-documentation/A2A_NATIVE_COMMUNICATION_AND_MCP_BRIDGE_ALL_PACKAGES_SUMMARY.md
Due: none

docs: complete A2A integration documentation updates
  .memory/logs/2025-09-17T11-00-09-112Z-quick.jsonl
  commitlint.config.cjs
  project-documentation/A2A_NATIVE_COMMUNICATION_AND_MCP_BRIDGE_ALL_PACKAGES_SUMMARY.md
Due: none

Update CortexAgent.ts
  packages/agents/src/CortexAgent.ts
Due: biome-check, tsc-check

Update StreamProcessor.ts
  packages/agents-backup/src/core/StreamProcessor.ts
Due: biome-check, tsc-check

Update cerebrum.yaml with Cortex-OS specific instructions and AGENTS.md compliance
  .cortex/library/personas/cerebrum.yaml
Due: none

feat: update model targets to prioritize GLM-4.5 and set MLX provider
  .cortex/library/packs/roles/prp-runner/agentic-system-architect.yaml
  .cortex/library/packs/roles/prp-runner/backend-engineer.yaml
  .cortex/library/packs/roles/prp-runner/ci-quality-gates-enforcer.yaml
  .cortex/library/packs/roles/prp-runner/code-reviewer.yaml
  .cortex/library/packs/roles/prp-runner/commander-subcommand-architect.yaml
  .cortex/library/packs/roles/prp-runner/data-scientist.yaml
  .cortex/library/packs/roles/prp-runner/debugger.yaml
  .cortex/library/packs/roles/prp-runner/devops-deployment-engineer.yaml
  .cortex/library/packs/roles/prp-runner/documentation-lead.yaml
  .cortex/library/packs/roles/prp-runner/feature-documentor-agent.yaml
  .cortex/library/packs/roles/prp-runner/frontend-engineer-ai.yaml
  .cortex/library/packs/roles/prp-runner/polisher-agent.yaml
  .cortex/library/packs/roles/prp-runner/prd-writer.yaml
  .cortex/library/packs/roles/prp-runner/product-manager.yaml
  .cortex/library/packs/roles/prp-runner/product-spec-generator.yaml
  .cortex/library/packs/roles/prp-runner/python-backend-dev.yaml
  .cortex/library/packs/roles/prp-runner/qa-test-automation-engineer.yaml
  .cortex/library/packs/roles/prp-runner/react-nextjs-architect.yaml
  .cortex/library/packs/roles/prp-runner/react-typescript-specialist.yaml
  .cortex/library/packs/roles/prp-runner/reqing-ball.yaml
  .cortex/library/packs/roles/prp-runner/security-analyst.yaml
  .cortex/library/packs/roles/prp-runner/system-architect.yaml
  .cortex/library/packs/roles/prp-runner/test-automation.yaml
  .cortex/library/packs/roles/prp-runner/ui-designer.yaml
  .cortex/library/packs/roles/prp-runner/ux-ui-design-architect.yaml
  .cortex/library/personas/cerebrum.yaml
Due: none

fix(agents): resolve TypeScript errors and implement graceful sqlite3 fallback
  packages/agents/src/langgraph/checkpointing.ts
  project-documentation/cortex-os-asbr-lite-refactor-tdd-plan.md
Due: biome-check, tsc-check

chore: update submodules and marketplace config
  apps/cortex-marketplace/tsconfig.json
Due: biome-check

chore: add remaining package updates and subagents
  packages/agents/src/subagents/SubagentTool.ts
  packages/asbr/src/sdk/event-source.node.ts
  packages/asbr/tsconfig.json
Due: biome-check, tsc-check

chore: add missing tool error handling
  packages/asbr/src/sdk/index.ts
  packages/orchestration/src/mcp/tool-errors.ts
Due: biome-check, tsc-check

fix(memories): resolve failing tests and update documentation
  packages/memories/src/a2a/event-publisher.ts
  packages/memories/tests/a2a/store-wrapper.test.ts
  project-documentation/memories-package-tdd-plan.md
Due: biome-check, tsc-check

chore(repo): align orchestration contracts tests; fix memories security policy; migrate ESLint ignores [skip hooks]
  packages/cortex-mcp/cortex_fastmcp_server_v2.py
  packages/gateway/tsconfig.tsbuildinfo
  packages/memories/src/adapters/embedder.mlx.ts
  packages/memories/src/adapters/rest-api/factory.ts
  packages/memories/src/adapters/rest-api/index.ts
  packages/orchestration/src/intelligence/basic-scheduler.ts
  packages/orchestration/src/master-agent-loop/primitive-tool-layer.ts
  packages/orchestration/src/mcp/tools.ts
  packages/rag/src/integrations/agents-shim.ts
  packages/rag/tsconfig.tsbuildinfo
  scripts/vitest-safe.mjs
Due: biome-check, tsc-check, ruff-check, ruff-format

chore(repo): sync working changes before gate runs
  packages/a2a/a2a-core/src/schema-registry.ts
  packages/agents/src/subagents/BaseSubagent.ts
  packages/cortex-mcp/cortex_fastmcp_server_v2.py
  packages/memories/package.json
  packages/memories/src/adapters/metadata.in-memory.ts
  packages/memories/src/adapters/store.versioned.ts
  packages/memories/src/domain/migration.ts
  packages/memories/src/index.ts
  packages/memories/src/migrations/predefined-migrations.ts
  packages/memories/src/service/migration-service.ts
  packages/memories/src/tools/migration-cli.ts
  packages/memories/tests/migration/migration-manager.test.ts
  packages/memories/tests/migration/versioned-store.test.ts
  packages/orchestration/src/master-agent-loop/execution-tool-layer.ts
  packages/orchestration/src/master-agent-loop/primitive-tool-layer.ts
Due: biome-check, tsc-check, ruff-check, ruff-format

feat: Complete Phase 4.1 Agent Network - 100% test coverage
  packages/orchestration/PHASE_3_5_COMPLETION_REPORT.md
  packages/orchestration/phase-3-5-validation.js
  packages/orchestration/src/master-agent-loop/__tests__/tool-orchestrator.test.ts
  packages/orchestration/src/master-agent-loop/__tests__/tool-security-basic.test.ts
  packages/orchestration/src/master-agent-loop/__tests__/tool-security-layer.test.ts
  packages/orchestration/src/master-agent-loop/agent-network.ts
  packages/orchestration/src/master-agent-loop/execution-tool-layer.ts
  packages/orchestration/src/master-agent-loop/primitive-tool-layer.ts
  packages/orchestration/src/master-agent-loop/tool-orchestration-error.ts
  packages/orchestration/src/master-agent-loop/tool-orchestrator.ts
  packages/orchestration/src/master-agent-loop/tool-security-layer.ts
  packages/orchestration/src/master-agent-loop/tool-validation-error.ts
Due: biome-check, tsc-check

feat: Add MLX Service Bridge with comprehensive TDD tests
  packages/orchestration/src/master-agent-loop/__tests__/mlx-service-bridge.test.ts
  packages/orchestration/src/master-agent-loop/mlx-service-bridge.ts
Due: biome-check, tsc-check

chore: add remaining untracked files and submodule updates
  packages/agents/tests/ollama-specialization-tier.test.ts
  packages/orchestration/docs/MLX_MODELS_CONFIG.md
  packages/orchestration/src/master-agent-loop/agent-registry.ts
Due: biome-check, tsc-check

chore: commit staged agent-registry.ts changes
  packages/orchestration/src/master-agent-loop/agent-registry.ts
Due: biome-check, tsc-check

Path conditions:
  biome-check: any of: \.(js|jsx|ts|tsx|json|jsonc)$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  .*\.sqlite$|
  .*\.sqlite3$|
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  dist/.*|
  coverage/.*|
  __pycache__/.*|
  \.venv/.*|
  \.mcp-quick-venv/.*|
  mcp-servers/.*|
  test-results/.*|
  playwright-report/.*
)$

  tsc-check: any of: \.(ts|tsx)$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  .*\.sqlite$|
  .*\.sqlite3$|
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  dist/.*|
  coverage/.*|
  __pycache__/.*|
  \.venv/.*|
  \.mcp-quick-venv/.*|
  mcp-servers/.*|
  test-results/.*|
  playwright-report/.*
)$

  ruff-check: any of: \.py$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  .*\.sqlite$|
  .*\.sqlite3$|
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  dist/.*|
  coverage/.*|
  __pycache__/.*|
  \.venv/.*|
  \.mcp-quick-venv/.*|
  mcp-servers/.*|
  test-results/.*|
  playwright-report/.*
)$

  ruff-format: any of: \.py$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  .*\.sqlite$|
  .*\.sqlite3$|
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  dist/.*|
  coverage/.*|
  __pycache__/.*|
  \.venv/.*|
  \.mcp-quick-venv/.*|
  mcp-servers/.*|
  test-results/.*|
  playwright-report/.*
)$

