Repository jscraik/Cortex-OS: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, tsc-check, ruff-check, ruff-format

.pre-commit-config.yaml:

# Pre-commit hooks for quality gates and automated checks
repos:
  # Local hooks using project tools
  - repo: local
    hooks:
      # Biome linting and formatting with command validation
      - id: biome-check
        name: Biome Check
        entry: pnpm biome check --apply
        language: system
        files: \.(js|jsx|ts|tsx|json|jsonc)$
        pass_filenames: true

      # TypeScript type checking with validation
      - id: tsc-check
        name: TypeScript Check
        entry: pnpm tsc --noEmit
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
        stages: [pre-push]

      # Python formatting and linting with uv validation
      - id: ruff-check
        name: Ruff Check
        entry: uv run ruff check --fix --
        language: system
        files: \.py$
        pass_filenames: true
        stages: [pre-push]

      - id: ruff-format
        name: Ruff Format
        entry: uv run ruff format --
        language: system
        files: \.py$
        pass_filenames: true
        stages: [pre-push]

      # Security checks with proper error handling
      - id: security-audit
        name: Security Audit
        entry: pnpm audit --audit-level moderate || echo "Security audit completed with warnings"
        language: system
        pass_filenames: false
        stages: [pre-push]

      # License compliance with validation
      - id: license-check
        name: License Check
        entry: pnpm run license:check || echo "License check completed with warnings"
        language: system
        pass_filenames: false
        stages: [pre-push]

  # Git hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: \.(md|patch)$
      - id: end-of-file-fixer
        exclude: \.(patch|svg)$
      - id: check-yaml
        exclude: \.gitlab-ci\.yml$
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: detect-private-key
        exclude: LLMs\.txt$
      - id: check-case-conflict
      - id: mixed-line-ending

  # Dockerfile linting
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker
        entry: hadolint
        language: system
        files: Dockerfile.*

  # Commit message validation
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.29.0
    hooks:
      - id: commitizen
        stages: [commit-msg]

# Global excludes
exclude: |
  (?x)^(
    .*\.lock$|
    .*\.log$|
    .*\.sqlite$|
    .*\.sqlite3$|
    node_modules/.*|
    \.git/.*|
    \.turbo/.*|
    \.next/.*|
    dist/.*|
    coverage/.*|
    __pycache__/.*|
    \.venv/.*|
    \.mcp-quick-venv/.*|
    mcp-servers/.*|
    test-results/.*|
    playwright-report/.*
  )$

# Configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ""
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: weekly
  skip: []
  submodules: false

feat: hydrate connectors manifest across agents and MCP
  packages/agents/src/connectors/registry.ts
  packages/agents/src/connectors/service-map-client.ts
  packages/agents/src/connectors/telemetry.ts
  packages/agents/src/subagents/ExecutionSurfaceAgent.ts
  packages/agents/src/subagents/__tests__/ExecutionSurfaceAgent.connectors.test.ts
  packages/mcp-bridge/src/runtime/remote-proxy.ts
  packages/mcp/src/connectors/index.ts
  packages/mcp/src/connectors/manager.test.ts
  packages/mcp/src/connectors/manager.ts
  packages/mcp/src/connectors/metrics.ts
  packages/mcp/src/connectors/service-map.ts
  packages/protocol/src/connectors/service-map.ts
  packages/protocol/src/index.ts
  packages/protocol/tests/connectors.service-map.test.ts
Due: biome-check, tsc-check

Update packages/agents/src/subagents/ExecutionSurfaceAgent.ts
  packages/agents/src/subagents/ExecutionSurfaceAgent.ts
Due: biome-check, tsc-check

Update packages/mcp/src/connectors/metrics.ts
  packages/mcp/src/connectors/metrics.ts
Due: biome-check, tsc-check

Update packages/agents/src/connectors/telemetry.ts
  packages/agents/src/connectors/telemetry.ts
Due: biome-check, tsc-check

Update packages/agents/src/subagents/__tests__/ExecutionSurfaceAgent.connectors.test.ts
  packages/agents/src/subagents/__tests__/ExecutionSurfaceAgent.connectors.test.ts
Due: biome-check, tsc-check

feat(python): harden mlx adapter routing
  python/pyproject.toml
  python/src/cortex_mlx/router.py
  python/tests/test_model_router_failover.py
Due: ruff-check, ruff-format

feat(connectors): add connectors runtime and tests
  packages/connectors/README.md
  packages/connectors/pyproject.toml
  packages/connectors/src/cortex_connectors/__init__.py
  packages/connectors/src/cortex_connectors/auth.py
  packages/connectors/src/cortex_connectors/cli.py
  packages/connectors/src/cortex_connectors/instructor_proxy.py
  packages/connectors/src/cortex_connectors/manifest.py
  packages/connectors/src/cortex_connectors/registry.py
  packages/connectors/src/cortex_connectors/server.py
  packages/connectors/src/cortex_connectors/settings.py
  packages/connectors/src/cortex_connectors/signing.py
  packages/connectors/src/cortex_connectors/sse.py
  packages/connectors/src/cortex_connectors/telemetry.py
  packages/connectors/tests/conftest.py
  packages/connectors/tests/test_auth.py
  packages/connectors/tests/test_cli.py
  packages/connectors/tests/test_instructor_proxy.py
  packages/connectors/tests/test_manifest.py
  packages/connectors/tests/test_registry.py
  packages/connectors/tests/test_server.py
  packages/connectors/tests/test_settings.py
  packages/connectors/tests/test_telemetry.py
Due: ruff-check, ruff-format

Update packages/connectors/src/cortex_connectors/registry.py
  packages/connectors/src/cortex_connectors/registry.py
Due: ruff-check, ruff-format

Update packages/connectors/tests/test_server.py
  packages/connectors/tests/test_server.py
Due: ruff-check, ruff-format

Update packages/asbr/tests/utils/connectors-manifest.ts
  packages/asbr/tests/utils/connectors-manifest.ts
Due: biome-check, tsc-check

Update packages/asbr/src/connectors/manifest-loader.ts
  packages/asbr/src/connectors/manifest-loader.ts
Due: biome-check, tsc-check

Update packages/asbr/src/connectors/signature.ts
  packages/asbr/src/connectors/signature.ts
Due: biome-check, tsc-check

Update python/tests/test_model_router_failover.py
  python/tests/test_model_router_failover.py
Due: ruff-check, ruff-format

Update packages/mcp/src/connectors/manager.test.ts
  packages/mcp/src/connectors/manager.test.ts
Due: biome-check, tsc-check

docs: add MCP ecosystem review
  reports/code-review/mcp-ecosystem-review.md
Due: none

feat: add shared connectors manifest schema
  config/connectors.manifest.json
  packages/asbr/src/api/server.ts
  packages/asbr/src/connectors/manifest-schema.ts
  packages/asbr/src/connectors/manifest.ts
  packages/asbr/src/sdk/index.ts
  packages/asbr/tests/integration/api-endpoints.test.ts
  packages/asbr/tests/security/owasp-llm-compliance.test.ts
  packages/asbr/tests/unit/connectors/connectors-manifest.test.ts
  packages/connectors/README.md
  packages/connectors/src/cortex_connectors/__init__.py
  packages/connectors/src/cortex_connectors/manifest.py
  packages/connectors/src/cortex_connectors/models.py
  packages/connectors/tests/conftest.py
  packages/connectors/tests/test_manifest.py
  schemas/connectors-manifest.schema.json
Due: biome-check, tsc-check, ruff-check, ruff-format

Update packages/connectors/src/cortex_connectors/models.py
  packages/connectors/src/cortex_connectors/models.py
Due: ruff-check, ruff-format

docs(governance): add vision enforcement analysis
  tasks/vision-enforcement-analysis.md
Due: none

Add Wikidata connector smoke coverage
  packages/agents/tests/ExecutionSurfaceAgent.connectors.test.ts
  packages/connectors/README.md
  packages/connectors/tests/conftest.py
  packages/connectors/tests/test_registry.py
  packages/connectors/tests/test_server.py
  packages/mcp/src/connectors/manager.test.ts
Due: biome-check, tsc-check, ruff-check, ruff-format

Add Wikidata connector and align manifest schema
  config/connectors.manifest.json
  docs/connectors/README.md
  docs/runbooks/connectors.md
  packages/agents/src/connectors/registry.ts
  packages/agents/src/subagents/ExecutionSurfaceAgent.ts
  packages/agents/src/subagents/__tests__/ExecutionSurfaceAgent.connectors.test.ts
  packages/asbr/src/api/server.ts
  packages/asbr/src/connectors/manifest-schema.ts
  packages/asbr/src/connectors/manifest.ts
  packages/asbr/tests/integration/api-endpoints.test.ts
  packages/asbr/tests/unit/connectors/connectors-manifest.test.ts
  packages/connectors/src/cortex_connectors/__init__.py
  packages/connectors/src/cortex_connectors/manifest.py
  packages/connectors/src/cortex_connectors/models.py
  packages/connectors/src/cortex_connectors/registry.py
  packages/mcp/src/connectors/manager.test.ts
  packages/mcp/src/connectors/manager.ts
  packages/protocol/src/connectors/service-map.ts
  packages/protocol/tests/connectors.service-map.test.ts
  schemas/connectors-manifest.schema.json
Due: biome-check, tsc-check, ruff-check, ruff-format

feat(connectors): add Wikidata manifest entry
  config/connectors.manifest.json
  docs/connectors/README.md
  libs/typescript/asbr-schemas/src/index.ts
  packages/asbr/src/connectors/manifest-loader.ts
  packages/asbr/src/connectors/manifest-schema.ts
  packages/asbr/src/connectors/manifest.ts
  packages/asbr/tests/integration/api-endpoints.test.ts
  packages/asbr/tests/unit/connectors/connectors-manifest.test.ts
  packages/asbr/tests/utils/connectors-manifest.ts
  packages/connectors/src/cortex_connectors/__init__.py
  packages/connectors/src/cortex_connectors/manifest.py
  packages/connectors/src/cortex_connectors/models.py
  packages/connectors/tests/test_manifest.py
  schemas/connectors-manifest.schema.json
Due: biome-check, tsc-check, ruff-check, ruff-format

feat(connectors): align manifest contract with service map
  config/connectors.manifest.json
  docs/connectors/README.md
  libs/typescript/asbr-schemas/src/index.ts
  packages/asbr/src/connectors/manifest-loader.ts
  packages/asbr/src/connectors/manifest-schema.ts
  packages/asbr/src/connectors/manifest.ts
  packages/asbr/src/connectors/signature.ts
  packages/asbr/tests/integration/api-endpoints.test.ts
  packages/asbr/tests/unit/connectors/connectors-manifest.test.ts
  packages/asbr/tests/utils/connectors-manifest.ts
  packages/connectors/src/cortex_connectors/manifest.py
  packages/connectors/src/cortex_connectors/models.py
  packages/connectors/src/cortex_connectors/registry.py
  packages/connectors/tests/test_manifest.py
  packages/protocol/tests/connectors.service-map.test.ts
  schemas/connectors-manifest.schema.json
  testdata/connectors/wikidata-service-map.json
  testdata/connectors/wikidata.manifest.json
Due: biome-check, tsc-check, ruff-check, ruff-format

Update packages/connectors/README.md
  packages/connectors/README.md
Due: none

Add Wikidata fact planning tests and tighten remote filters
  docs/graphrag.md
  packages/agents/src/connectors/registry.ts
  packages/agents/src/subagents/ExecutionSurfaceAgent.ts
  packages/agents/src/subagents/__tests__/ExecutionSurfaceAgent.fact-intent.test.ts
  packages/rag/__tests__/remote-mcp.wikidata-preference.test.ts
  packages/rag/src/integrations/remote-mcp.ts
  project-documentation/RAG_TDD_CHECKLIST.md
Due: biome-check, tsc-check

feat(mcp-registry): import marketplace servers
  packages/mcp-registry/README.md
  packages/mcp-registry/docs/examples.md
  packages/mcp-registry/docs/providers-setup.md
  packages/mcp-registry/src/index.ts
  packages/mcp-registry/src/mcp/tools.ts
  packages/mcp-registry/src/providers/mcpmarket.ts
  packages/mcp-registry/tests/mcp-core-integration.test.ts
  packages/mcp-registry/tests/mcp-marketplace-client.test.ts
  packages/mcp-registry/tests/mcp-marketplace-integration.test.ts
  packages/mcp-registry/tests/mcp-marketplace-tool.test.ts
Due: biome-check, tsc-check

Update mcpmarket.ts
  packages/mcp-registry/src/providers/mcpmarket.ts
Due: biome-check, tsc-check

fix(security): complete CodeQL modules 7-10 - ReDoS, loop bounds, prototype pollution
  apps/cortex-os/packages/local-memory/src/retrieval/index.ts
  apps/cortex-os/packages/local-memory/tests/retrieval-security.test.ts
  config/connectors.manifest.json
  docs/connectors/README.md
  libs/typescript/asbr-schemas/src/index.ts
  packages/agents/src/prompt-registry.ts
  packages/agents/tests/prompt-registry.security.test.ts
  packages/asbr/src/connectors/manifest-loader.ts
  packages/asbr/src/connectors/manifest-schema.ts
  packages/asbr/src/connectors/manifest.ts
  packages/asbr/tests/unit/connectors/connectors-manifest.test.ts
  packages/asbr/tests/utils/connectors-manifest.ts
  packages/connectors/src/cortex_connectors/__init__.py
  packages/connectors/src/cortex_connectors/manifest.py
  packages/connectors/src/cortex_connectors/models.py
  packages/connectors/tests/conftest.py
  packages/connectors/tests/test_manifest.py
  packages/memory-core/src/providers/LocalMemoryProvider.ts
  packages/memory-core/tests/LocalMemoryProvider.security.test.ts
  packages/workflow-orchestrator/src/cli/commands/profile.ts
  packages/workflow-orchestrator/tests/profile.security.test.ts
  schemas/connectors-manifest.schema.json
  scripts/memory/memory-regression-guard.mjs
  tasks/codeql-security-fixes/implementation-checklist.md
  tasks/codeql-security-fixes/modules-7-10-completion.md
  tasks/connectors-manifest-runtime/implementation-plan.md
Due: biome-check, tsc-check, ruff-check, ruff-format

docs(security): add CodeQL modules 7-10 completion documentation
  CHANGELOG.md
  tasks/codeql-security-fixes/PROGRESS_SUMMARY.md
Due: none

docs(security): add session summary for CodeQL modules 7-10
  tasks/codeql-security-fixes/SESSION_SUMMARY.md
Due: none

fix(review): apply code review recommendations
  packages/workflow-orchestrator/src/cli/commands/profile.ts
  scripts/memory/memory-regression-guard.mjs
Due: biome-check, tsc-check

docs(review): add final code review status - all issues resolved
  review-final.md
Due: none

docs(review): add code review artifacts from agent analysis
  issues.json
  patch_hints.diff
  review.md
Due: biome-check

fix(build): resolve Nx build blockers and TypeScript composite issues
  .github/prompts/spec-designer.prompt.md
  apps/chatgpt-dashboard/src/__tests__/ConnectorDashboard.test.tsx
  apps/chatgpt-dashboard/src/components/ConnectorDashboard.tsx
  apps/chatgpt-dashboard/src/hooks/__tests__/useConnectorState.test.tsx
  libs/typescript/contracts/tsconfig.json
  libs/typescript/telemetry/tsconfig.json
  packages/a2a/a2a-core/tsconfig.json
  packages/a2a/a2a-events/tsconfig.lib.json
  packages/a2a/a2a-transport/tsconfig.json
  packages/evidence-runner/package.json
  packages/registry/src/index.ts
  pnpm-lock.yaml
  skills/skills.json
  tasks/connectors-manifest-runtime/apps-sdk-resource.md
  tasks/connectors-manifest-runtime/design/chatgpt-dashboard-wireframe.md
  tasks/connectors-manifest-runtime/implementation-checklist.md
  tasks/connectors-manifest-runtime/implementation-log.md
Due: biome-check, tsc-check
