Repository jscraik/Cortex-OS: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, tsc-check, ruff-check, ruff-format

.pre-commit-config.yaml:

# Pre-commit hooks for quality gates and automated checks
repos:
  # Local hooks using project tools
  - repo: local
    hooks:
      # Biome linting and formatting with command validation
      - id: biome-check
        name: Biome Check
        entry: pnpm biome check --apply
        language: system
        files: \.(js|jsx|ts|tsx|json|jsonc)$
        pass_filenames: true

      # TypeScript type checking with validation
      - id: tsc-check
        name: TypeScript Check
        entry: pnpm tsc --noEmit
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
        stages: [pre-push]

      # Python formatting and linting with uv validation
      - id: ruff-check
        name: Ruff Check
        entry: uv run ruff check --fix --
        language: system
        files: \.py$
        pass_filenames: true
        stages: [pre-push]

      - id: ruff-format
        name: Ruff Format
        entry: uv run ruff format --
        language: system
        files: \.py$
        pass_filenames: true
        stages: [pre-push]

      # Security checks with proper error handling
      - id: security-audit
        name: Security Audit
        entry: pnpm audit --audit-level moderate || echo "Security audit completed with warnings"
        language: system
        pass_filenames: false
        stages: [pre-push]

      # License compliance with validation
      - id: license-check
        name: License Check
        entry: pnpm run license:check || echo "License check completed with warnings"
        language: system
        pass_filenames: false
        stages: [pre-push]

  # Git hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: \.(md|patch)$
      - id: end-of-file-fixer
        exclude: \.(patch|svg)$
      - id: check-yaml
        exclude: \.gitlab-ci\.yml$
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: detect-private-key
        exclude: LLMs\.txt$
      - id: check-case-conflict
      - id: mixed-line-ending

  # Dockerfile linting
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker
        entry: hadolint
        language: system
        files: Dockerfile.*

  # Commit message validation
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.29.0
    hooks:
      - id: commitizen
        stages: [commit-msg]

# Global excludes
exclude: |
  (?x)^(
    .*\.lock$|
    .*\.log$|
    .*\.sqlite$|
    .*\.sqlite3$|
    node_modules/.*|
    \.git/.*|
    \.turbo/.*|
    \.next/.*|
    dist/.*|
    coverage/.*|
    __pycache__/.*|
    \.venv/.*|
    \.mcp-quick-venv/.*|
    mcp-servers/.*|
    test-results/.*|
    playwright-report/.*
  )$

# Configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ""
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: weekly
  skip: []
  submodules: false

fix: resolve memory-core merge conflicts and update configs
  packages/a2a/tsconfig.json
  packages/memory-core/src/index.ts
  packages/memory-core/src/providers/LocalMemoryProvider.ts
  packages/memory-core/src/types.ts
Due: biome-check, tsc-check

security: resolve Dependabot and code scanning vulnerabilities
  libs/typescript/asbr-schemas/tsconfig.json
  libs/typescript/utils/src/eventsource-ambient.ts
  libs/typescript/utils/tsconfig.json
  package.json
  packages/asbr/tsconfig.json
  packages/orchestration/src/__tests__/buildN0.test.ts
  packages/orchestration/src/langgraph/n0-graph.ts
  pnpm-lock.yaml
  tsconfig.json
Due: biome-check, tsc-check

docs(readme): restructure root README for GitHub standards
  README.md
Due: none

Update packages/commands/tsconfig.json
  packages/commands/tsconfig.json
Due: biome-check

Update packages/orchestration/src/langgraph/n0-graph.ts
  packages/orchestration/src/langgraph/n0-graph.ts
Due: biome-check, tsc-check

Update tasks/cortex-os-&-cortex-py-tdd-plan.md
  tasks/cortex-os-&-cortex-py-tdd-plan.md
Due: none

Update packages/rag/src/store/memory.ts
  packages/rag/src/store/memory.ts
Due: biome-check, tsc-check

Update packages/model-gateway/src/kv/attention-bridge.ts
  packages/model-gateway/src/kv/attention-bridge.ts
Due: biome-check, tsc-check

Update packages/rag-http/src/server.ts
  packages/rag-http/src/server.ts
Due: biome-check, tsc-check

Potential fix for code scanning alert no. 256: Creating biased random numbers from a cryptographically secure source
  packages/a2a/a2a-events/src/github/envelope.ts
Due: biome-check, tsc-check

Potential fix for code scanning alert no. 255: Insecure randomness
  test-mcp-sse.cjs
Due: none

Potential fix for code scanning alert no. 257: Creating biased random numbers from a cryptographically secure source
  packages/a2a/a2a-events/src/github/envelope.ts
Due: biome-check, tsc-check

fix(build): resolve TypeScript tsconfig issues - Phase 1 complete
  CHANGELOG.md
  docs/troubleshooting/typescript-config.md
  packages/gateway/tsconfig.json
  packages/services/model-gateway/tsconfig.json
  packages/services/model-gateway/tsconfig.spec.json
  tasks/PHASE-1-REVIEW-RESPONSE.md
  tasks/TYPESCRIPT-ISSUE-SOLUTION-SUMMARY.md
  tasks/typescript-project-structure-cleanup-spec.md
  tasks/typescript-project-structure-cleanup-tdd-plan.md
  tasks/typescript-project-structure-cleanup.research.md
  tests/scripts/typescript-config.test.ts
Due: biome-check, tsc-check

feat(infra): TypeScript configuration standardization - Phase 2 complete
  .cortex/templates/tsconfig/README.md
  .cortex/templates/tsconfig/tsconfig.lib.json
  .cortex/templates/tsconfig/tsconfig.spec.json
  CHANGELOG.md
  CODESTYLE.md
  scripts/migrate-tsconfig.ts
  tasks/PHASE-2-COMPLETION-SUMMARY.md
  tests/scripts/typescript-templates.test.ts
Due: biome-check, tsc-check

docs(typescript): Phase 3 analysis and task completion
  docs/troubleshooting/typescript-config.md
  tasks/FINAL-SUMMARY-AND-RECOMMENDATION.md
  tasks/PHASE-3-DECISION-PLAN.md
Due: none

feat(build): TypeScript project references - Phase 3A complete
  apps/cortex-os/packages/local-memory/tsconfig.json
  apps/cortex-os/tsconfig.json
  docs/troubleshooting/typescript-config.md
  packages/a2a/tsconfig.json
  packages/agents/tsconfig.json
  packages/gateway/tsconfig.json
  packages/memories/tsconfig.json
  packages/model-gateway/tsconfig.json
  packages/rag/tsconfig.json
  packages/tdd-coach/tsconfig.json
  packages/workflow-dashboard/tsconfig.json
  packages/workflow-orchestrator/tsconfig.json
  scripts/add-project-references.ts
  scripts/map-project-references.ts
  tasks/PHASE-3A-COMPLETION-SUMMARY.md
  tests/scripts/typescript-project-references.test.ts
Due: biome-check, tsc-check

chore: minor dependency and config updates
  biome.json
  packages/mcp-server/package.json
  packages/mcp-server/src/index.ts
Due: biome-check, tsc-check

docs: update documentation for TypeScript Phase 3A completion
  CHANGELOG.md
  README.md
  docs/README.md
  docs/typescript-build-guide.md
Due: none

docs: add MCP ecosystem review
  docs/reviews/mcp-ecosystem-review.md
Due: none

chore: sync workspace updates
  README.md
  config/dev/ports.env
  docs/mcp-tunnel-setup.md
  libs/typescript/agent-contracts/src/index.d.ts
  libs/typescript/agent-contracts/src/index.js
  packages/cortex-mcp/src/cortex_mcp/http_client.py
  packages/mcp-server/SESSION_SUMMARY.md
  scripts/mcp/guard_port_3024.sh
  scripts/mcp/mcp-status-preload.js
  scripts/start-brainwav-security.sh
  simple-tests/mcp-consolidation.test.ts
  test-mcp-server.js
  tools/validators/mcp-status.mjs
Due: biome-check, tsc-check, ruff-check, ruff-format

docs: add mcp ecosystem review checklist
  docs/reviews/mcp-ecosystem-review.md
Due: none

Update docs/reviews/mcp-ecosystem-review.md
  docs/reviews/mcp-ecosystem-review.md
Due: none

feat(governance): align task folder structure across all instruction documents
  .cortex/rules/TASK_FOLDER_STRUCTURE.md
  .github/copilot-instructions.md
  AGENTS.md
  apps/chatgpt-dashboard/AGENTS.md
  apps/chatgpt-dashboard/README.md
  docs/task-folder-structure-alignment-summary.md
  packages/connectors/AGENTS.md
  packages/connectors/README.md
  project-documentation/connectors/manifest-runtime-research.md
  tasks/connectors-manifest-runtime/HITL-feedback.md
  tasks/connectors-manifest-runtime/SUMMARY.md
  tasks/connectors-manifest-runtime/code-review.md
  tasks/connectors-manifest-runtime/design/.gitkeep
  tasks/connectors-manifest-runtime/implementation-checklist.md
  tasks/connectors-manifest-runtime/implementation-log.md
  tasks/connectors-manifest-runtime/implementation-plan.md
  tasks/connectors-manifest-runtime/lessons-learned.md
  tasks/connectors-manifest-runtime/monitoring/.gitkeep
  tasks/connectors-manifest-runtime/refactoring/.gitkeep
  tasks/connectors-manifest-runtime/research.md
  tasks/connectors-manifest-runtime/tdd-plan.md
  tasks/connectors-manifest-runtime/test-logs/.gitkeep
  tasks/connectors-manifest-runtime/validation/.gitkeep
  tasks/connectors-manifest-runtime/verification/.gitkeep
Due: none

docs: update chatgpt-dashboard and connectors task documentation
  apps/chatgpt-dashboard/README.md
  tasks/connectors-manifest-runtime/implementation-plan.md
Due: none

feat(asbr): add signed connectors manifest loader
  docs/connectors/README.md
  libs/typescript/asbr-schemas/src/index.ts
  packages/asbr/src/api/server.ts
  packages/asbr/src/connectors/index.ts
  packages/asbr/src/connectors/manifest-loader.ts
  packages/asbr/src/connectors/signature.ts
  packages/asbr/src/sdk/index.ts
  packages/asbr/tests/integration/api-endpoints.test.ts
  packages/asbr/tests/security/owasp-llm-compliance.test.ts
  packages/asbr/tests/utils/connectors-manifest.ts
Due: biome-check, tsc-check

fix(asbr): handle null when canonicalizing signatures
  packages/asbr/src/connectors/signature.ts
Due: biome-check, tsc-check
