Repository jscraik/Cortex-OS: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, tsc-check, ruff-check, ruff-format

biome-check:
  name: Biome Check
  entry: pnpm biome check --apply
  language: system
  pass_filenames: true

tsc-check:
  name: TypeScript Check
  entry: pnpm tsc --noEmit
  language: system
  pass_filenames: false
  stages:
  - pre-push

ruff-check:
  name: Ruff Check
  entry: uv run ruff check --fix --
  language: system
  pass_filenames: true
  stages:
  - pre-push

ruff-format:
  name: Ruff Format
  entry: uv run ruff format --
  language: system
  pass_filenames: true
  stages:
  - pre-push

feat(mcp-core): add typescript tool template
  packages/mcp-core/README.md
  packages/mcp-core/docs/index.md
  packages/mcp-core/docs/mcp-tool-template.md
  packages/mcp-core/package.json
  packages/mcp-core/src/index.ts
  packages/mcp-core/src/tools.ts
  packages/mcp-core/src/tools/echo-tool.ts
  packages/mcp-core/tests/echo-tool.integration.test.ts
  packages/mcp-core/tests/tool-registry.test.ts
Due: biome-check, tsc-check

Update packages/mcp-core/src/tools.ts
  packages/mcp-core/src/tools.ts
Due: biome-check, tsc-check

test(mcp): add cross-language testing utilities
  apps/cortex-code/Cargo.lock
  apps/cortex-code/mcp-types/Cargo.toml
  apps/cortex-code/mcp-types/tests/common/mod.rs
  apps/cortex-code/mcp-types/tests/suite/mod.rs
  apps/cortex-code/mcp-types/tests/suite/testing_utils.rs
  packages/mcp-core/package.json
  packages/mcp-core/src/testing/index.ts
  packages/mcp-core/src/testing/mockServer.ts
  packages/mcp-core/tests/testing-utils.test.ts
  python/pyproject.toml
  python/src/cortex_mlx/testing/__init__.py
  python/src/cortex_mlx/testing/mcp.py
  python/tests/conftest.py
  python/tests/test_mcp_testing_utils.py
Due: biome-check, tsc-check, ruff-check, ruff-format

feat(memories): add MCP memory store tools
  packages/memories/src/index.ts
  packages/memories/src/mcp/tools.ts
  packages/memories/src/service/memory-service.ts
  packages/memories/tests/mcp.tools.spec.ts
Due: biome-check, tsc-check

Update packages/memories/src/mcp/tools.ts
  packages/memories/src/mcp/tools.ts
Due: biome-check, tsc-check

Update packages/memories/tests/mcp.tools.spec.ts
  packages/memories/tests/mcp.tools.spec.ts
Due: biome-check, tsc-check

feat(memories): define mcp tool contracts
  packages/memories/docs/api-reference.md
  packages/memories/src/index.ts
  packages/memories/src/mcp/tools.ts
  packages/memories/tests/mcp/tools.contract.spec.ts
Due: biome-check, tsc-check

feat(memories): add mcp tool validation and error handling
  packages/memories/src/mcp/tools.ts
  packages/memories/tests/mcp.tools.spec.ts
Due: biome-check, tsc-check

Update packages/memories/tests/mcp/tools.contract.spec.ts
  packages/memories/tests/mcp/tools.contract.spec.ts
Due: biome-check, tsc-check

feat(mcp-server): add rust mcp tool framework
  apps/cortex-code/Cargo.lock
  apps/cortex-code/mcp-server/Cargo.toml
  apps/cortex-code/mcp-server/src/lib.rs
  apps/cortex-code/mcp-server/src/message_processor.rs
  apps/cortex-code/mcp-server/src/tools/echo.rs
  apps/cortex-code/mcp-server/src/tools/mod.rs
  apps/cortex-code/mcp-server/tests/common/mcp_process.rs
  apps/cortex-code/mcp-server/tests/suite/echo_tool.rs
  apps/cortex-code/mcp-server/tests/suite/mod.rs
Due: none

Update apps/cortex-code/mcp-server/src/tools/mod.rs
  apps/cortex-code/mcp-server/src/tools/mod.rs
Due: none

docs(mcp): mark phase1 qa checklist complete
  project-documentation/MCP_IMPLEMENTATION_TASKS_PHASE1.md
Due: none

test(memories): add MCP client integration specs
  packages/memories/tests/mcp/memory.integration.spec.ts
Due: biome-check, tsc-check

docs(memories): expand mcp tool documentation
  packages/memories/docs/api-reference.md
  packages/memories/docs/examples.md
  packages/memories/docs/troubleshooting.md
Due: none

feat(rag): define mcp tool contracts
  packages/rag/docs/api-reference.md
  packages/rag/src/index.ts
  packages/rag/src/mcp/__tests__/tool-contracts.test.ts
  packages/rag/src/mcp/tools.ts
Due: biome-check, tsc-check

feat(rag): add mcp rag tool implementations
  packages/rag/src/mcp/tools.test.ts
  packages/rag/src/mcp/tools.ts
Due: biome-check, tsc-check

feat(rag): harden mcp tool validation
  packages/rag/package.json
  packages/rag/src/mcp/tools.test.ts
  packages/rag/src/mcp/tools.ts
Due: biome-check, tsc-check

test(rag): add unit coverage for mcp tools
  packages/rag/test/mcp.tools.spec.ts
Due: biome-check, tsc-check

test(rag): add mcp integration tests for archon client
  packages/rag/__tests__/archon-mcp.integration.test.ts
  packages/rag/__tests__/stubs/agent-mcp-client.ts
  packages/rag/vitest.config.ts
Due: biome-check, tsc-check

docs(rag): document MCP tools
  packages/rag/docs/index.md
  packages/rag/docs/mcp-tools.md
Due: none

Update packages/memories/tests/mcp/memory.integration.spec.ts
  packages/memories/tests/mcp/memory.integration.spec.ts
Due: biome-check, tsc-check

Update packages/memories/docs/troubleshooting.md
  packages/memories/docs/troubleshooting.md
Due: none

Update packages/rag/src/mcp/tools.ts
  packages/rag/src/mcp/tools.ts
Due: biome-check, tsc-check

Update packages/rag/src/mcp/tools.test.ts
  packages/rag/src/mcp/tools.test.ts
Due: biome-check, tsc-check

Update packages/rag/test/mcp.tools.spec.ts
  packages/rag/test/mcp.tools.spec.ts
Due: biome-check, tsc-check

Update packages/rag/vitest.config.ts
  packages/rag/vitest.config.ts
Due: biome-check, tsc-check

Update packages/rag/__tests__/stubs/agent-mcp-client.ts
  packages/rag/__tests__/stubs/agent-mcp-client.ts
Due: biome-check, tsc-check

Update packages/rag/docs/mcp-tools.md
  packages/rag/docs/mcp-tools.md
Due: none

docs(observability): document mcp tools for task 2.4.6
  packages/observability/docs/README.md
  packages/observability/docs/mcp-tools.md
Due: none

Path conditions:
  biome-check: any of: \.(js|jsx|ts|tsx|json|jsonc)$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  .*\.sqlite$|
  .*\.sqlite3$|
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  dist/.*|
  coverage/.*|
  __pycache__/.*|
  \.venv/.*|
  \.mcp-quick-venv/.*|
  mcp-servers/.*|
  test-results/.*|
  playwright-report/.*
)$

  tsc-check: any of: \.(ts|tsx)$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  .*\.sqlite$|
  .*\.sqlite3$|
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  dist/.*|
  coverage/.*|
  __pycache__/.*|
  \.venv/.*|
  \.mcp-quick-venv/.*|
  mcp-servers/.*|
  test-results/.*|
  playwright-report/.*
)$

  ruff-check: any of: \.py$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  .*\.sqlite$|
  .*\.sqlite3$|
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  dist/.*|
  coverage/.*|
  __pycache__/.*|
  \.venv/.*|
  \.mcp-quick-venv/.*|
  mcp-servers/.*|
  test-results/.*|
  playwright-report/.*
)$

  ruff-format: any of: \.py$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  .*\.sqlite$|
  .*\.sqlite3$|
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  dist/.*|
  coverage/.*|
  __pycache__/.*|
  \.venv/.*|
  \.mcp-quick-venv/.*|
  mcp-servers/.*|
  test-results/.*|
  playwright-report/.*
)$

