Repository jscraik/Cortex-OS: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, tsc-check, ruff-check, ruff-format

.pre-commit-config.yaml:

# Pre-commit hooks for quality gates and automated checks
repos:
  # Local hooks using project tools
  - repo: local
    hooks:
      # Biome linting and formatting with command validation
      - id: biome-check
        name: Biome Check
        entry: pnpm biome check --apply
        language: system
        files: \.(js|jsx|ts|tsx|json|jsonc)$
        pass_filenames: true

      # TypeScript type checking with validation
      - id: tsc-check
        name: TypeScript Check
        entry: pnpm tsc --noEmit
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
        stages: [pre-push]

      # Python formatting and linting with uv validation
      - id: ruff-check
        name: Ruff Check
        entry: uv run ruff check --fix --
        language: system
        files: \.py$
        pass_filenames: true
        stages: [pre-push]

      - id: ruff-format
        name: Ruff Format
        entry: uv run ruff format --
        language: system
        files: \.py$
        pass_filenames: true
        stages: [pre-push]

      # Security checks with proper error handling
      - id: security-audit
        name: Security Audit
        entry: pnpm audit --audit-level moderate || echo "Security audit completed with warnings"
        language: system
        pass_filenames: false
        stages: [pre-push]

      # License compliance with validation
      - id: license-check
        name: License Check
        entry: pnpm run license:check || echo "License check completed with warnings"
        language: system
        pass_filenames: false
        stages: [pre-push]

  # Git hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: \.(md|patch)$
      - id: end-of-file-fixer
        exclude: \.(patch|svg)$
      - id: check-yaml
        exclude: \.gitlab-ci\.yml$
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: detect-private-key
        exclude: LLMs\.txt$
      - id: check-case-conflict
      - id: mixed-line-ending

  # Dockerfile linting
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker
        entry: hadolint
        language: system
        files: Dockerfile.*

  # Commit message validation
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.29.0
    hooks:
      - id: commitizen
        stages: [commit-msg]

# Global excludes
exclude: |
  (?x)^(
    .*\.lock$|
    .*\.log$|
    .*\.sqlite$|
    .*\.sqlite3$|
    node_modules/.*|
    \.git/.*|
    \.turbo/.*|
    \.next/.*|
    dist/.*|
    coverage/.*|
    __pycache__/.*|
    \.venv/.*|
    \.mcp-quick-venv/.*|
    mcp-servers/.*|
    test-results/.*|
    playwright-report/.*
  )$

# Configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ""
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: weekly
  skip: []
  submodules: false

Implement phase 9 app readiness safeguards
  LANGGRAPH_INTEGRATION_PLAN.md
  apps/api/tests/routing-completeness.test.ts
  apps/cortex-marketplace/src/mcp/tools.ts
  apps/cortex-marketplace/tests/mcp-implementation.test.ts
  apps/cortex-os/packages/evidence/analytics/src/index.ts
  apps/cortex-os/packages/evidence/analytics/src/metrics-collector.ts
  apps/cortex-os/packages/evidence/analytics/src/system-probe.ts
  apps/cortex-os/tests/metrics-reality.test.ts
  apps/cortex-py/src/cortex_py.egg-info/SOURCES.txt
  apps/cortex-py/src/cortex_py/__init__.py
  apps/cortex-py/src/cortex_py/thermal.py
  apps/cortex-py/tests/test_thermal_guard_production.py
Due: biome-check, tsc-check, ruff-check, ruff-format

Add code mode fallback coverage and pytest asyncio shim
  packages/cortex-mcp/tests/conftest.py
  packages/orchestration/src/langgraph/code-mode-node.ts
  packages/orchestration/tests/code-mode-dispatcher.test.ts
  tests/integration/multi-language-code-mode.test.ts
Due: biome-check, tsc-check, ruff-check, ruff-format

Update long-horizon-planner.ts
  packages/orchestration/src/lib/long-horizon-planner.ts
Due: biome-check, tsc-check

Update planning-context-manager.ts
  packages/orchestration/src/dsp/planning-context-manager.ts
Due: biome-check, tsc-check

Update adaptive-coordinator.ts
  packages/orchestration/src/coordinator/adaptive-coordinator.ts
Due: biome-check, tsc-check

Update system-probe.ts
  apps/cortex-os/packages/evidence/analytics/src/system-probe.ts
Due: biome-check, tsc-check

Update thermal.py
  apps/cortex-py/src/cortex_py/thermal.py
Due: ruff-check, ruff-format

Update conftest.py
  packages/cortex-mcp/tests/conftest.py
Due: ruff-check, ruff-format

Surface slash metadata and stabilize phase 10 tests
  LANGGRAPH_INTEGRATION_PLAN.md
  packages/agents/src/subagents/SubagentManager.ts
  packages/agents/tests/file-agent-loader.test.ts
  packages/agents/tests/stubs/orchestration.ts
  packages/agents/vitest.config.ts
  packages/commands/src/index.ts
  packages/commands/src/loader.ts
  packages/commands/src/runSlash.ts
  packages/commands/src/runner.ts
  packages/commands/tests/slash-integration.test.ts
  packages/hooks/src/manager.ts
  packages/hooks/tests/filesystem-config.test.ts
  packages/hooks/vitest.config.ts
  packages/kernel/src/index.ts
  packages/kernel/src/tool-binding.ts
  packages/kernel/tests/tool-binding.test.ts
Due: biome-check, tsc-check

Implement n0 graph orchestration pipeline
  packages/agents/src/index.ts
  packages/agents/src/subagents/api.ts
  packages/orchestration/src/__tests__/buildN0.test.ts
  packages/orchestration/src/index.ts
  packages/orchestration/src/langgraph/n0-graph.ts
Due: biome-check, tsc-check

Update n0-graph.ts
  packages/orchestration/src/langgraph/n0-graph.ts
Due: biome-check, tsc-check

Improve n0 graph node orchestration logging
  packages/orchestration/src/langgraph/n0-graph.ts
Due: biome-check, tsc-check

feat: extend n0 subagent integration
  packages/agents/src/subagents/api.ts
  packages/agents/tests/unit/subagents.api.test.ts
  packages/orchestration/src/langgraph/n0-graph.ts
Due: biome-check, tsc-check

feat: add cortex file-based governance defaults
  .cortex/agents/code-reviewer.md
  .cortex/agents/release-notes.md
  .cortex/agents/test-engineer.yaml
  .cortex/commands/daily-summary.md
  .cortex/commands/incident-review.md
  .cortex/commands/sprint-goals.md
  .cortex/docs/configuration.md
  .cortex/hooks/core.yaml
  .cortex/hooks/sample.yaml
Due: none

Update .cortex/hooks/core.yaml
  .cortex/hooks/core.yaml
Due: none

Update .cortex/commands/incident-review.md
  .cortex/commands/incident-review.md
Due: none

Update .cortex/commands/daily-summary.md
  .cortex/commands/daily-summary.md
Due: none

feat(orchestration): unify tool bindings with progressive dispatch
  packages/agents/src/index.ts
  packages/orchestration/src/index.ts
  packages/orchestration/src/langgraph/n0-state.ts
  packages/orchestration/src/langgraph/tool-dispatch.ts
  packages/orchestration/src/langgraph/tool-system.ts
  packages/orchestration/tests/n0-state-compaction.test.ts
  packages/orchestration/tests/tool-dispatch.progress.test.ts
  packages/orchestration/tests/tool-system.unified.test.ts
Due: biome-check, tsc-check

feat(orchestration): add adaptive coordination manager
  packages/orchestration/src/coordinator/adaptive-coordinator.ts
  packages/orchestration/src/langgraph/executor.ts
  packages/orchestration/src/langgraph/planning-orchestrator.ts
  packages/orchestration/tsconfig.json
Due: biome-check, tsc-check

Update packages/orchestration/src/coordinator/adaptive-coordinator.ts
  packages/orchestration/src/coordinator/adaptive-coordinator.ts
Due: biome-check, tsc-check

Update packages/orchestration/src/langgraph/planning-orchestrator.ts
  packages/orchestration/src/langgraph/planning-orchestrator.ts
Due: biome-check, tsc-check

Update packages/orchestration/src/langgraph/streaming.ts
  packages/orchestration/src/langgraph/streaming.ts
Due: biome-check, tsc-check

Update packages/agents/src/lib/prompt-template-manager.ts
  packages/agents/src/lib/prompt-template-manager.ts
Due: biome-check, tsc-check

Update packages/orchestration/src/langgraph/spool.ts
  packages/orchestration/src/langgraph/spool.ts
Due: biome-check, tsc-check

Update packages/orchestration/src/langgraph/n0-graph.ts
  packages/orchestration/src/langgraph/n0-graph.ts
Due: biome-check, tsc-check

Update packages/cortex-sec/src/mcp/tools.ts
  packages/cortex-sec/src/mcp/tools.ts
Due: biome-check, tsc-check

feat(orchestration): extend dsp planning persistence
  packages/orchestration/src/lib/long-horizon-planner.ts
  packages/orchestration/src/types.ts
  packages/orchestration/src/utils/dsp.ts
Due: biome-check, tsc-check

feat(mcp-core): add managers for workspace, planning, and coordination tools
  packages/mcp-core/src/lib/coordination-session-manager.ts
  packages/mcp-core/src/lib/planning-session-manager.ts
  packages/mcp-core/src/lib/workspace-manager.ts
  packages/mcp-core/src/tools/coordination-tools.ts
  packages/mcp-core/src/tools/planning-tools.ts
  packages/mcp-core/src/tools/workspace-tools.ts
  packages/mcp-core/tests/tools/coordination-tools.test.ts
  packages/mcp-core/tests/tools/planning-tools.test.ts
Due: biome-check, tsc-check

feat(agents): add context-aware prompt template library
  packages/agents/src/lib/__tests__/prompt-template-manager.test.ts
  packages/agents/src/lib/prompt-template-manager.ts
  packages/agents/src/prompts/catalog.ts
  packages/agents/src/prompts/index.ts
  packages/agents/src/prompts/types.ts
Due: biome-check, tsc-check

Integrate cortex-sec security orchestration
  packages/agents/src/lib/prompt-template-manager.ts
  packages/agents/src/prompts/security-templates.ts
  packages/agents/tests/prompts/security-templates.test.ts
  packages/cortex-sec/src/index.ts
  packages/cortex-sec/src/nO/security-integration.ts
  packages/cortex-sec/src/planning/compliance-planner.ts
  packages/cortex-sec/src/policies/security-policies.ts
  packages/cortex-sec/tests/planning/compliance-planner.test.ts
  packages/orchestration/package.json
  packages/orchestration/src/coordinator/adaptive-coordinator.ts
  packages/orchestration/src/langgraph/planning-orchestrator.ts
  packages/orchestration/src/lib/long-horizon-planner.ts
  packages/orchestration/src/security/index.ts
  packages/orchestration/src/security/security-coordinator.ts
  packages/orchestration/tests/coordination/structured-planning-integration.test.ts
Due: biome-check, tsc-check
