Repository jscraik/Cortex-OS: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, tsc-check, ruff-check, ruff-format

biome-check:
  name: Biome Check
  entry: pnpm biome check --apply
  language: system
  pass_filenames: true

tsc-check:
  name: TypeScript Check
  entry: pnpm tsc --noEmit
  language: system
  pass_filenames: false
  stages:
  - pre-push

ruff-check:
  name: Ruff Check
  entry: uv run ruff check --fix --
  language: system
  pass_filenames: true
  stages:
  - pre-push

ruff-format:
  name: Ruff Format
  entry: uv run ruff format --
  language: system
  pass_filenames: true
  stages:
  - pre-push

docs(agent-toolkit): expand toolkit documentation
  packages/agent-toolkit/docs/architecture.md
  packages/agent-toolkit/docs/configuration.md
  packages/agent-toolkit/docs/index.md
  packages/agent-toolkit/docs/logging-monitoring.md
  packages/agent-toolkit/docs/providers-setup.md
  packages/agent-toolkit/docs/security.md
Due: none

Update apps/cortex-marketplace/src/services/registry-service.ts
  apps/cortex-marketplace/src/services/registry-service.ts
Due: biome-check, tsc-check

docs(orchestration): add comprehensive package docs
  packages/orchestration/docs/accessibility.md
  packages/orchestration/docs/api-reference.md
  packages/orchestration/docs/architecture.md
  packages/orchestration/docs/best-practices.md
  packages/orchestration/docs/changelog.md
  packages/orchestration/docs/cli-reference.md
  packages/orchestration/docs/configuration.md
  packages/orchestration/docs/contributor-setup.md
  packages/orchestration/docs/deployment.md
  packages/orchestration/docs/examples.md
  packages/orchestration/docs/faq.md
  packages/orchestration/docs/getting-started.md
  packages/orchestration/docs/glossary.md
  packages/orchestration/docs/index.md
  packages/orchestration/docs/introduction.md
  packages/orchestration/docs/logging-monitoring.md
  packages/orchestration/docs/migration.md
  packages/orchestration/docs/performance.md
  packages/orchestration/docs/policy-terms.md
  packages/orchestration/docs/providers-setup.md
  packages/orchestration/docs/roadmap.md
  packages/orchestration/docs/security.md
  packages/orchestration/docs/testing-qa.md
  packages/orchestration/docs/troubleshooting.md
  packages/orchestration/docs/user-guide.md
Due: none

Update packages/orchestration/docs/index.md
  packages/orchestration/docs/index.md
Due: none

Update packages/orchestration/docs/contributor-setup.md
  packages/orchestration/docs/contributor-setup.md
Due: none

Update packages/orchestration/docs/policy-terms.md
  packages/orchestration/docs/policy-terms.md
Due: none

refactor(mcp): improve chatgpt-connector server startup logic
  packages/mcp/mcp/servers/chatgpt_connector/server.py
Due: ruff-check, ruff-format

feat(mcp): add run_server.py for chatgpt-connector
  packages/mcp/mcp/servers/chatgpt_connector/run_server.py
Due: ruff-check, ruff-format

fix(mcp): update run_server.py permissions and content
  packages/mcp/mcp/servers/chatgpt_connector/run_server.py
Due: ruff-check, ruff-format

Commit remaining changes
  apps/cortex-code/cli/src/main.rs
  vitest.basic.config.ts
Due: biome-check, tsc-check

Move package.json back to root for pre-push hook
  package.json
Due: biome-check

Update structure guard to annotate files that need to stay in root
  tools/structure-guard/ROOT_FILES.md
  tools/structure-guard/guard.ts
  tools/structure-guard/policy.json
Due: biome-check, tsc-check

Correct documentation: project uses Husky not pre-commit
  tools/structure-guard/ROOT_FILES.md
Due: none

chore: commit all changes
  packages/mcp/README.md
Due: none

test(app): ensure container validation fails without bindings
  apps/cortex-os/src/boot.ts
  apps/cortex-os/tests/boot.test.ts
Due: biome-check, tsc-check

fix(ingest): harden ingest policy parsing
  apps/cortex-os/packages/ingest/__tests__/policy.test.ts
  apps/cortex-os/packages/ingest/src/dispatch.ts
  apps/cortex-os/packages/ingest/src/policy.ts
Due: biome-check, tsc-check

fix(a2a-events): camel case retry policy destructuring
  packages/a2a/a2a-events/src/github/envelope.test.ts
  packages/a2a/a2a-events/src/github/envelope.ts
Due: biome-check, tsc-check

test(agents): cover lifecycle ids for orchestrator
  packages/agents/src/orchestration/agent-orchestrator.ts
  packages/agents/tests/unit/orchestration/agent-orchestrator.test.ts
  packages/agents/tests/unit/providers/fallback-chain.test.ts
Due: biome-check, tsc-check

feat(python): add MCP tool base and echo example
  python/README.md
  python/src/cortex_mlx/mcp/__init__.py
  python/src/cortex_mlx/mcp/base.py
  python/src/cortex_mlx/mcp/echo.py
  python/tests/test_mcp_tool_base.py
  python/tests/test_mcp_tool_integration.py
Due: ruff-check, ruff-format

Update apps/cortex-os/packages/ingest/src/policy.ts
  apps/cortex-os/packages/ingest/src/policy.ts
Due: biome-check, tsc-check

Update packages/agents/src/orchestration/agent-orchestrator.ts
  packages/agents/src/orchestration/agent-orchestrator.ts
Due: biome-check, tsc-check

Update python/src/cortex_mlx/mcp/base.py
  python/src/cortex_mlx/mcp/base.py
Due: ruff-check, ruff-format

Update python/src/cortex_mlx/mcp/echo.py
  python/src/cortex_mlx/mcp/echo.py
Due: ruff-check, ruff-format

fix(asbr): rename runtime sentinel and log sse close errors
  packages/asbr/server-backup.ts
  packages/asbr/src/api/server.ts
  packages/asbr/src/index.ts
  packages/asbr/tests/unit/events-autoclose.test.ts
  packages/asbr/tests/unit/runtime-sentinel.test.ts
Due: biome-check, tsc-check

fix(github): resolve clippy warnings
  packages/github/src/actions.rs
  packages/github/src/auth.rs
  packages/github/src/repository.rs
Due: none

feat(mcp-core): add tool schema validation
  packages/mcp-core/docs/index.md
  packages/mcp-core/docs/transport-protocols.md
  packages/mcp-core/package.json
  packages/mcp-core/src/index.ts
  packages/mcp-core/src/tool-schemas.ts
  packages/mcp-core/src/validation.ts
  packages/mcp-core/tests/tool-contracts.schema.test.ts
  pnpm-lock.yaml
Due: biome-check, tsc-check

Update packages/github/src/repository.rs
  packages/github/src/repository.rs
Due: none

refactor(orchestration): remove any-based lint noise
  packages/orchestration/src/bridges/agent.bridge.ts
  packages/orchestration/src/bridges/memories.bridge.ts
  packages/orchestration/src/cli/approve.ts
  packages/orchestration/src/coordinator/mlx-first-coordinator.ts
  packages/orchestration/src/integrations/mlx-agent.ts
  packages/orchestration/src/lib/audit-a2a-adapter.ts
  packages/orchestration/src/lib/checkpoints.ts
  packages/orchestration/src/lib/error-classifier.ts
  packages/orchestration/src/lib/hitl.ts
  packages/orchestration/src/lib/outbox/outbox/tests/service.test.ts
  packages/orchestration/src/providers/mlx-first-provider.ts
  packages/orchestration/tests/audit-a2a-adapter.test.ts
  packages/orchestration/tests/error-classifier.test.ts
  packages/orchestration/tests/hitl.test.ts
  packages/orchestration/tests/mlx-first-provider.test.ts
Due: biome-check, tsc-check

feat(memories): add MCP tool handlers and tests
  packages/memories/src/index.ts
  packages/memories/src/mcp/tools.ts
  packages/memories/src/service/memory-service.ts
  packages/memories/tests/mcp.tools.spec.ts
Due: biome-check, tsc-check

Path conditions:
  biome-check: any of: \.(js|jsx|ts|tsx|json|jsonc)$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  .*\.sqlite$|
  .*\.sqlite3$|
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  dist/.*|
  coverage/.*|
  __pycache__/.*|
  \.venv/.*|
  \.mcp-quick-venv/.*|
  mcp-servers/.*|
  test-results/.*|
  playwright-report/.*
)$

  tsc-check: any of: \.(ts|tsx)$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  .*\.sqlite$|
  .*\.sqlite3$|
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  dist/.*|
  coverage/.*|
  __pycache__/.*|
  \.venv/.*|
  \.mcp-quick-venv/.*|
  mcp-servers/.*|
  test-results/.*|
  playwright-report/.*
)$

  ruff-check: any of: \.py$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  .*\.sqlite$|
  .*\.sqlite3$|
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  dist/.*|
  coverage/.*|
  __pycache__/.*|
  \.venv/.*|
  \.mcp-quick-venv/.*|
  mcp-servers/.*|
  test-results/.*|
  playwright-report/.*
)$

  ruff-format: any of: \.py$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  .*\.sqlite$|
  .*\.sqlite3$|
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  dist/.*|
  coverage/.*|
  __pycache__/.*|
  \.venv/.*|
  \.mcp-quick-venv/.*|
  mcp-servers/.*|
  test-results/.*|
  playwright-report/.*
)$

