Repository jscraik/Cortex-OS: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, tsc-check, ruff-check, ruff-format

biome-check:
  name: Biome Check
  entry: pnpm biome check --apply
  language: system
  pass_filenames: true

tsc-check:
  name: TypeScript Check
  entry: pnpm tsc --noEmit
  language: system
  pass_filenames: false
  stages:
  - pre-push

ruff-check:
  name: Ruff Check
  entry: uv run ruff check --fix --
  language: system
  pass_filenames: true
  stages:
  - pre-push

ruff-format:
  name: Ruff Format
  entry: uv run ruff format --
  language: system
  pass_filenames: true
  stages:
  - pre-push

Update ingest.ts
  packages/rag/src/pipeline/ingest.ts
Due: biome-check, tsc-check

Update admin-api.ts
  packages/agents/src/features/admin-api.ts
Due: biome-check, tsc-check

Update email-notifier.ts
  packages/agents/src/communications/email-notifier.ts
Due: biome-check, tsc-check

chore: fix telemetry nodenext exports
  libs/typescript/contracts/package.json
  packages/telemetry/package.json
  packages/telemetry/src/emitter.ts
  packages/telemetry/src/index.ts
  packages/telemetry/src/otel-config.ts
  packages/telemetry/src/redaction.ts
  packages/telemetry/src/types.ts
  packages/telemetry/tsconfig.json
  pnpm-lock.yaml
  tsconfig.base.json
Due: biome-check, tsc-check

Fix A2A contract imports and expose source types
  examples/a2a-test.ts
  libs/typescript/contracts/package.json
  libs/typescript/telemetry/package.json
  libs/typescript/utils/package.json
  packages/a2a/a2a-contracts/package.json
  packages/a2a/a2a-core/src/dlq.ts
  packages/a2a/a2a-core/src/outbox.ts
  packages/a2a/a2a-core/src/queue/postgres-queue.ts
  packages/a2a/a2a-core/src/queue/types.ts
  packages/a2a/a2a-core/src/router.ts
  packages/a2a/a2a-core/src/schema-registry.ts
  packages/a2a/a2a-core/src/send.test.ts
  packages/a2a/a2a-core/src/send.ts
  packages/a2a/a2a-core/src/trace-context-manager.ts
  packages/a2a/a2a-core/src/transport.ts
  packages/a2a/a2a-core/test/trace-context-manager.spec.ts
  packages/a2a/a2a-core/tests/auth.test.ts
  packages/a2a/a2a-core/tests/backpressure.test.ts
  packages/a2a/a2a-core/tests/bus.idempotency.test.ts
  packages/a2a/a2a-core/tests/outbox-publisher.test.ts
  packages/a2a/a2a-core/tests/validation.test.ts
  packages/a2a/a2a-events/package.json
  packages/a2a/a2a-events/src/cortex/index.ts
  packages/a2a/a2a-events/tsconfig.lib.json
  packages/a2a/src/replay.test.ts
  packages/a2a/tests/validation/sanitization.test.ts
  packages/hooks/src/__tests__/tool-dispatch-hooks.test.ts
  packages/rag/project.json
  tests/compilation/type-safety-integration.test.ts
Due: biome-check, tsc-check

Update otel-config.ts
  packages/telemetry/src/otel-config.ts
Due: biome-check, tsc-check

docs: add operational deployment assessment
  docs/operational-deployment-assessment.md
Due: none

Update operational-deployment-assessment.md
  docs/operational-deployment-assessment.md
Due: none

chore: reinstate security readiness thresholds
  packages/security/readiness.yml
  tools/readiness/check-readiness.mjs
Due: none

Replace insecure random generation in production modules
  packages/cortex-ai-github/src/core/ai-github-app.ts
  packages/mcp/src/connectors/refresh-scheduler.ts
  packages/memory-core/src/ml/MLOptimizationManager.ts
  packages/memory-core/src/monitoring/PerformanceMonitor.ts
  packages/memory-core/src/streaming/StreamingResponse.ts
  packages/model-gateway/src/adapters/mlx-adapter.ts
  packages/model-gateway/src/handlers.ts
Due: biome-check, tsc-check

Embed CI quality evidence artifacts
  README.md
  docs/quality-metrics.md
  reports/badges/branch-coverage.svg
  reports/badges/metrics.json
  reports/badges/mutation-score.svg
  reports/badges/quality-gate.svg
  reports/mutation-history.json
Due: biome-check

Update StreamingResponse.ts
  packages/memory-core/src/streaming/StreamingResponse.ts
Due: biome-check, tsc-check

Update quality-metrics.md
  docs/quality-metrics.md
Due: none

Document observability adoption and audit Nx telemetry
  packages/observability/README.md
  scripts/nx-smart.mjs
Due: none

Fix mock toolkit lint violations
  tests/tdd-coach/phase2-comprehensive-validation.test.ts
  tests/toolkit/comprehensive-validation.test.ts
Due: biome-check, tsc-check

docs: extend incident playbooks with escalation and recovery drills
  docs/SUMMARY.md
  docs/performance-monitoring.md
Due: none

Expand Nx compromise advisory with detection playbooks
  docs/security.md
  docs/security/advisories/2025-08-26-nx-supply-chain-compromise.md
Due: none

Add parameter sanitization to mock toolkit tests
  tests/tdd-coach/phase2-comprehensive-validation.test.ts
  tests/toolkit/comprehensive-validation.test.ts
Due: biome-check, tsc-check

Add markdown lint script alias
  package.json
  scripts/lint-md-changed.mjs
Due: biome-check

docs(observability): add adoption metrics and CI audit for telemetry coverage
  .github/workflows/quality-gates.yml
  configs/observability/services.json
  docs/performance-monitoring.md
  package.json
  packages/observability/README.md
  reports/observability-adoption.json
  scripts/audit-observability.mjs
  scripts/lint-markdown-changed.mjs
Due: biome-check

docs: catalog green state remediation issues
  reports/green-state-issues.md
Due: none

Update nx-smart.mjs
  scripts/nx-smart.mjs
Due: none

Update performance-monitoring.md
  docs/performance-monitoring.md
Due: none

Update SUMMARY.md
  docs/SUMMARY.md
Due: none

Update 2025-08-26-nx-supply-chain-compromise.md
  docs/security/advisories/2025-08-26-nx-supply-chain-compromise.md
Due: none

Update lint-md-changed.mjs
  scripts/lint-md-changed.mjs
Due: none

Assert toolkit mock parameters to satisfy lint
  tests/tdd-coach/phase2-comprehensive-validation.test.ts
  tests/toolkit/comprehensive-validation.test.ts
Due: biome-check, tsc-check

Improve nx-smart base resolution fallback
  scripts/nx-smart.mjs
Due: none

Add GPU buffer lifecycle tracking and leak tests
  packages/memory-core/__tests__/acceleration/GPUAcceleration.memory.test.ts
  packages/memory-core/src/acceleration/GPUAcceleration.ts
Due: biome-check, tsc-check

Refactor LocalMemoryProvider initialization
  packages/memory-core/src/providers/LocalMemoryProvider.ts
  packages/memory-core/src/providers/__tests__/LocalMemoryProvider.initialization.test.ts
Due: biome-check, tsc-check

Batch GraphRAG hydration lookups
  packages/memory-core/src/__tests__/GraphRAGService.test.ts
  packages/memory-core/src/services/GraphRAGService.ts
Due: biome-check, tsc-check

refactor: parameterize local memory search
  packages/memory-core/src/__tests__/LocalMemoryProvider.security.test.ts
  packages/memory-core/src/providers/LocalMemoryProvider.ts
Due: biome-check, tsc-check

Path conditions:
  biome-check: any of: \.(js|jsx|ts|tsx|json|jsonc)$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  .*\.sqlite$|
  .*\.sqlite3$|
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  dist/.*|
  coverage/.*|
  __pycache__/.*|
  \.venv/.*|
  \.mcp-quick-venv/.*|
  mcp-servers/.*|
  test-results/.*|
  playwright-report/.*
)$

  tsc-check: any of: \.(ts|tsx)$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  .*\.sqlite$|
  .*\.sqlite3$|
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  dist/.*|
  coverage/.*|
  __pycache__/.*|
  \.venv/.*|
  \.mcp-quick-venv/.*|
  mcp-servers/.*|
  test-results/.*|
  playwright-report/.*
)$

  ruff-check: any of: \.py$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  .*\.sqlite$|
  .*\.sqlite3$|
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  dist/.*|
  coverage/.*|
  __pycache__/.*|
  \.venv/.*|
  \.mcp-quick-venv/.*|
  mcp-servers/.*|
  test-results/.*|
  playwright-report/.*
)$

  ruff-format: any of: \.py$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  .*\.sqlite$|
  .*\.sqlite3$|
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  dist/.*|
  coverage/.*|
  __pycache__/.*|
  \.venv/.*|
  \.mcp-quick-venv/.*|
  mcp-servers/.*|
  test-results/.*|
  playwright-report/.*
)$

