Repository jscraik/Cortex-OS: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, tsc-check, ruff-check, ruff-format

biome-check:
  name: Biome Check
  entry: bash -c 'if command -v ./biome >/dev/null 2>&1; then ./biome check --apply "$@"; else echo "Biome not found at ./biome, skipping"; exit 0; fi'
  language: system
  pass_filenames: true

tsc-check:
  name: TypeScript Check
  entry: bash -c 'if command -v pnpm >/dev/null 2>&1; then pnpm tsc --noEmit; else echo "pnpm not found, skipping TypeScript check"; exit 0; fi'
  language: system
  pass_filenames: false
  stages:
  - pre-push

ruff-check:
  name: Ruff Check
  entry: bash -c 'if command -v uv >/dev/null 2>&1; then uv run ruff check --fix -- "$@"; elif command -v ruff >/dev/null 2>&1; then ruff check --fix -- "$@"; else echo "Ruff not found, skipping Python linting"; exit 0; fi'
  language: system
  pass_filenames: true
  stages:
  - pre-push

ruff-format:
  name: Ruff Format
  entry: bash -c 'if command -v uv >/dev/null 2>&1; then uv run ruff format -- "$@"; elif command -v ruff >/dev/null 2>&1; then ruff format -- "$@"; else echo "Ruff not found, skipping Python formatting"; exit 0; fi'
  language: system
  pass_filenames: true
  stages:
  - pre-push

chore: include pending updates to codex-reference and log file
  logs/git-autocommit-error.log
Due: none

chore(logs): include latest git-autocommit error log for traceability
  logs/git-autocommit-error.log
Due: none

chore(repo): update hooks, configs, and scripts to latest workspace standards
  .githooks/post-checkout
  .githooks/post-merge
  .githooks/pre-commit
  .vscode/settings.json
  biome.json
  logs/README.md
  package.json
  scripts/ensure-efficiency-tools.sh
  scripts/install-efficiency-tools.sh
Due: biome-check

chore: update autocommit log before syncing
  logs/git-autocommit-error.log
Due: none

Auto-save: README.md
  README.md
Due: none

chore(git): ignore generated logs to keep working tree clean
  .gitignore
  logs/git-autocommit-error.log
Due: none

docs: document mise trust and minimal setup option
  README.md
  scripts/dev-setup.sh
Due: none

Update dev-setup.sh
  scripts/dev-setup.sh
Due: none

feat(core): add model provider trait and registry
  apps/cortex-codex/codex/codex-rs/common/src/model_presets.rs
  apps/cortex-codex/codex/codex-rs/common/tests/model_presets.rs
  apps/cortex-codex/codex/codex-rs/core/Cargo.toml
  apps/cortex-codex/codex/codex-rs/core/src/apply_patch.rs
  apps/cortex-codex/codex/codex-rs/core/src/chat_completions.rs
  apps/cortex-codex/codex/codex-rs/core/src/lib.rs
  apps/cortex-codex/codex/codex-rs/core/src/model_provider_info.rs
  apps/cortex-codex/codex/codex-rs/core/tests/model_provider_trait.rs
  apps/cortex-codex/codex/codex-rs/core/tests/model_switching.rs
Due: none

Update apply_patch.rs
  apps/cortex-codex/codex/codex-rs/core/src/apply_patch.rs
Due: none

feat(agents): add LangGraphJS agent
  packages/agents/package.json
  packages/agents/src/agents/langgraph-agent.ts
  packages/agents/src/index.ts
  packages/agents/tests/unit/langgraph-agent.test.ts
  pnpm-lock.yaml
Due: biome-check, tsc-check

Update index.ts
  packages/agents/src/index.ts
Due: biome-check, tsc-check

fix: update cortex-codex CLI and core client for provider integration
  apps/cortex-codex/cli/src/main.rs
  apps/cortex-codex/core/src/client.rs
  apps/cortex-codex/core/tests/suite/cli_stream.rs
Due: none

chore: streamline setup and versioning
  .pre-commit-config-lite.yaml
  README.md
  package.json
  packages/a2a-services/package.json
  scripts/dev-setup.sh
  scripts/mise-trust.sh
Due: biome-check

Update package.json
  package.json
Due: biome-check

feat(memories): add sqlite-vec vector search
  packages/memories/README.md
  packages/memories/package.json
  packages/memories/src/adapters/store.sqlite.ts
  packages/memories/tests/sqlite-store.spec.ts
  packages/memories/tests/vector-search-verification.spec.ts
  pnpm-lock.yaml
Due: biome-check, tsc-check

fix: constrain platform deps and relax lint rules
  eslint.config.js
  pyproject.toml
Due: biome-check

refactor: unify hooks and enforce coverage
  .githooks/post-checkout
  .githooks/post-merge
  .githooks/pre-commit
  .github/workflows/ci.yml
  .husky/commit-msg
  .husky/pre-commit
  .pre-commit-config.yaml
  docs/quick-start.md
  libs/typescript/utils/package.json
  libs/typescript/utils/tests/vector.property.test.ts
  package.json
  pnpm-lock.yaml
  scripts/ai-test-generator.mjs
  tools/structure-guard/policy.json
  website/docs/getting-started/quick-start.md
Due: biome-check, tsc-check

docs: add TDD micro-task guidelines
  AGENTS.md
Due: none

Update store.sqlite.ts
  packages/memories/src/adapters/store.sqlite.ts
Due: biome-check, tsc-check

Update pyproject.toml
  pyproject.toml
Due: none

Update ai-test-generator.mjs
  scripts/ai-test-generator.mjs
Due: none

Update pre-commit
  .husky/pre-commit
Due: none

Update AGENTS.md
  AGENTS.md
Due: none

test(python): make optional qwen tests skip cleanly
  pyproject.toml
  tests/test_qwen_embedding.py
Due: ruff-check, ruff-format

docs(website): fix docusaurus for github pages
  .github/workflows/docs-deploy.yml
  website/docs/getting-started/quick-start.md
  website/docs/guides/python-integration.md
  website/docusaurus.config.ts
  website/src/components/HomepageFeatures/index.tsx
  website/src/components/HomepageFeatures/styles.module.css
  website/src/pages/index.tsx
  website/src/theme/CodeBlock/CodeBlockContainer/index.js
  website/src/theme/CodeBlock/CodeBlockContainer/styles.module.css
  website/src/theme/CodeBlock/index.js
Due: biome-check, tsc-check

ci(workflows): add actionlint workflow
  .github/workflows/workflow-lint.yml
Due: none

chore(ci): pin actions and standardize setup
  .github/actions/setup/action.yml
  .github/workflows/agents-ci.yml
  .github/workflows/ci.yml
Due: none

Update index.tsx
  website/src/pages/index.tsx
Due: biome-check, tsc-check

feat(cortex-ai-github): add basic scheduler
  packages/cortex-ai-github/src/core/scheduler.ts
  packages/cortex-ai-github/src/test/scheduler.test.ts
Due: biome-check, tsc-check

chore(submodules): add submodules-sync make target and docs
  Makefile
  docs/submodules.md
Due: none

docs(submodules): document openai-codex submodule usage
  .gitmodules
  README.md
  apps/cortex-codex/CHANGELOG.md
  apps/cortex-codex/TASKS.md
  docs/submodules.md
Due: none

Path conditions:
  biome-check: any of: \.(js|jsx|ts|tsx|json|jsonc)$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  .*\.sqlite$|
  .*\.sqlite3$|
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  dist/.*|
  coverage/.*|
  __pycache__/.*|
  \.venv/.*|
  \.mcp-quick-venv/.*|
  mcp-servers/.*|
  test-results/.*|
  playwright-report/.*
)$

  tsc-check: any of: \.(ts|tsx)$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  .*\.sqlite$|
  .*\.sqlite3$|
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  dist/.*|
  coverage/.*|
  __pycache__/.*|
  \.venv/.*|
  \.mcp-quick-venv/.*|
  mcp-servers/.*|
  test-results/.*|
  playwright-report/.*
)$

  ruff-check: any of: \.py$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  .*\.sqlite$|
  .*\.sqlite3$|
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  dist/.*|
  coverage/.*|
  __pycache__/.*|
  \.venv/.*|
  \.mcp-quick-venv/.*|
  mcp-servers/.*|
  test-results/.*|
  playwright-report/.*
)$

  ruff-format: any of: \.py$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  .*\.sqlite$|
  .*\.sqlite3$|
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  dist/.*|
  coverage/.*|
  __pycache__/.*|
  \.venv/.*|
  \.mcp-quick-venv/.*|
  mcp-servers/.*|
  test-results/.*|
  playwright-report/.*
)$

