Repository jscraik/Cortex-OS: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, tsc-check, ruff-check, ruff-format

.pre-commit-config.yaml:

# Pre-commit hooks for quality gates and automated checks
repos:
  # Local hooks using project tools
  - repo: local
    hooks:
      # Biome linting and formatting with command validation
      - id: biome-check
        name: Biome Check
        entry: pnpm biome check --apply
        language: system
        files: \.(js|jsx|ts|tsx|json|jsonc)$
        pass_filenames: true

      # TypeScript type checking with validation
      - id: tsc-check
        name: TypeScript Check
        entry: pnpm tsc --noEmit
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
        stages: [pre-push]

      # Python formatting and linting with uv validation
      - id: ruff-check
        name: Ruff Check
        entry: uv run ruff check --fix --
        language: system
        files: \.py$
        pass_filenames: true
        stages: [pre-push]

      - id: ruff-format
        name: Ruff Format
        entry: uv run ruff format --
        language: system
        files: \.py$
        pass_filenames: true
        stages: [pre-push]

      # Security checks with proper error handling
      - id: security-audit
        name: Security Audit
        entry: pnpm audit --audit-level moderate || echo "Security audit completed with warnings"
        language: system
        pass_filenames: false
        stages: [pre-push]

      # License compliance with validation
      - id: license-check
        name: License Check
        entry: pnpm run license:check || echo "License check completed with warnings"
        language: system
        pass_filenames: false
        stages: [pre-push]

  # Git hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: \.(md|patch)$
      - id: end-of-file-fixer
        exclude: \.(patch|svg)$
      - id: check-yaml
        exclude: \.gitlab-ci\.yml$
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: detect-private-key
        exclude: LLMs\.txt$
      - id: check-case-conflict
      - id: mixed-line-ending

  # Dockerfile linting
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker
        entry: hadolint
        language: system
        files: Dockerfile.*

  # Commit message validation
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.29.0
    hooks:
      - id: commitizen
        stages: [commit-msg]

# Global excludes
exclude: |
  (?x)^(
    .*\.lock$|
    .*\.log$|
    .*\.sqlite$|
    .*\.sqlite3$|
    node_modules/.*|
    \.git/.*|
    \.turbo/.*|
    \.next/.*|
    dist/.*|
    coverage/.*|
    __pycache__/.*|
    \.venv/.*|
    \.mcp-quick-venv/.*|
    mcp-servers/.*|
    test-results/.*|
    playwright-report/.*
  )$

# Configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ""
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: weekly
  skip: []
  submodules: false

Update cortex-marketplace-review-tdd-plan.md
  cortex-marketplace-review-tdd-plan.md
Due: none

docs(cortex-sec): add TDD plan
  cortex-sec-tdd-plan.md
Due: none

docs(orchestration): add BVOO review plan
  packages-orchestration-review-tdd-plan.md
Due: none

docs: add agents package TDD plan
  AGENTS_TDD_PLAN.md
Due: none

docs: add a2a and a2a-services review
  a2a-services-review.md
Due: none

docs(asbr): add technical review and tdd plan
  asbr-review-tdd-plan.md
Due: none

Update AGENTS_TDD_PLAN.md
  AGENTS_TDD_PLAN.md
Due: none

Update asbr-review-tdd-plan.md
  asbr-review-tdd-plan.md
Due: none

feat(cortex-py): enable dependency injection and config
  apps/cortex-py/README.md
  apps/cortex-py/src/app.py
  apps/cortex-py/src/mlx/embedding_generator.py
  apps/cortex-py/src/mlx/embedding_models.json
  apps/cortex-py/src/mlx/mlx_unified.py
  apps/cortex-py/tests/test_app.py
  apps/cortex-py/tests/test_embedding_generator.py
  apps/cortex-py/tests/test_mlx_unified.py
Due: biome-check, ruff-check, ruff-format

Update test_embedding_generator.py
  apps/cortex-py/tests/test_embedding_generator.py
Due: ruff-check, ruff-format

Update embedding_generator.py
  apps/cortex-py/src/mlx/embedding_generator.py
Due: ruff-check, ruff-format

fix(a2a): export redaction utility
  packages/a2a/a2a-core/src/__tests__/redaction.test.ts
  packages/a2a/a2a-core/src/index.ts
  packages/a2a/a2a-core/src/redaction.ts
Due: biome-check, tsc-check

Update redaction.ts
  packages/a2a/a2a-core/src/redaction.ts
Due: biome-check, tsc-check

ci(asbr): enforce release readiness checks
  package.json
  packages/asbr/src/api/auth.ts
  packages/asbr/src/api/server.ts
  packages/asbr/src/core/config.ts
  packages/asbr/src/index.ts
  packages/asbr/src/lib/deep-merge.ts
  packages/asbr/src/types/index.ts
  packages/asbr/tests/integration/cache-ttl-config.test.ts
  packages/asbr/tests/integration/error-structure.test.ts
  packages/asbr/tests/unit/build-output.test.ts
  packages/asbr/tests/unit/deep-merge.test.ts
  scripts/release-gate.sh
  scripts/smoke-healthz.mjs
Due: biome-check, tsc-check

feat(webui-backend): validate environment configuration
  apps/cortex-webui/backend/__tests__/config.test.ts
  apps/cortex-webui/backend/src/config/config.ts
  apps/cortex-webui/backend/src/config/constants.ts
  apps/cortex-webui/backend/src/server.ts
  apps/cortex-webui/backend/src/services/authService.ts
  apps/cortex-webui/backend/src/services/fileService.ts
  apps/cortex-webui/backend/src/services/healthService.ts
  apps/cortex-webui/backend/src/utils/database.ts
  apps/cortex-webui/backend/vitest.config.ts
  apps/cortex-webui/shared/constants/index.d.ts
  apps/cortex-webui/shared/constants/index.js
  apps/cortex-webui/shared/constants/index.ts
Due: biome-check, tsc-check

Update deep-merge.ts
  packages/asbr/src/lib/deep-merge.ts
Due: biome-check, tsc-check

Update server.ts
  packages/asbr/src/api/server.ts
Due: biome-check, tsc-check

feat(providers-ext): add overlay providers (anthropic, zai, ollama) and re-export core traits
  apps/cortex-code/core/Cargo.toml
  apps/cortex-code/providers-ext/Cargo.toml
  apps/cortex-code/providers-ext/src/lib.rs
  apps/cortex-code/providers-ext/src/providers/anthropic.rs
  apps/cortex-code/providers-ext/src/providers/mod.rs
  apps/cortex-code/providers-ext/src/providers/ollama.rs
  apps/cortex-code/providers-ext/src/providers/zai.rs
  simple-tests/build-progress-validation.test.ts
Due: biome-check, tsc-check

refactor(core/providers): keep upstream providers in core; move ext providers to overlay without cycles
  apps/cortex-code/providers-ext/src/lib.rs
  apps/cortex-code/providers-ext/src/providers/ollama.rs
Due: none

feat(cli): register external providers via overlay at startup
  apps/cortex-code/cli/Cargo.toml
  apps/cortex-code/cli/src/main.rs
  apps/cortex-code/providers-ext/src/providers/mod.rs
Due: none

fix(webui-backend): defer env config retrieval
  apps/cortex-webui/backend/__tests__/authService.test.ts
  apps/cortex-webui/backend/__tests__/config.test.ts
  apps/cortex-webui/backend/src/config/config.ts
  apps/cortex-webui/backend/src/config/constants.ts
  apps/cortex-webui/backend/src/controllers/authController.ts
  apps/cortex-webui/backend/src/controllers/conversationController.ts
  apps/cortex-webui/backend/src/controllers/documentController.ts
  apps/cortex-webui/backend/src/controllers/fileController.ts
  apps/cortex-webui/backend/src/controllers/modelController.ts
  apps/cortex-webui/backend/src/middleware/auth.ts
  apps/cortex-webui/backend/src/server.ts
  apps/cortex-webui/backend/src/services/authService.ts
  apps/cortex-webui/backend/src/services/fileService.ts
  apps/cortex-webui/backend/src/services/healthService.ts
  apps/cortex-webui/backend/src/utils/database.ts
  apps/cortex-webui/backend/src/utils/tool-store.ts
  apps/cortex-webui/backend/vitest.config.ts
  apps/cortex-webui/shared/constants/index.d.ts
  apps/cortex-webui/shared/constants/index.js
  apps/cortex-webui/shared/constants/index.ts
Due: biome-check, tsc-check

Update apps/cortex-webui/backend/src/config/config.ts
  apps/cortex-webui/backend/src/config/config.ts
Due: biome-check, tsc-check

Update apps/cortex-webui/backend/src/services/healthService.ts
  apps/cortex-webui/backend/src/services/healthService.ts
Due: biome-check, tsc-check

feat(orchestration): implement advanced cancellation system with integration tests
  packages/services/orchestration/src/lib/__tests__/cancellation.test.ts
  packages/services/orchestration/src/lib/__tests__/compensation.test.ts
  packages/services/orchestration/src/lib/__tests__/executor.test.ts
  packages/services/orchestration/src/lib/__tests__/hooks.test.ts
  packages/services/orchestration/src/lib/__tests__/integration.test.ts
  packages/services/orchestration/src/lib/cancellation.ts
  packages/services/orchestration/src/lib/compensation.ts
  packages/services/orchestration/src/lib/executor.ts
  packages/services/orchestration/src/lib/hooks.ts
Due: biome-check, tsc-check

docs(orchestration): document conditional branching
  packages/orchestration/README.md
  packages/orchestration/src/service/branch-executor.ts
  packages/orchestration/tests/branch-executor.test.ts
Due: biome-check, tsc-check

Update branch-executor.ts
  packages/orchestration/src/service/branch-executor.ts
Due: biome-check, tsc-check

chore(model-gateway): mark readiness checklist complete
  packages/model-gateway/readiness.yml
Due: none

feat(memories): add consent pending queue
  packages/memories/src/domain/types.ts
  packages/memories/src/schemas/memory.zod.ts
  packages/memories/src/service/memory-service.ts
  packages/memories/tests/pending-queue.spec.ts
Due: biome-check, tsc-check

Update memory-service.ts
  packages/memories/src/service/memory-service.ts
Due: biome-check, tsc-check

docs(orchestration): add comprehensive package documentation and exports
  packages/services/orchestration/README.md
  packages/services/orchestration/src/index.ts
  packages/services/orchestration/src/lib/__tests__/cancellation.test.ts
  packages/services/orchestration/src/lib/__tests__/compensation.test.ts
  packages/services/orchestration/src/lib/__tests__/hooks.test.ts
  packages/services/orchestration/src/lib/__tests__/integration.test.ts
  packages/services/orchestration/src/lib/cancellation.ts
  packages/services/orchestration/src/lib/compensation.ts
  packages/services/orchestration/src/lib/executor.ts
  packages/services/orchestration/src/lib/hooks.ts
Due: biome-check, tsc-check

feat(a2a-services): enforce global quota
  packages/a2a-services/common/src/middleware/quota.ts
  packages/a2a-services/common/tests/quota.test.ts
Due: biome-check, tsc-check

Update packages/a2a-services/common/src/middleware/quota.ts
  packages/a2a-services/common/src/middleware/quota.ts
Due: biome-check, tsc-check

fix: resolve post-merge type errors and cleanup
  apps/cortex-code/Cargo.lock
  apps/cortex-code/README.md
  apps/cortex-code/cli/Cargo.toml
  apps/cortex-code/cli/src/main.rs
  apps/cortex-code/docs/cortex-code-docs/providers.md
  apps/cortex-code/providers-ext/src/providers/anthropic.rs
  apps/cortex-code/providers-ext/src/providers/zai.rs
  apps/cortex-code/tui/src/chatwidget/agent.rs
  apps/cortex-code/tui/src/overlay_smoke_tests.rs
  packages/asbr/src/core/config.ts
  packages/asbr/src/index.ts
  packages/asbr/src/lib/deep-merge.ts
  packages/mcp/review.md
  packages/orchestration/orchestration.fix-plan.md
  packages/prp-runner/src/__tests__/asbr-ai-mcp-integration.test.ts
  packages/prp-runner/src/__tests__/vitest.setup.ts
  packages/prp-runner/src/asbr-ai-mcp-integration.ts
  packages/prp-runner/src/orchestrator.d.ts
  packages/prp-runner/src/orchestrator.js
  packages/prp-runner/src/orchestrator.ts
  packages/services/orchestration/README.md
  packages/services/orchestration/src/index.ts
Due: biome-check, tsc-check

docs(cortex-code): add overlay quickstart page
  apps/cortex-code/docs/cortex-code-docs/index.md
  apps/cortex-code/docs/cortex-code-docs/overlay-quickstart.md
  apps/cortex-code/mcp-server/src/lib.rs
  apps/cortex-code/mcp-server/src/message_processor.rs
  apps/cortex-code/mcp-server/src/test_tool.rs
  apps/cortex-code/mcp-server/tests/common/mcp_process.rs
  apps/cortex-code/mcp-server/tests/suite/mod.rs
  apps/cortex-code/mcp-server/tests/suite/test_tool.rs
Due: none

Update apps/cortex-code/mcp-server/src/message_processor.rs
  apps/cortex-code/mcp-server/src/message_processor.rs
Due: none
