Repository jscraik/Cortex-OS: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, tsc-check, ruff-check, ruff-format

biome-check:
  name: Biome Check
  entry: pnpm biome check --apply
  language: system
  pass_filenames: true

tsc-check:
  name: TypeScript Check
  entry: pnpm tsc --noEmit
  language: system
  pass_filenames: false
  stages:
  - pre-push

ruff-check:
  name: Ruff Check
  entry: uv run ruff check --fix --
  language: system
  pass_filenames: true
  stages:
  - pre-push

ruff-format:
  name: Ruff Format
  entry: uv run ruff format --
  language: system
  pass_filenames: true
  stages:
  - pre-push

Add retry and circuit breaker handling to MCP connector manager
  packages/mcp/src/connectors/manager.test.ts
  packages/mcp/src/connectors/manager.ts
Due: biome-check, tsc-check

Update nx-smart.mjs
  scripts/nx-smart.mjs
Due: none

Update GPUAcceleration.ts
  packages/memory-core/src/acceleration/GPUAcceleration.ts
Due: biome-check, tsc-check

Update LocalMemoryProvider.ts
  packages/memory-core/src/providers/LocalMemoryProvider.ts
Due: biome-check, tsc-check

Update GraphRAGService.test.ts
  packages/memory-core/src/__tests__/GraphRAGService.test.ts
Due: biome-check, tsc-check

Update manager.ts
  packages/mcp/src/connectors/manager.ts
Due: biome-check, tsc-check

refactor: split GraphRAG query pipeline helpers
  packages/memory-core/src/__tests__/GraphRAGService.test.ts
  packages/memory-core/src/services/GraphRAGService.ts
  packages/memory-core/vitest.config.ts
Due: biome-check, tsc-check

Add dependency audit and upgrade readiness checks
  package.json
  scripts/dependencies/audit-dependencies.mjs
  scripts/dependencies/check-upgrade-readiness.mjs
Due: biome-check

fix: unblock memory-core graphrag tests
  packages/memory-core/src/__tests__/GraphRAGService.test.ts
  packages/memory-core/src/services/GraphRAGService.ts
  packages/memory-core/vitest.config.ts
Due: biome-check, tsc-check

feat(memory-core): harden local provider security workflows
  packages/memory-core/src/providers/LocalMemoryProvider.ts
Due: biome-check, tsc-check

fix: harden local memory provider security checks
  packages/memory-core/src/provider/MemoryProvider.ts
  packages/memory-core/src/providers/LocalMemoryProvider.ts
Due: biome-check, tsc-check

chore: add dependency structural audit
  package.json
  reports/baseline/dependency-audit.json
  scripts/dependencies/dependency-audit.mjs
Due: biome-check

chore: disable husky pre-commit hook
  .husky/pre-commit
Due: none

Update pre-commit
  .husky/pre-commit
Due: none

feat: add glm-4.6 cloud tier to hybrid routing
  config/hybrid-model-enforcement.json
  config/hybrid-model-strategy.json
  config/hybrid.env
  config/ollama-models.json
  config/ollama-v012-integration.ts
  docs/OLLAMA_V012_FEATURES.md
  docs/OLLAMA_V012_INTEGRATION_SUMMARY.md
  docs/integrations/python/EXTERNALSSD_MODELS_CORRECTED.md
  packages/model-gateway/src/model-router.ts
  scripts/deployment/hybrid-deployment-validation.sh
Due: biome-check, tsc-check

feat: integrate task workflow with prp runner
  .github/instructions/memories.instructions.md
  .github/workflows/prp-task-ci.yml
  docs/task-prp-integration.md
  packages/prp-runner/README.md
  packages/prp-runner/src/__tests__/task-integration.test.ts
  packages/prp-runner/src/index.ts
  packages/prp-runner/src/run-manifest/index.ts
  packages/prp-runner/src/run-manifest/schema.ts
  packages/prp-runner/src/task-integration.ts
  scripts/cortex-task.mjs
Due: biome-check, tsc-check

Update OLLAMA_V012_FEATURES.md
  docs/OLLAMA_V012_FEATURES.md
Due: none

Update ollama-v012-integration.ts
  config/ollama-v012-integration.ts
Due: biome-check, tsc-check

Update hybrid-model-strategy.json
  config/hybrid-model-strategy.json
Due: biome-check

Update cortex-task.mjs
  scripts/cortex-task.mjs
Due: none

Update prp-task-ci.yml
  .github/workflows/prp-task-ci.yml
Due: none

feat(prp-runner): add bmad guardrail and GitHub spec kit bridge
  packages/prp-runner/README.md
  packages/prp-runner/src/__tests__/bmad-alignment.test.ts
  packages/prp-runner/src/__tests__/bmad-loop.test.ts
  packages/prp-runner/src/__tests__/github-spec-kit.test.ts
  packages/prp-runner/src/bmad/alignment.ts
  packages/prp-runner/src/bmad/index.ts
  packages/prp-runner/src/index.ts
  packages/prp-runner/src/integrations/github-spec-kit.ts
Due: biome-check, tsc-check

Update github-spec-kit.ts
  packages/prp-runner/src/integrations/github-spec-kit.ts
Due: biome-check, tsc-check

Update alignment.ts
  packages/prp-runner/src/bmad/alignment.ts
Due: biome-check, tsc-check

docs: update agentic workflow oversight
  .cortex/rules/agentic-coding-workflow.md
  .cortex/rules/vibe-check.md
Due: none

Update agentic-coding-workflow.md
  .cortex/rules/agentic-coding-workflow.md
Due: none

chore: resolve lint findings in shared packages
  libs/typescript/asbr-schemas/tsconfig.json
  libs/typescript/telemetry/tsconfig.json
  libs/typescript/types/tsconfig.json
  libs/typescript/utils/tsconfig.json
  packages/executor-spool/src/fetch.ts
  packages/mvp/mvp-core/src/observability/otel.ts
  packages/mvp/mvp-core/src/result.ts
  packages/mvp/mvp-core/src/retry.ts
  packages/mvp/mvp-core/src/secure-db.ts
  packages/mvp/mvp-core/src/validation.ts
  packages/mvp/mvp-core/tests/result.property.spec.ts
  packages/telemetry/src/index.ts
  packages/telemetry/src/otel-config.ts
  tools/prp-cli/src/lib/policy.ts
  tools/prp-cli/src/lib/signatures.ts
Due: biome-check, tsc-check

fix(memory-core): align context packing with context graph tests
  packages/memory-core/src/context-graph/ContextPackService.ts
Due: biome-check, tsc-check

Path conditions:
  biome-check: any of: \.(js|jsx|ts|tsx|json|jsonc)$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  .*\.sqlite$|
  .*\.sqlite3$|
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  dist/.*|
  coverage/.*|
  __pycache__/.*|
  \.venv/.*|
  \.mcp-quick-venv/.*|
  mcp-servers/.*|
  test-results/.*|
  playwright-report/.*
)$

  tsc-check: any of: \.(ts|tsx)$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  .*\.sqlite$|
  .*\.sqlite3$|
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  dist/.*|
  coverage/.*|
  __pycache__/.*|
  \.venv/.*|
  \.mcp-quick-venv/.*|
  mcp-servers/.*|
  test-results/.*|
  playwright-report/.*
)$

  ruff-check: any of: \.py$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  .*\.sqlite$|
  .*\.sqlite3$|
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  dist/.*|
  coverage/.*|
  __pycache__/.*|
  \.venv/.*|
  \.mcp-quick-venv/.*|
  mcp-servers/.*|
  test-results/.*|
  playwright-report/.*
)$

  ruff-format: any of: \.py$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  .*\.sqlite$|
  .*\.sqlite3$|
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  dist/.*|
  coverage/.*|
  __pycache__/.*|
  \.venv/.*|
  \.mcp-quick-venv/.*|
  mcp-servers/.*|
  test-results/.*|
  playwright-report/.*
)$

