Repository jscraik/Cortex-OS: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, tsc-check, ruff-check, ruff-format

biome-check:
  name: Biome Check
  entry: pnpm biome check --apply
  language: system
  pass_filenames: true

tsc-check:
  name: TypeScript Check
  entry: pnpm tsc --noEmit
  language: system
  pass_filenames: false
  stages:
  - pre-push

ruff-check:
  name: Ruff Check
  entry: uv run ruff check --fix --
  language: system
  pass_filenames: true
  stages:
  - pre-push

ruff-format:
  name: Ruff Format
  entry: uv run ruff format --
  language: system
  pass_filenames: true
  stages:
  - pre-push

Update services/memories/src/health/memoryHealth.ts
  services/memories/src/health/memoryHealth.ts
Due: biome-check, tsc-check

refine better auth prisma adapter tests
  apps/api/src/auth/database-adapter.ts
  apps/api/tests/auth/database-adapter.spec.ts
Due: biome-check, tsc-check

Enhance auth external monitoring coverage
  apps/cortex-webui/backend/src/__tests__/mocks/telemetry.ts
  apps/cortex-webui/backend/src/__tests__/services/external-monitoring-service.test.ts
  apps/cortex-webui/backend/src/services/externalMonitoringService.ts
  apps/cortex-webui/backend/vitest.config.integration.ts
Due: biome-check, tsc-check

Add coverage threshold resolver regression tests
  CHANGELOG.md
  README.md
  tasks/coverage-tuning-tdd-plan.md
  tests/config/coverage-thresholds.test.ts
Due: biome-check, tsc-check

Strengthen master agent orchestration coverage
  packages/agents/src/MasterAgent.ts
  packages/orchestration/src/lib/agent-health-monitor.ts
  packages/orchestration/src/providers/composite-provider.ts
  packages/services/orchestration/tests/health/pool-health.spec.ts
  packages/services/orchestration/tests/master-agent.exec.spec.ts
  packages/services/orchestration/tests/stability/composite-provider.spec.ts
Due: biome-check, tsc-check

feat: add realtime metrics events and publishing coverage
  libs/typescript/contracts/src/memory-realtime.ts
  libs/typescript/contracts/tests/memory-realtime-metrics.contract.test.ts
  packages/memories/src/a2a/event-publisher.ts
  packages/memories/src/a2a/types.ts
  packages/memories/src/adapters/server.realtime.ts
  packages/memories/tests/a2a/event-publisher.test.ts
  packages/memories/tests/integration/realtime-server.test.ts
Due: biome-check, tsc-check

Update apps/cortex-webui/backend/src/services/externalMonitoringService.ts
  apps/cortex-webui/backend/src/services/externalMonitoringService.ts
Due: biome-check, tsc-check

Update packages/memories/tests/a2a/event-publisher.test.ts
  packages/memories/tests/a2a/event-publisher.test.ts
Due: biome-check, tsc-check

Update packages/memories/src/adapters/server.realtime.ts
  packages/memories/src/adapters/server.realtime.ts
Due: biome-check, tsc-check

Update packages/memories/src/a2a/event-publisher.ts
  packages/memories/src/a2a/event-publisher.ts
Due: biome-check, tsc-check

Add slash command coverage and kernel integration
  docs/slash-command-integration.md
  packages/commands/tests/parseSlash.test.ts
  packages/commands/tests/runner.test.ts
  packages/commands/tests/security.test.ts
  packages/orchestration/src/__tests__/buildN0.test.ts
  packages/orchestration/src/langgraph/n0-graph.ts
Due: biome-check, tsc-check

test: harden n0 alignment contract and document follow-up
  LANGGRAPH_INTEGRATION_PLAN.md
  packages/orchestration/tests/n0-state-alignment.contract.test.ts
Due: biome-check, tsc-check

Update packages/orchestration/src/langgraph/n0-graph.ts
  packages/orchestration/src/langgraph/n0-graph.ts
Due: biome-check, tsc-check

Update packages/orchestration/src/__tests__/buildN0.test.ts
  packages/orchestration/src/__tests__/buildN0.test.ts
Due: biome-check, tsc-check

Update packages/commands/tests/runner.test.ts
  packages/commands/tests/runner.test.ts
Due: biome-check, tsc-check

feat: align realtime contracts and prisma fallback
  apps/api/src/db/prisma-client.ts
  apps/api/src/routes/api-v1.ts
  apps/api/tests/api-v1.tasks.spec.ts
  libs/typescript/contracts/tests/memory-realtime-messages.contract.test.ts
  packages/memories/README.md
  packages/memories/src/adapters/server.realtime.ts
  packages/memories/tests/integration/realtime-server.test.ts
Due: biome-check, tsc-check

Restore slash metadata helpers and fix kernel allow-list tests
  packages/agents/tests/file-agent-loader.test.ts
  packages/commands/tests/slash-integration.test.ts
  packages/hooks/tests/filesystem-config.test.ts
  packages/kernel/src/tools/bind-kernel-tools.ts
  packages/kernel/tests/tool-binding.test.ts
  packages/orchestration/src/__tests__/buildN0.test.ts
  packages/orchestration/src/langgraph/n0-graph.ts
  packages/orchestration/vitest.config.ts
Due: biome-check, tsc-check

Update packages/kernel/src/tools/bind-kernel-tools.ts
  packages/kernel/src/tools/bind-kernel-tools.ts
Due: biome-check, tsc-check

fix: Remove Mock placeholder to comply with brAInwav regression tests
  packages/tdd-coach/src/cli/tdd-coach.ts
Due: biome-check, tsc-check

feat(mcp): add nx-console recommendation and mcp diagnostic script
  .vscode/extensions.json
  tools/mcp/check_mcp_paths.sh
Due: biome-check

chore(mcp): add repo-local local-memory wrapper and README docs
  .vscode/mcp.json
  README.md
  tools/mcp/wrap_local_memory.sh
Due: biome-check

fix: resolve MCP local-memory ENOENT error with absolute paths
  .vscode/mcp.json
  tools/mcp/wrap_local_memory.sh
Due: biome-check

docs: add operational readiness assessment
  docs/operational-readiness-assessment.md
  tasks/operational-readiness-assessment-tdd-plan.md
  tasks/operational-readiness-assessment.research.md
Due: none

fix(security): improve secret protection and remove leaked Snyk token
  .gitignore
  packages/security/.env.local.example
Due: none

feat(local-memory): align TDD plan with model inventories
  tasks/instructor-hybrid-integration.research.md
  tasks/instructor-hybrid-integration.tdd-plan.md
  tasks/local-memory-hardening-tdd-plan.md
  tasks/local-memory-hardening.research.md
Due: none

Path conditions:
  biome-check: any of: \.(js|jsx|ts|tsx|json|jsonc)$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  .*\.sqlite$|
  .*\.sqlite3$|
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  dist/.*|
  coverage/.*|
  __pycache__/.*|
  \.venv/.*|
  \.mcp-quick-venv/.*|
  mcp-servers/.*|
  test-results/.*|
  playwright-report/.*
)$

  tsc-check: any of: \.(ts|tsx)$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  .*\.sqlite$|
  .*\.sqlite3$|
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  dist/.*|
  coverage/.*|
  __pycache__/.*|
  \.venv/.*|
  \.mcp-quick-venv/.*|
  mcp-servers/.*|
  test-results/.*|
  playwright-report/.*
)$

  ruff-check: any of: \.py$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  .*\.sqlite$|
  .*\.sqlite3$|
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  dist/.*|
  coverage/.*|
  __pycache__/.*|
  \.venv/.*|
  \.mcp-quick-venv/.*|
  mcp-servers/.*|
  test-results/.*|
  playwright-report/.*
)$

  ruff-format: any of: \.py$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  .*\.sqlite$|
  .*\.sqlite3$|
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  dist/.*|
  coverage/.*|
  __pycache__/.*|
  \.venv/.*|
  \.mcp-quick-venv/.*|
  mcp-servers/.*|
  test-results/.*|
  playwright-report/.*
)$

