Repository jscraik/Cortex-OS: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, tsc-check, ruff-check, ruff-format

biome-check:
  name: Biome Check
  entry: pnpm biome check --apply
  language: system
  pass_filenames: true

tsc-check:
  name: TypeScript Check
  entry: pnpm tsc --noEmit
  language: system
  pass_filenames: false
  stages:
  - pre-push

ruff-check:
  name: Ruff Check
  entry: uv run ruff check --fix --
  language: system
  pass_filenames: true
  stages:
  - pre-push

ruff-format:
  name: Ruff Format
  entry: uv run ruff format --
  language: system
  pass_filenames: true
  stages:
  - pre-push

chore(observability): remove unused import
  packages/observability/src/mcp/tools.ts
  packages/observability/tests/initialize.test.ts
  packages/observability/tests/mcp.tools.test.ts
Due: biome-check, tsc-check

Update packages/observability/tests/mcp.tools.test.ts
  packages/observability/tests/mcp.tools.test.ts
Due: biome-check, tsc-check

Update packages/observability/src/mcp/tools.ts
  packages/observability/src/mcp/tools.ts
Due: biome-check, tsc-check

feat(observability): add mcp tool validation and errors
  packages/observability/src/mcp/tools.ts
  packages/observability/tests/initialize.test.ts
  packages/observability/tests/mcp.tools.test.ts
Due: biome-check, tsc-check

feat(observability): add MCP runtime tooling tests
  packages/observability/src/index.ts
  packages/observability/src/mcp/runtime.ts
  packages/observability/src/mcp/tools.ts
  packages/observability/tests/initialize.test.ts
  packages/observability/tests/mcp-integration.test.ts
  packages/observability/tests/mcp-runtime.test.ts
Due: biome-check, tsc-check

Update packages/observability/tests/mcp-runtime.test.ts
  packages/observability/tests/mcp-runtime.test.ts
Due: biome-check, tsc-check

Update packages/observability/tests/mcp-integration.test.ts
  packages/observability/tests/mcp-integration.test.ts
Due: biome-check, tsc-check

Update packages/observability/src/mcp/runtime.ts
  packages/observability/src/mcp/runtime.ts
Due: biome-check, tsc-check

fix(observability): align mcp tool re-exports [P1]
  packages/observability/src/index.ts
  packages/observability/tests/index.exports.test.ts
Due: biome-check, tsc-check

feat(orchestration): add mcp tool contracts
  packages/orchestration/docs/mcp-tools.md
  packages/orchestration/src/index.ts
  packages/orchestration/src/mcp/tools.ts
  packages/orchestration/tests/mcp-tool-definitions.test.ts
Due: biome-check, tsc-check

Update packages/orchestration/src/mcp/tools.ts
  packages/orchestration/src/mcp/tools.ts
Due: biome-check, tsc-check

feat(orchestration): add mcp tool handlers
  packages/orchestration/src/index.ts
  packages/orchestration/src/mcp/tools.ts
  packages/orchestration/tests/mcp-tools.test.ts
Due: biome-check, tsc-check

feat(cortex-py): add fastmcp tool integration
  apps/cortex-py/docs/mcp-tools.md
  apps/cortex-py/pyproject.toml
  apps/cortex-py/src/app.py
  apps/cortex-py/src/cortex_py/__init__.py
  apps/cortex-py/src/cortex_py/generator.py
  apps/cortex-py/src/cortex_py/mcp/__init__.py
  apps/cortex-py/src/cortex_py/mcp/docs.py
  apps/cortex-py/src/cortex_py/mcp/models.py
  apps/cortex-py/src/cortex_py/mcp/server.py
  apps/cortex-py/src/cortex_py/mcp/tools.py
  apps/cortex-py/src/cortex_py/services.py
  apps/cortex-py/tests/mcp/test_embedding_service.py
  apps/cortex-py/tests/mcp/test_mcp_tools.py
  apps/cortex-py/uv.lock
Due: ruff-check, ruff-format

Update apps/cortex-py/src/cortex_py/services.py
  apps/cortex-py/src/cortex_py/services.py
Due: ruff-check, ruff-format

Update apps/cortex-py/src/cortex_py/mcp/tools.py
  apps/cortex-py/src/cortex_py/mcp/tools.py
Due: ruff-check, ruff-format

feat(api): add mcp tool integrations
  apps/api/src/core/api-service.ts
  apps/api/src/core/cache.ts
  apps/api/src/core/observability.ts
  apps/api/src/core/rate-limiter.ts
  apps/api/src/core/request-router.ts
  apps/api/src/core/sanitizer.ts
  apps/api/src/core/security.ts
  apps/api/src/core/transaction.ts
  apps/api/src/core/types.ts
  apps/api/src/index.ts
  apps/api/src/mcp/context.ts
  apps/api/src/mcp/contracts.ts
  apps/api/src/mcp/errors.ts
  apps/api/src/mcp/schemas.ts
  apps/api/src/mcp/tools.ts
  apps/api/tests/api-gateway.tool.test.ts
  apps/api/tests/api-mcp.integration.test.ts
  apps/api/tests/request-routing.tool.test.ts
  apps/api/tests/response-handler.tool.test.ts
  apps/api/tests/test-utils.ts
  apps/api/tsconfig.json
  apps/api/vitest.config.ts
  tsconfig.base.json
Due: biome-check, tsc-check

feat(a2a): integrate message buses across core packages
  packages/observability/package.json
  packages/observability/src/events/observability-bus.ts
  packages/observability/src/events/observability-events.ts
  packages/observability/src/index.ts
  packages/observability/tests/a2a-bus.test.ts
  packages/observability/vitest.config.ts
  packages/orchestration/package.json
  packages/orchestration/src/events/orchestration-bus.ts
  packages/orchestration/src/events/orchestration-events.ts
  packages/orchestration/src/index.ts
  packages/orchestration/tests/a2a-bus.test.ts
  packages/orchestration/vitest.config.ts
  packages/rag/package.json
  packages/rag/src/events/rag-bus.ts
  packages/rag/src/events/rag-events.ts
  packages/rag/src/index.ts
  packages/rag/test/a2a-bus.spec.ts
  packages/rag/vitest.config.ts
Due: biome-check, tsc-check

feat(tdd-coach): wire a2a message bus
  packages/simlab/package.json
  packages/simlab/src/a2a.ts
  packages/simlab/src/events/simlab-events.ts
  packages/simlab/src/index.ts
  packages/simlab/tests/a2a-bus.test.ts
  packages/simlab/vitest.config.ts
  packages/tdd-coach/__tests__/a2a-bus.test.ts
  packages/tdd-coach/package.json
  packages/tdd-coach/src/a2a.ts
  packages/tdd-coach/src/events/tdd-coach-events.ts
  packages/tdd-coach/src/index.ts
  packages/tdd-coach/vitest.config.ts
Due: biome-check, tsc-check

Update apps/api/src/core/observability.ts
  apps/api/src/core/observability.ts
Due: biome-check, tsc-check

Update apps/api/src/core/request-router.ts
  apps/api/src/core/request-router.ts
Due: biome-check, tsc-check

Update packages/rag/src/events/rag-bus.ts
  packages/rag/src/events/rag-bus.ts
Due: biome-check, tsc-check

Update packages/orchestration/src/events/orchestration-bus.ts
  packages/orchestration/src/events/orchestration-bus.ts
Due: biome-check, tsc-check

Update packages/observability/src/events/observability-bus.ts
  packages/observability/src/events/observability-bus.ts
Due: biome-check, tsc-check

fix: correct pyproject.toml authors field placement
  python/pyproject.toml
Due: none

fix: resolve Python type checking issues
  python/src/cortex_mlx/mcp/base.py
  python/tests/conftest.py
Due: ruff-check, ruff-format

fix: resolve TypeScript and Python linting issues
  libs/typescript/contracts/tests/model-gateway-events.evidence.contract.test.ts
  libs/typescript/contracts/tsconfig.json
Due: biome-check, tsc-check

fix: remove unused imports to satisfy Python linting
  python/src/cortex_mlx/mcp/base.py
  python/tests/conftest.py
Due: ruff-check, ruff-format

fix: resolve instructor import and type compatibility issues
  python/src/cortex_mlx/router.py
Due: ruff-check, ruff-format

fix: resolve linting errors and duplicate exports
  .memory/logs/2025-09-16T03-11-14-621Z-quick.jsonl
  .memory/logs/2025-09-16T03-25-17-924Z-quick.jsonl
  apps/cortex-webui/backend/README.md
  apps/cortex-webui/backend/package.json
  apps/cortex-webui/backend/src/mcp/tools.ts
  apps/cortex-webui/backend/src/server.ts
  apps/cortex-webui/backend/test/mcp.tools.handler.test.ts
  contracts/tests/webui-tools.contract.test.ts
  libs/typescript/contracts/src/index.ts
  libs/typescript/contracts/src/webui-tools.ts
  libs/typescript/contracts/tsconfig.json
  logs/eslint-batch.pid
  packages/memories/src/index.ts
  packages/memories/src/mcp/tools.ts
  packages/memories/tests/mcp.tools.spec.ts
  packages/memories/tests/mcp/memory.integration.spec.ts
  packages/mvp/mvp-group/src/lib/kernel.ts
  packages/mvp/mvp-server/src/tools/ConfigValidator.ts
  packages/mvp/mvp/src/lib/llm.ts
  packages/mvp/mvp/src/mcp/adapter.ts
  packages/mvp/mvp/src/nodes/evaluation.ts
  packages/mvp/mvp/src/nodes/evaluation/code-review-validator.ts
  packages/mvp/mvp/src/nodes/evaluation/quality-budget-validator.ts
  packages/prp-runner/src/asbr-ai-mcp-integration.ts
  packages/prp-runner/src/asbr-ai-mcp-server.ts
  project-documentation/A2A_NATIVE_COMMUNICATION_AND_MCP_BRIDGE_ALL_PACKAGES_SUMMARY.md
  project-documentation/A2A_NATIVE_COMMUNICATION_AND_MCP_BRIDGE_TDD_PLAN.md
  project-documentation/ALL_PACKAGES_A2A_NATIVE_COMMUNICATION_AND_MCP_BRIDGE_ANALYSIS.md
  python/uv.lock
Due: biome-check, tsc-check

Path conditions:
  biome-check: any of: \.(js|jsx|ts|tsx|json|jsonc)$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  .*\.sqlite$|
  .*\.sqlite3$|
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  dist/.*|
  coverage/.*|
  __pycache__/.*|
  \.venv/.*|
  \.mcp-quick-venv/.*|
  mcp-servers/.*|
  test-results/.*|
  playwright-report/.*
)$

  tsc-check: any of: \.(ts|tsx)$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  .*\.sqlite$|
  .*\.sqlite3$|
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  dist/.*|
  coverage/.*|
  __pycache__/.*|
  \.venv/.*|
  \.mcp-quick-venv/.*|
  mcp-servers/.*|
  test-results/.*|
  playwright-report/.*
)$

  ruff-check: any of: \.py$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  .*\.sqlite$|
  .*\.sqlite3$|
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  dist/.*|
  coverage/.*|
  __pycache__/.*|
  \.venv/.*|
  \.mcp-quick-venv/.*|
  mcp-servers/.*|
  test-results/.*|
  playwright-report/.*
)$

  ruff-format: any of: \.py$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  .*\.sqlite$|
  .*\.sqlite3$|
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  dist/.*|
  coverage/.*|
  __pycache__/.*|
  \.venv/.*|
  \.mcp-quick-venv/.*|
  mcp-servers/.*|
  test-results/.*|
  playwright-report/.*
)$

