Repository jscraik/Cortex-OS: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, tsc-check, ruff-check, ruff-format

.pre-commit-config.yaml:

# Pre-commit hooks for quality gates and automated checks
repos:
  # Local hooks using project tools
  - repo: local
    hooks:
      # Biome linting and formatting with command validation
      - id: biome-check
        name: Biome Check
        entry: pnpm biome check --apply
        language: system
        files: \.(js|jsx|ts|tsx|json|jsonc)$
        pass_filenames: true

      # TypeScript type checking with validation
      - id: tsc-check
        name: TypeScript Check
        entry: pnpm tsc --noEmit
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
        stages: [pre-push]

      # Python formatting and linting with uv validation
      - id: ruff-check
        name: Ruff Check
        entry: uv run ruff check --fix --
        language: system
        files: \.py$
        pass_filenames: true
        stages: [pre-push]

      - id: ruff-format
        name: Ruff Format
        entry: uv run ruff format --
        language: system
        files: \.py$
        pass_filenames: true
        stages: [pre-push]

      # Security checks with proper error handling
      - id: security-audit
        name: Security Audit
        entry: pnpm audit --audit-level moderate || echo "Security audit completed with warnings"
        language: system
        pass_filenames: false
        stages: [pre-push]

      # License compliance with validation
      - id: license-check
        name: License Check
        entry: pnpm run license:check || echo "License check completed with warnings"
        language: system
        pass_filenames: false
        stages: [pre-push]

  # Git hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: \.(md|patch)$
      - id: end-of-file-fixer
        exclude: \.(patch|svg)$
      - id: check-yaml
        exclude: \.gitlab-ci\.yml$
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: detect-private-key
        exclude: LLMs\.txt$
      - id: check-case-conflict
      - id: mixed-line-ending

  # Dockerfile linting
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker
        entry: hadolint
        language: system
        files: Dockerfile.*

  # Commit message validation
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.29.0
    hooks:
      - id: commitizen
        stages: [commit-msg]

# Global excludes
exclude: |
  (?x)^(
    .*\.lock$|
    .*\.log$|
    .*\.sqlite$|
    .*\.sqlite3$|
    node_modules/.*|
    \.git/.*|
    \.turbo/.*|
    \.next/.*|
    dist/.*|
    coverage/.*|
    __pycache__/.*|
    \.venv/.*|
    \.mcp-quick-venv/.*|
    mcp-servers/.*|
    test-results/.*|
    playwright-report/.*
  )$

# Configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ""
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: weekly
  skip: []
  submodules: false

chore: upgrade Nx to v21.6.3 with brAInwav configuration
  apps/cortex-webui/backend/src/__tests__/services/fileService.test.ts
  apps/cortex-webui/backend/src/__tests__/services/modelService.test.ts
  apps/cortex-webui/backend/src/__tests__/utils/swagger.test.ts
  package.json
  pnpm-lock.yaml
Due: biome-check, tsc-check

feat: enhance TDD plan with mandatory CODESTYLE.md compliance
  tasks/cortex-os-&-cortex-py-tdd-plan.md
Due: none

fix: Resolve VS Code workspace corruption and auth issues
  .vscode/settings.corrupted.json
Due: biome-check

feat(ci): add phase 7 docker ci/cd, mcp releases, observability validation
  .github/workflows/docker-ci.yml
  .github/workflows/mcp-server-release.yml
  .github/workflows/observability-validate.yml
  tasks/PHASE-7-CI-CD-AUDIT.md
  tasks/PHASE-7-COMPLETE.md
Due: none

fix: resolve linting issues in security package
  PROJECT-COMPLETION-SUMMARY.md
  docker/docker-compose.macos-dev.yml
  docs/deployment/PRODUCTION-DEPLOYMENT-GUIDE.md
  packages/agent-toolkit/__tests__/session-persistence.test.ts
  packages/agent-toolkit/src/resilience/ResilientExecutor.ts
  packages/agent-toolkit/src/session/SessionPersistence.ts
  packages/mcp-server/Dockerfile.enhanced
  packages/mcp-server/src/security/brainwav-security-manager.ts
  packages/security/Dockerfile.egress-proxy
  packages/security/package.json
  packages/security/src/egress-proxy.ts
Due: biome-check, tsc-check

feat: final security and infrastructure enhancements
  config/security-policies/development.json
  config/security-policies/production.json
  docker/docker-compose.macos-dev.yml
  packages/agent-toolkit/__tests__/resilient-executor.test.ts
  packages/agent-toolkit/src/index.ts
  packages/mcp-server/Dockerfile.enhanced
  scripts/start-brainwav-security.sh
  tasks/PHASE3-COMPLETION-SUMMARY.md
Due: biome-check, tsc-check

feat(graphrag): implement brAInwav GraphRAG with Qdrant integration
  config/graphrag.policy.yaml
  docs/GRAPHRAG_IMPLEMENTATION_PLAN.md
  packages/cortex-mcp/src/cortex_mcp/tools/graphrag.py
  packages/memory-core/src/__tests__/GraphRAGService.test.ts
  packages/memory-core/src/retrieval/LanceDBHybrid.ts
  packages/memory-core/src/retrieval/QdrantHybrid.ts
  packages/memory-core/src/services/GraphRAGService.ts
  prisma/migrations/20250104000001_graphrag_schema/migration.sql
  prisma/schema.prisma
Due: biome-check, tsc-check, ruff-check, ruff-format

feat: finalize workspace cleanup and configuration updates
  .env.example
  .mcp.json
  .qdrant-initialized
  PROJECT-COMPLETION-SUMMARY.md
  apps/cortex-webui/backend/test/mcp.security.integration.test.ts
  docker/docker-compose.yml
  fix-imports.js
  index.html
  restart-ts-service.sh
  test-results.json
Due: biome-check, tsc-check

feat: complete memory provider and external dependency updates
  packages/memory-core/src/providers/LocalMemoryProvider.ts
Due: biome-check, tsc-check

feat: finalize memory REST API and external dependency updates
  packages/memory-rest-api/src/index.ts
Due: biome-check, tsc-check

feat: complete all remaining workspace changes
  packages/memory-core/src/providers/LocalMemoryProvider.ts
  packages/memory-rest-api/src/index.ts
  simple-tests/security-fixes-validation.test.ts
Due: biome-check, tsc-check

feat: resolve final workspace inconsistencies
  simple-tests/security-fixes-validation.test.ts
Due: biome-check, tsc-check

feat: complete final workspace cleanup
  .gemini/settings.json
  apps/cortex-webui/backend/vitest.env.ts
  storage/aliases/data.json
  storage/raft_state.json
  test-temp/metrics/coverage.json
  test-temp/metrics/quality-gate-report.json
  test-temp/metrics/quality-summary.json
  test-temp/quality_gate.json
Due: biome-check, tsc-check

feat: finalize configuration and submodule updates
  apps/cortex-webui/backend/vitest.config.ts
Due: biome-check, tsc-check

feat: comprehensive workspace finalization
  apps/cortex-webui/backend/vitest.config.integration.ts
  packages/agent-toolkit/bin/ast-grep
  packages/agent-toolkit/bin/comby
  packages/agent-toolkit/bin/ripgrep
  packages/agent-toolkit/bin/semgrep
  simple-tests/security-fixes-validation.test.ts
Due: biome-check, tsc-check

feat: complete MCP security configuration and submodule sync
  apps/cortex-webui/backend/vitest.mcp-security.config.ts
Due: biome-check, tsc-check

feat: complete all security policy and submodule updates
  packages/security/src/policy-engine/opa/a2a-security.rego
  packages/security/src/policy-engine/opa/mcp-tools.rego
  packages/security/src/policy-engine/opa/security_policy.rego
  packages/security/src/policy-engine/opa/security_policy.wasm
Due: none

feat: finalize security validation and submodule sync
  simple-tests/security-fixes-validation.test.ts
Due: biome-check, tsc-check

feat: complete all outstanding workspace changes
  .eng/quality_gate.json
  apps/cortex-webui/backend/src/__tests__/setup.ts
  apps/cortex-webui/backend/src/test/setup.ts
  tools/structure-guard/policy.json
Due: biome-check, tsc-check

feat: update quality gate enforcer and structure guard policy
  scripts/ci/quality-gate-enforcer.ts
  tools/structure-guard/policy.json
Due: biome-check, tsc-check

feat: update quality gate configuration and security validation
  .eng/quality_gate.json
  scripts/ci/quality-gate-enforcer.ts
  simple-tests/security-fixes-validation.test.ts
Due: biome-check, tsc-check

feat: finalize quality gate enforcer updates
  scripts/ci/quality-gate-enforcer.ts
Due: biome-check, tsc-check

feat: complete submodule and workspace synchronization
  scripts/ci/quality-gate-enforcer.ts
  simple-tests/quality-gate-enforcement.test.ts
  tasks/cortex-os-&-cortex-py-tdd-plan.md
  test-temp/metrics/coverage.json
  test-temp/quality_gate.json
Due: biome-check, tsc-check

chore(tdd-plan): tighten phase0 readiness guardrails
  .husky/pre-commit
  scripts/ci/ops-readiness.sh
  simple-tests/ops-readiness-script.test.ts
  tasks/cortex-os-&-cortex-py-tdd-plan.md
Due: biome-check, tsc-check

chore(cortex-code): remove legacy cortex-codex references
  .github/workflows/cortex-code-ci.yml
  CLAUDE.md
  apps/README.md
  package.json
  project-documentation/EXEMPTION_NOTICE.md
  project-documentation/cortex-code/README.md
  project-documentation/cortex-code/docs/faq.md
  project-documentation/cortex-code/docs/getting-started.md
  scripts/system/cleanup-duplicate-configs.sh
  scripts/system/codex-doctor.sh
  tasks/PHASE-7-CI-CD-AUDIT.md
Due: biome-check

chore(repo): remove openai codex submodule
  .gitmodules
  Makefile
  README.md
  apps/cortex-code/justfile
  docs/submodules.md
  docs/submodules/openai-codex.md
  project-documentation/EXEMPTION_NOTICE.md
  scripts/CLEANUP_SUMMARY.md
  scripts/system/codex-rs-subtree.sh
  scripts/vendor-cortex-code.sh
  tasks/cortex-code-sync-pr-draft.md
Due: none

docs(apps): explain why api stays external
  apps/README.md
Due: none

fix: lint issues - regex patterns, cognitive complexity, and type safety
  libs/typescript/utils/src/eventsource-ambient.ts
  libs/typescript/utils/src/safe-fetch.ts
  libs/typescript/utils/src/secure-neo4j.ts
Due: biome-check, tsc-check

feat: multimodal support and config updates
  .vscode/settings.json
  CHANGELOG.md
  apps/cortex-py/pyproject.toml
  apps/cortex-py/src/multimodal/clip_embedder.py
  apps/cortex-py/src/multimodal/types.py
  apps/cortex-py/src/multimodal/validation.py
  config/cortex-os.master.json
  config/eslint-sonar-per-package-index.json
  config/hybrid-deployment.yml
  packages/mcp-core/src/tools/web-fetch-tool.ts
  packages/memories/prisma/schema.prisma
  packages/memories/src/domain/types.ts
  reports/tdd-coach/pytest-session.json
  scripts/ci/ops-readiness.sh
  simple-tests/ops-readiness-script.test.ts
  tasks/phase3-1-1-schema-extension-summary.md
  tasks/phase3-1-2-file-validation-summary.md
  tasks/phase3-1-3-clip-integration-summary.md
  tasks/phase3-multimodal-embeddings.research.md
  tasks/phase3-progress-summary.md
  website/docs/cortex/capability-map.md
Due: biome-check, tsc-check, ruff-check, ruff-format

fix: add eslint disable for false-positive sonarjs lint error
  libs/typescript/utils/src/safe-fetch-json.ts
  packages/mcp-core/src/tools/web-fetch-tool.ts
Due: biome-check, tsc-check

feat(agents): scaffold modern planner worker system
  docs/architecture/agent-architecture.md
  docs/plans/modern-agent-system-plan.md
  packages/agent-toolkit/src/index.ts
  packages/agent-toolkit/src/session/SessionContextManager.ts
  packages/agents/src/index.ts
  packages/agents/src/modern-agent-system/approval-gate.ts
  packages/agents/src/modern-agent-system/index.ts
  packages/agents/src/modern-agent-system/mcp-clients.ts
  packages/agents/src/modern-agent-system/memory-adapter.ts
  packages/agents/src/modern-agent-system/planner.ts
  packages/agents/src/modern-agent-system/tool-router.ts
  packages/agents/src/modern-agent-system/types.ts
  packages/agents/src/modern-agent-system/worker-registry.ts
  packages/agents/src/modern-agent-system/worker-runner.ts
  packages/agents/tests/modern-agent-system/integration/system.integration.test.ts
  packages/agents/tests/modern-agent-system/unit/mcp-clients.test.ts
  packages/agents/tests/modern-agent-system/unit/planner.test.ts
  packages/agents/tests/modern-agent-system/unit/tool-router.test.ts
  packages/agents/tests/modern-agent-system/unit/worker-registry.test.ts
Due: biome-check, tsc-check

Update mcp-clients.test.ts
  packages/agents/tests/modern-agent-system/unit/mcp-clients.test.ts
Due: biome-check, tsc-check

Update worker-runner.ts
  packages/agents/src/modern-agent-system/worker-runner.ts
Due: biome-check, tsc-check
