Repository jscraik/Cortex-OS: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, tsc-check, ruff-check, ruff-format

.pre-commit-config.yaml:

# Pre-commit hooks for quality gates and automated checks
repos:
  # Local hooks using project tools
  - repo: local
    hooks:
      # Biome linting and formatting with command validation
      - id: biome-check
        name: Biome Check
        entry: pnpm biome check --apply
        language: system
        files: \.(js|jsx|ts|tsx|json|jsonc)$
        pass_filenames: true

      # TypeScript type checking with validation
      - id: tsc-check
        name: TypeScript Check
        entry: pnpm tsc --noEmit
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
        stages: [pre-push]

      # Python formatting and linting with uv validation
      - id: ruff-check
        name: Ruff Check
        entry: uv run ruff check --fix --
        language: system
        files: \.py$
        pass_filenames: true
        stages: [pre-push]

      - id: ruff-format
        name: Ruff Format
        entry: uv run ruff format --
        language: system
        files: \.py$
        pass_filenames: true
        stages: [pre-push]

      # Security checks with proper error handling
      - id: security-audit
        name: Security Audit
        entry: pnpm audit --audit-level moderate || echo "Security audit completed with warnings"
        language: system
        pass_filenames: false
        stages: [pre-push]

      # License compliance with validation
      - id: license-check
        name: License Check
        entry: pnpm run license:check || echo "License check completed with warnings"
        language: system
        pass_filenames: false
        stages: [pre-push]

  # Git hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: \.(md|patch)$
      - id: end-of-file-fixer
        exclude: \.(patch|svg)$
      - id: check-yaml
        exclude: \.gitlab-ci\.yml$
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: detect-private-key
        exclude: LLMs\.txt$
      - id: check-case-conflict
      - id: mixed-line-ending

  # Dockerfile linting
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker
        entry: hadolint
        language: system
        files: Dockerfile.*

  # Commit message validation
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.29.0
    hooks:
      - id: commitizen
        stages: [commit-msg]

# Global excludes
exclude: |
  (?x)^(
    .*\.lock$|
    .*\.log$|
    .*\.sqlite$|
    .*\.sqlite3$|
    node_modules/.*|
    \.git/.*|
    \.turbo/.*|
    \.next/.*|
    dist/.*|
    coverage/.*|
    __pycache__/.*|
    \.venv/.*|
    \.mcp-quick-venv/.*|
    mcp-servers/.*|
    test-results/.*|
    playwright-report/.*
  )$

# Configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ""
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: weekly
  skip: []
  submodules: false

docs: add constitutional violations resolution summary
  .cortex/reviews/66240a7dc/SESSION_COMPLETE.md
Due: none

fix: upgrade fastmcp to resolve vendor crash
  CHANGELOG.md
  packages/mcp-server/CHATGPT_CONNECTION_GUIDE.md
  packages/mcp-server/CHATGPT_FINAL_RESOLUTION.md
  packages/mcp-server/FASTMCP_BUG_REPORT.md
  packages/mcp-server/FASTMCP_V3_FEATURES.md
  packages/mcp-server/PERPLEXITY_CONFIG.md
  packages/mcp-server/package.json
  packages/mcp-server/src/server/mcp-server.ts
  pnpm-lock.yaml
Due: biome-check, tsc-check

feat: integrate GitKraken MCP server with comprehensive GitHub/GitLab/Jira support
  .cortex/constitutional-compliance-verified.log
  .cortex/mcp.runtime.json
  .cortex/reviews/final-assessment/issues.json
  .cortex/reviews/final-assessment/review.md
  .github/.DS_Store
  .vscode/mcp.json
  config/gitkraken-mcp-auth.md
  config/servers.json
Due: biome-check

chore: regenerate pnpm-lock.yaml with complete dependency graph
  pnpm-lock.yaml
Due: none

Fix Pieces MCP proxy registration and status updates
  packages/mcp-server/src/index.ts
  packages/mcp-server/src/tools/index.ts
Due: biome-check, tsc-check

Update packages/mcp-server/src/index.ts
  packages/mcp-server/src/index.ts
Due: biome-check, tsc-check

chore: harden local memory client safety
  .semgrepignore
  apps/cortex-py/src/cortex_py/thermal.py
  apps/cortex-py/src/cortex_py/thermal_monitor.py
  docker/gpl-tools/gpl_service.py
  docker/gpl-tools/health_check.py
  examples/local-memory-rest-api.ts
  examples/test-local-memory.mjs
  libs/python/safe_subprocess/safe_subprocess.py
  package.json
  packages/agents/test-endpoint.js
  packages/commands/src/adapters.ts
  packages/mcp-server/src/index.ts
  packages/prp-runner/src/lib/model-selector.ts
  packages/workflow-orchestrator/src/memory/LocalMemoryClient.ts
  pnpm-lock.yaml
  scripts/create_github_release
  scripts/maintenance/fix-dependencies.py
  scripts/maintenance/install-mlx-tools.py
  scripts/smoke-healthz.mjs
  scripts/system/codemap.py
  servers/scripts/release.py
  tools/model-convert/convert-to-mlx.py
Due: biome-check, tsc-check, ruff-check, ruff-format

feat(rag): make claims retrieval optional
  packages/rag/__tests__/remote-mcp.wikidata-vector.integration.test.ts
  packages/rag/docs/wikidata-integration-usage.md
  packages/rag/src/integrations/remote-mcp.ts
Due: biome-check, tsc-check

docs: align wikidata tool references with manifest
  packages/rag/docs/wikidata-integration-usage.md
Due: none

Clarify Wikidata governance requirements
  .cortex/rules/agentic-coding-workflow.md
  .cortex/rules/code-review-checklist.md
  .cortex/rules/constitution.md
Due: none

feat(rag): scope Wikidata SPARQL queries to QIDs
  packages/rag/__tests__/remote-mcp.wikidata-vector.integration.test.ts
  packages/rag/src/integrations/remote-mcp.ts
Due: biome-check, tsc-check

Update packages/rag/docs/wikidata-integration-usage.md
  packages/rag/docs/wikidata-integration-usage.md
Due: none

Update packages/rag/src/integrations/remote-mcp.ts
  packages/rag/src/integrations/remote-mcp.ts
Due: biome-check, tsc-check

Update packages/rag/__tests__/remote-mcp.wikidata-vector.integration.test.ts
  packages/rag/__tests__/remote-mcp.wikidata-vector.integration.test.ts
Due: biome-check, tsc-check

Add plan for skills governance upgrade
  tasks/skills-feature-governance-upgrade-tdd-plan.md
Due: none

Update tasks/skills-feature-governance-upgrade-tdd-plan.md
  tasks/skills-feature-governance-upgrade-tdd-plan.md
Due: none

Document scope decision for phase auto-advance plan
  tasks/phase-auto-advance-plan-evaluation.md
Due: none

feat(mcp-bridge): add drive and copilot proxy gauges
  packages/mcp-bridge/src/index.ts
  packages/mcp-bridge/src/runtime/telemetry/metrics.ts
  packages/mcp-bridge/tests/telemetry-metrics.test.ts
Due: biome-check, tsc-check

chore(build): add nx build wiring for utils and packages
  .gitignore
  libs/typescript/utils/project.json
  packages/agent-toolkit/package.json
  packages/agent-toolkit/project.json
  packages/agent-toolkit/src/infra/CodemapAdapter.ts
  packages/agent-toolkit/src/infra/CodemodAdapters.ts
  packages/agent-toolkit/src/infra/SearchAdapters.ts
  packages/agent-toolkit/src/infra/SearchTools.ts
  packages/agent-toolkit/src/infra/ValidationAdapters.ts
  packages/agent-toolkit/src/mcp/runtime.ts
  packages/agent-toolkit/tsconfig.json
  packages/memory-core/project.json
  packages/security/dist/index.d.ts
  pnpm-lock.yaml
  tsconfig.base.json
Due: biome-check, tsc-check

feat: expose connectors schema via asbr types
  packages/asbr/src/types/index.ts
  packages/mcp-server/src/__tests__/index.wiring.test.ts
  packages/mcp-server/src/config/connectors.ts
  packages/mcp-server/src/connectors-proxy.ts
Due: biome-check, tsc-check

build: wire mcp bridge telemetry build into server
  packages/mcp-bridge/project.json
  packages/mcp-bridge/src/browser-executor.ts
  packages/mcp-server/__tests__/auth.integration.test.ts
  packages/mcp-server/package.json
  packages/mcp-server/src/__tests__/transport-http-auth.guard.test.ts
  packages/mcp-server/src/index.ts
  packages/mcp-server/src/utils/config.ts
Due: biome-check, tsc-check

fix(asbr): clean lint errors and improve typing
  packages/asbr/server-backup.ts
  packages/asbr/src/api/server.ts
  packages/asbr/src/cerebrum/cerebrum.ts
  packages/asbr/src/cerebrum/types.ts
  packages/asbr/src/connectors/signature.ts
  packages/asbr/src/lib/logger.ts
  packages/asbr/src/sdk/index.ts
  packages/asbr/tests/fuzz/task-input-fuzz.test.ts
  packages/asbr/tests/integration/event-trace-propagation.integration.test.ts
  packages/asbr/tests/integration/rate-limit.integration.test.ts
  packages/asbr/tests/mocks/winston.mock.ts
  packages/asbr/tests/unit/create-idempotency-key.test.ts
  packages/asbr/tests/utils/test-helpers.ts
  packages/asbr/tests/utils/write-guard.ts
Due: biome-check, tsc-check

docs: summarize expertise amplification strategies
  docs/analysis/amplifying-expertise-with-cortex-os.md
Due: none

Optimize dashboard lazy loading performance
  apps/chatgpt-dashboard/src/components/LazyOnView.tsx
  apps/chatgpt-dashboard/src/components/StickyFilterBar.tsx
  apps/chatgpt-dashboard/src/hooks/useConnectorState.ts
Due: biome-check, tsc-check

Optimize artifact listing concurrency
  apps/cortex-os/src/persistence/artifact-repository.ts
  apps/cortex-os/tests/persistence/artifact-repository.test.ts
Due: biome-check, tsc-check

Optimize SLO tracker percentile and error calculations
  apps/cortex-py/src/performance/slo_tracker.py
Due: ruff-check, ruff-format

docs: add rag ecosystem performance review
  project-documentation/RAG_ECOSYSTEM_PERFORMANCE_REVIEW.md
Due: none

Add hooks ecosystem performance review
  project-documentation/HOOKS_ECOSYSTEM_PERFORMANCE_REVIEW.md
Due: none

docs: review rag ecosystem performance
  project-documentation/RAG_ECOSYSTEM_PERFORMANCE_REVIEW.md
Due: none

docs: add skills performance review
  reports/performance/skills-package-performance-review.md
Due: none

Add agents ecosystem performance review
  project-documentation/AGENTS_ECOSYSTEM_PERFORMANCE_REVIEW.md
Due: none

docs: review agent toolkit performance
  project-documentation/AGENT_TOOLKIT_ECOSYSTEM_PERFORMANCE_REVIEW.md
Due: none

docs: add integrations performance review
  project-documentation/INTEGRATIONS_ECOSYSTEM_PERFORMANCE_REVIEW.md
Due: none

docs: record mcp performance research findings
  project-documentation/MCP_PERFORMANCE_RESEARCH_2025-10-13.md
Due: none

docs: document A2A performance optimization research
  project-documentation/A2A_ECOSYSTEM_PERFORMANCE_RESEARCH_2025-10-13.md
Due: none

docs: add ASBR performance review
  project-documentation/ASBR_ECOSYSTEM_PERFORMANCE_REVIEW.md
Due: none

docs: add cbom performance review
  project-documentation/CBOM_ECOSYSTEM_PERFORMANCE_REVIEW.md
Due: none
