Repository jscraik/Cortex-OS: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, tsc-check, ruff-check, ruff-format

.pre-commit-config.yaml:

# Pre-commit hooks for quality gates and automated checks
repos:
  # Local hooks using project tools
  - repo: local
    hooks:
      # Biome linting and formatting with command validation
      - id: biome-check
        name: Biome Check
        entry: pnpm biome check --apply
        language: system
        files: \.(js|jsx|ts|tsx|json|jsonc)$
        pass_filenames: true

      # TypeScript type checking with validation
      - id: tsc-check
        name: TypeScript Check
        entry: pnpm tsc --noEmit
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
        stages: [pre-push]

      # Python formatting and linting with uv validation
      - id: ruff-check
        name: Ruff Check
        entry: uv run ruff check --fix --
        language: system
        files: \.py$
        pass_filenames: true
        stages: [pre-push]

      - id: ruff-format
        name: Ruff Format
        entry: uv run ruff format --
        language: system
        files: \.py$
        pass_filenames: true
        stages: [pre-push]

      # Security checks with proper error handling
      - id: security-audit
        name: Security Audit
        entry: pnpm audit --audit-level moderate || echo "Security audit completed with warnings"
        language: system
        pass_filenames: false
        stages: [pre-push]

      # License compliance with validation
      - id: license-check
        name: License Check
        entry: pnpm run license:check || echo "License check completed with warnings"
        language: system
        pass_filenames: false
        stages: [pre-push]

  # Git hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: \.(md|patch)$
      - id: end-of-file-fixer
        exclude: \.(patch|svg)$
      - id: check-yaml
        exclude: \.gitlab-ci\.yml$
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: detect-private-key
        exclude: LLMs\.txt$
      - id: check-case-conflict
      - id: mixed-line-ending

  # Dockerfile linting
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker
        entry: hadolint
        language: system
        files: Dockerfile.*

  # Commit message validation
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.29.0
    hooks:
      - id: commitizen
        stages: [commit-msg]

# Global excludes
exclude: |
  (?x)^(
    .*\.lock$|
    .*\.log$|
    .*\.sqlite$|
    .*\.sqlite3$|
    node_modules/.*|
    \.git/.*|
    \.turbo/.*|
    \.next/.*|
    dist/.*|
    coverage/.*|
    __pycache__/.*|
    \.venv/.*|
    \.mcp-quick-venv/.*|
    mcp-servers/.*|
    test-results/.*|
    playwright-report/.*
  )$

# Configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ""
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: weekly
  skip: []
  submodules: false

Update project-documentation/CORTEX_STRUCTURE_GITHUB_ECOSYSTEM_PERFORMANCE_REVIEW.md
  project-documentation/CORTEX_STRUCTURE_GITHUB_ECOSYSTEM_PERFORMANCE_REVIEW.md
Due: none

Update project-documentation/EVALS_ECOSYSTEM_PERFORMANCE_REVIEW.md
  project-documentation/EVALS_ECOSYSTEM_PERFORMANCE_REVIEW.md
Due: none

Update project-documentation/EVIDENCE_RUNNER_ECOSYSTEM_PERFORMANCE_REVIEW.md
  project-documentation/EVIDENCE_RUNNER_ECOSYSTEM_PERFORMANCE_REVIEW.md
Due: none

Update project-documentation/EXECUTOR_SPOOL_PERFORMANCE_REVIEW.md
  project-documentation/EXECUTOR_SPOOL_PERFORMANCE_REVIEW.md
Due: none

Update project-documentation/GATEWAY_ECOSYSTEM_PERFORMANCE_REVIEW.md
  project-documentation/GATEWAY_ECOSYSTEM_PERFORMANCE_REVIEW.md
Due: none

Update project-documentation/GITHUB_ECOSYSTEM_PERFORMANCE_REVIEW.md
  project-documentation/GITHUB_ECOSYSTEM_PERFORMANCE_REVIEW.md
Due: none

docs: assess memory ecosystem performance
  project-documentation/memory/MEMORY_ECOSYSTEM_PERFORMANCE_REVIEW.md
Due: none

Update project-documentation/memory/MEMORY_ECOSYSTEM_PERFORMANCE_REVIEW.md
  project-documentation/memory/MEMORY_ECOSYSTEM_PERFORMANCE_REVIEW.md
Due: none

fix(rag): resolve semgrep findings in ref-rag
  packages/rag/src/ref-rag/fact-extractor.ts
  packages/rag/src/ref-rag/query-guard.ts
Due: biome-check, tsc-check

Enhance arXiv search parsing in ToolLayer
  packages/agents/README.md
  packages/agents/__tests__/mcp/ArxivMCPTools.test.ts
  packages/agents/__tests__/subagents/ToolLayerAgent.arxiv.test.ts
  packages/agents/src/subagents/ToolLayerAgent.ts
Due: biome-check, tsc-check

feat(agents): expose configurable arxiv tool wiring
  packages/agents/__tests__/mcp/ArxivMCPTools.test.ts
  packages/agents/__tests__/subagents/ToolLayerAgent.arxiv.test.ts
  packages/agents/docs/DEPLOYMENT.md
  packages/agents/src/subagents/ToolLayerAgent.ts
Due: biome-check, tsc-check

fix(security): resolve critical ReDoS and sanitization vulnerabilities
  packages/mcp-auth/src/http/wwwAuthenticate.ts
  packages/rag/src/lib/content-security.ts
  packages/rag/src/ref-rag/fact-extractor.ts
  packages/rag/src/ref-rag/query-guard.ts
  tasks/security-vulnerabilities-fix-2025-01/research.md
Due: biome-check, tsc-check

feat: add production benchmark mode and arxiv cache telemetry
  packages/agents/__tests__/mcp/ArxivMCPTools.test.ts
  packages/agents/src/mcp/ArxivMCPTools.ts
  packages/rag/docs/graphrag.md
  scripts/performance/benchmark-graphrag.ts
Due: biome-check, tsc-check

docs: align governance workflow artifacts
  .github/pull_request_template.md
  project-documentation/checklist-and-tracker.md
  project-documentation/governance/workstream-governance-plan.md
Due: none

docs: add security operations plan and evidence checklist
  .github/workflows/security-consolidated.yml
  project-documentation/checklist-and-tracker.md
  project-documentation/security/security-operations-plan.md
  tasks/security-operations-plan/verification/README.md
Due: none

docs: document security vulnerability fixes in CHANGELOG
  CHANGELOG.md
  tasks/security-vulnerabilities-fix-2025-01/SUMMARY.md
Due: none

docs: document observability quick start and operations gate
  project-documentation/checklist-and-tracker.md
  project-documentation/observability/OBSERVABILITY_ECOSYSTEM_PERFORMANCE_REVIEW.md
  project-documentation/observability/operations-playbook.md
Due: none

docs: add wikidata workflow governance requirements
  project-documentation/RAG_TDD_CHECKLIST.md
  project-documentation/checklist-and-tracker.md
  project-documentation/rag/hybrid-knowledge-playbook.md
Due: none

docs: codify smart loops and quality gate logging
  docs/dev-productivity-playbook.md
  project-documentation/checklist-and-tracker.md
  project-documentation/code-mode/README.md
Due: none

Update packages/agents/src/subagents/ToolLayerAgent.ts
  packages/agents/src/subagents/ToolLayerAgent.ts
Due: biome-check, tsc-check

Update packages/agents/src/mcp/ArxivMCPTools.ts
  packages/agents/src/mcp/ArxivMCPTools.ts
Due: biome-check, tsc-check

fix(deps): resolve Dependabot security vulnerabilities
  package.json
  pnpm-lock.yaml
Due: biome-check

Update project-documentation/security/security-operations-plan.md
  project-documentation/security/security-operations-plan.md
Due: none

Update .github/workflows/security-consolidated.yml
  .github/workflows/security-consolidated.yml
Due: none

docs: complete security vulnerabilities resolution task
  tasks/security-vulnerabilities-fix-2025-01/COMPLETE.md
Due: none

Update project-documentation/code-mode/README.md
  project-documentation/code-mode/README.md
Due: none
