Repository jscraik/Cortex-OS: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, tsc-check, ruff-check, ruff-format

biome-check:
  name: Biome Check
  entry: pnpm biome check --apply
  language: system
  pass_filenames: true

tsc-check:
  name: TypeScript Check
  entry: pnpm tsc --noEmit
  language: system
  pass_filenames: false
  stages:
  - pre-push

ruff-check:
  name: Ruff Check
  entry: uv run ruff check --fix --
  language: system
  pass_filenames: true
  stages:
  - pre-push

ruff-format:
  name: Ruff Format
  entry: uv run ruff format --
  language: system
  pass_filenames: true
  stages:
  - pre-push

chore: commit remaining changed files and new type definitions
  packages/a2a/a2a-core/src/schema-registry.js
  packages/agents/src/MasterAgent.ts
  packages/agents/src/types/model-gateway-adapters.d.ts
  packages/agents/vitest.config.ts
  packages/gateway/tsconfig.tsbuildinfo
  packages/memories/src/adapters/store.memory.ts
Due: biome-check, tsc-check

fix: resolve linting issues and add intelligent memory store features
  packages/hooks/src/runners/js.ts
  packages/memories/src/adapters/store.intelligent.ts
  packages/memories/src/index.ts
  packages/memories/tests/intelligence/summarization.test.ts
  packages/orchestration/package.json
  packages/orchestration/src/__tests__/no-production-app.integration.test.ts
  packages/orchestration/src/__tests__/operations/operational-endpoints.test.ts
  packages/orchestration/src/__tests__/security/auth-middleware.test.ts
  packages/rag/docs/security-guide.md
  packages/rag/tsconfig.tsbuildinfo
  pnpm-lock.yaml
Due: biome-check, tsc-check

fix: address remaining lint error in local-memory-rest-api.ts
  examples/local-memory-rest-api.ts
  packages/rag/tsconfig.tsbuildinfo
Due: biome-check, tsc-check

feat: integrate new memory lifecycle, security features, and RAG improvements
  .github/workflows/deep-security.yml
  logs/mcp-server.pid
  package.json
  packages/memories/src/adapters/store.lifecycle.ts
  packages/memories/src/adapters/store.workflow.ts
  packages/memories/src/ports/MemoryStore.ts
  packages/memories/tests/integration/lifecycle.test.ts
  packages/memories/tests/integration/workflow.test.ts
  packages/orchestration/SECURITY-PHASE3-COMPLETE.md
  packages/orchestration/package.json
  packages/orchestration/src/__tests__/operations/operational-endpoints-simple.test.ts
  packages/orchestration/src/__tests__/security/auth-integration.test.ts
  packages/orchestration/src/__tests__/security/encryption.test.ts
  packages/orchestration/src/__tests__/security/security-middleware.test.ts
  packages/orchestration/src/operations/secure-operational-endpoints.ts
  packages/orchestration/src/security/encryption.ts
  packages/orchestration/src/security/index.ts
  packages/orchestration/src/security/security-middleware.ts
  packages/rag/__tests__/error-handling.comprehensive.test.ts
  packages/rag/__tests__/error-handling.focused.test.ts
  packages/rag/__tests__/memory-management.test.ts
  packages/rag/benchmarks/ingest.js
  packages/rag/benchmarks/ingestion-results.json
  packages/rag/benchmarks/performance-suite.js
  packages/rag/benchmarks/retrieval.js
  packages/rag/docs/performance.md
  packages/rag/package.json
  project-documentation/RAG_TDD_CHECKLIST.md
  project-documentation/RAG_TDD_COMPLETION_SUMMARY.md
  scripts/security-gate.mjs
  scripts/security/dependency-check-gate.mjs
  website/docs/cortex/changelog.md
Due: biome-check, tsc-check

test: verify hooks are re-enabled
  test_hooks.md
Due: none

chore: remove test hook file
  test_hooks.md
Due: none

fix(memory): protect VS Code and dev processes in memory cleanup scripts
  scripts/emergency-memory-cleanup.sh
  scripts/memory-manager.sh
  scripts/vitest-safe.mjs
Due: none

docs: [TDD] Complete comprehensive documentation update for brAInwav Agents TDD implementation
  project-documentation/agents-tdd-implementation-plan-improved.md
Due: none

docs: [TDD] Update agents implementation plan to reflect 100% completion status
  project-documentation/agents-tdd-implementation-plan-improved.md
Due: none

feat: implement comprehensive RAG package updates
  apps/api/src/core/request-router.ts
  apps/api/tests/api-a2a-integration.test.ts
  apps/api/tests/api-a2a-real-integration.test.ts
  apps/cortex-marketplace/src/app.ts
  apps/cortex-marketplace/src/routes/servers.ts
  apps/cortex-webui/backend/src/controllers/messageController.ts
  apps/cortex-webui/backend/src/controllers/modelController.ts
  apps/cortex-webui/backend/src/server.ts
  apps/cortex-webui/backend/src/services/fileService.ts
  apps/cortex-webui/backend/src/services/messageService.ts
  apps/cortex-webui/backend/src/services/modelService.ts
  packages/rag/README.md
  packages/rag/__tests__/agent/dispatcher.test.ts
  packages/rag/__tests__/embed/embedding-pool.debug.test.ts
  packages/rag/__tests__/store/lancedb-store.test.ts
  packages/rag/__tests__/workspace/scoping.test.ts
  packages/rag/src/agent/dispatcher.ts
  packages/rag/src/embed/embedding-pool.ts
  packages/rag/src/index.ts
  packages/rag/src/store/lancedb-store.ts
  packages/rag/src/workspace/manager.ts
  packages/rag/src/workspace/scoped-store.ts
  project-documentation/RAG_TDD_CHECKLIST.md
Due: biome-check, tsc-check

feat(rag): workspace scoping adapter, dispatcher metrics, LanceDB migration helper; docs and tests
  apps/api/tests/api-a2a-real-integration.test.ts
  apps/cortex-webui/__tests__/models-route.test.ts
  apps/cortex-webui/__tests__/tools-route.test.ts
  packages/rag/README.md
  packages/rag/__tests__/store/lancedb-migration.test.ts
  packages/rag/src/agent/dispatcher.ts
  packages/rag/src/store/hierarchical-store.ts
  packages/rag/src/store/memory.ts
  packages/rag/src/store/migration/lancedb-migration.ts
Due: biome-check, tsc-check

chore: remove large heap snapshot files
  apps/api/src/core/sanitizer.ts
  apps/api/tests/api-a2a-real-integration.test.ts
  apps/cortex-webui/__tests__/models-route.test.ts
  apps/cortex-webui/frontend/src/components/Auth/LoginForm.tsx
  apps/cortex-webui/frontend/src/components/Auth/RegisterForm.tsx
  packages/rag/src/agent/dispatcher.ts
  website/sync-docs.ts
Due: biome-check, tsc-check

feat: enhance RAG system and testing infrastructure
  ..bfg-report/2025-09-22/10-04-47/cache-stats.txt
  ..bfg-report/2025-09-22/10-04-47/deleted-files.txt
  ..bfg-report/2025-09-22/10-04-47/object-id-map.old-new.txt
  apps/cortex-os/tests/telemetry/tracing.test.ts
  apps/cortex-webui/__tests__/components/chat/Chat.test.tsx
  apps/cortex-webui/__tests__/sse-route.contract.test.ts
  packages/rag/README.md
  packages/rag/__tests__/embed/embedding-pool.debug.test.ts
  packages/rag/__tests__/workspace/scoping.test.ts
  website/sync-docs.ts
Due: biome-check, tsc-check

feat: project configuration updates and new validator tools
  CONTRIBUTING.md
  apps/api/tests/api-a2a-integration.test.ts
  apps/api/tests/api-a2a-real-integration.test.ts
  apps/cortex-code/project.json
  apps/cortex-os/project.json
  apps/cortex-os/tests/telemetry/tracing.test.ts
  apps/cortex-webui/__tests__/components/chat/Chat.test.tsx
  apps/cortex-webui/__tests__/setup.ts
  cortex-os-analysis-summary.md
  cortex-os-tdd-plan.md
  libs/typescript/asbr-policy/project.json
  libs/typescript/contracts/project.json
  libs/typescript/telemetry/project.json
  libs/typescript/types/project.json
  libs/typescript/utils/project.json
  package.json
  packages/a2a-services/schema-registry/project.json
  packages/a2a/a2a-events/project.json
  packages/a2a/a2a-handlers/project.json
  packages/a2a/a2a-observability/project.json
  packages/a2a/project.json
  packages/asbr/project.json
  packages/commands/project.json
  packages/cortex-sec/project.json
  packages/github/project.json
  packages/memories/project.json
  packages/mvp/mvp/project.json
  packages/orchestration/project.json
  packages/policy/project.json
  packages/rag/README.md
  packages/rag/project.json
  packages/security/project.json
  tools/validators/nx-project-guard.mjs
  tools/validators/nx-project-guard.ts
  website/sync-docs.ts
Due: biome-check, tsc-check

fix: resolve nx workspaceRoot token configuration in rag package
  packages/rag/project.json
Due: biome-check

test: verify pre-push hook functionality
  test-push.js
Due: biome-check

fix: address linting issues and finalize changes
  packages/agents/tests/resilience/circuit-breaker.test.ts
  packages/agents/tests/unit/circuit-breaker.test.ts
  packages/memories/src/resilience/circuit-breaker.ts
  packages/memories/tests/resilience/circuit-breaker.test.ts
  packages/orchestration/src/__tests__/operations/operational-endpoints.test.ts
  packages/orchestration/src/api/orchestration-api.ts
  packages/orchestration/src/observability/custom-metrics.ts
  packages/orchestration/src/observability/distributed-tracing.ts
  packages/orchestration/src/operations/operational-endpoints.ts
  packages/orchestration/src/pooling/model-connection-pool.ts
  packages/orchestration/src/providers/__tests__/composite-provider.test.ts
  packages/orchestration/src/providers/composite-provider.ts
  packages/rag/__tests__/mlx/client.test.ts
  packages/rag/__tests__/mlx/metrics.test.ts
  packages/rag/__tests__/mlx/performance.test.ts
  packages/rag/src/lib/mlx/failover.ts
  packages/rag/src/lib/mlx/index.ts
  packages/rag/src/lib/mlx/metrics.ts
Due: biome-check, tsc-check

fix: update circuit-breaker test
  packages/agents/tests/unit/circuit-breaker.test.ts
Due: biome-check, tsc-check

fix(a2a): restore valid gateway and tdd-coach A2A modules; fix auth config lint issues
  .vscode/settings.json
  apps/api/src/auth/config.ts
  apps/cortex-py/cortex_py/auth/__init__.py
  apps/cortex-py/cortex_py/auth/better_auth_client.py
  apps/cortex-py/cortex_py/workflows/workflow_auth.py
  apps/cortex-py/tests/test_auth_client.py
  apps/cortex-py/tests/test_workflow_auth.py
  libs/typescript/contracts/tsconfig.json
  packages/agent-toolkit/agent-toolkit-tdd-plan.md
  packages/agent-toolkit/src/__tests__/integration-clean.test.ts
  packages/agent-toolkit/src/__tests__/integration.test.ts
  packages/agent-toolkit/tsconfig.json
  packages/agents/tsconfig.json
  packages/commands/tsconfig.json
  packages/cortex-logging/tsconfig.json
  packages/evals/tsconfig.json
  packages/gateway/src/a2a.ts
  packages/mcp-bridge/tsconfig.json
  packages/mcp-registry/tsconfig.json
  packages/memories/tsconfig.json
  packages/model-gateway/tsconfig.json
  packages/orchestration/tsconfig.json
  packages/policy/tsconfig.json
  packages/tdd-coach/src/a2a.ts
  tests/auth/auth-flows.spec.ts
Due: biome-check, tsc-check, ruff-check, ruff-format

fix: resolve local memory MCP and REST API dual-mode issues
  .github/workflows/tdd-enforcement.yml
  Makefile
  docs/BUILD_CONFIGURATION_STANDARDS.md
  docs/agent-toolkit-integration.md
  logs/stash-backups/WIP.patch
  logs/stash-backups/stash@{0}:.patch
  logs/stash-backups/stash@{1}:.patch
  package.json
  packages/gateway/tsconfig.tsbuildinfo
  packages/tdd-coach/__tests__/cli.test.ts
  tools/validators/enforce-local-memory.mjs
Due: biome-check, tsc-check

fix: resolve port conflicts and clean up ports.env configuration
  .github/workflows/cortex-agent.yml
  .github/workflows/cortex-review.yml
  config/ports.env
  docs/agent-toolkit-integration.md
  docs/agent-toolkit-review.md
  docs/local-memory-fix-summary.md
  package.json
  scripts/check-port-conflicts.sh
  scripts/memory-manager.sh
  scripts/memory-snapshot-runner.mjs
  scripts/vitest-safe.mjs
  tools/validators/enforce-local-memory.mjs
Due: biome-check

docs: publish final cortex tdd plan
  final-cortex-tdd-plan.md
Due: none

Update final-cortex-tdd-plan.md
  final-cortex-tdd-plan.md
Due: none

chore(security): add gitleaks scanning
  .github/workflows/ci.yml
  .husky/pre-push
Due: none

fix(api): tighten auth typings
  apps/api/src/middleware/auth.ts
  apps/api/src/routes/auth.ts
  apps/api/src/server.ts
  apps/api/tests/api-a2a-real-integration.test.ts
  apps/api/tests/auth-integration.test.ts
Due: biome-check, tsc-check

chore(security): document gitleaks workflow
  docs/security/gitleaks-usage.md
  package.json
  scripts/security/secret-scan.sh
Due: biome-check

Path conditions:
  biome-check: any of: \.(js|jsx|ts|tsx|json|jsonc)$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  .*\.sqlite$|
  .*\.sqlite3$|
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  dist/.*|
  coverage/.*|
  __pycache__/.*|
  \.venv/.*|
  \.mcp-quick-venv/.*|
  mcp-servers/.*|
  test-results/.*|
  playwright-report/.*
)$

  tsc-check: any of: \.(ts|tsx)$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  .*\.sqlite$|
  .*\.sqlite3$|
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  dist/.*|
  coverage/.*|
  __pycache__/.*|
  \.venv/.*|
  \.mcp-quick-venv/.*|
  mcp-servers/.*|
  test-results/.*|
  playwright-report/.*
)$

  ruff-check: any of: \.py$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  .*\.sqlite$|
  .*\.sqlite3$|
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  dist/.*|
  coverage/.*|
  __pycache__/.*|
  \.venv/.*|
  \.mcp-quick-venv/.*|
  mcp-servers/.*|
  test-results/.*|
  playwright-report/.*
)$

  ruff-format: any of: \.py$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  .*\.sqlite$|
  .*\.sqlite3$|
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  dist/.*|
  coverage/.*|
  __pycache__/.*|
  \.venv/.*|
  \.mcp-quick-venv/.*|
  mcp-servers/.*|
  test-results/.*|
  playwright-report/.*
)$

