Repository jscraik/Cortex-OS: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, tsc-check, ruff-check, ruff-format

biome-check:
  name: Biome Check
  entry: pnpm biome check --apply
  language: system
  pass_filenames: true

tsc-check:
  name: TypeScript Check
  entry: pnpm tsc --noEmit
  language: system
  pass_filenames: false
  stages:
  - pre-push

ruff-check:
  name: Ruff Check
  entry: uv run ruff check --fix --
  language: system
  pass_filenames: true
  stages:
  - pre-push

ruff-format:
  name: Ruff Format
  entry: uv run ruff format --
  language: system
  pass_filenames: true
  stages:
  - pre-push

docs: add context engineering primer
  docs/README.md
  docs/guides/context/context-engineering-primer.md
Due: none

docs: add openai agents session primer
  docs/README.md
  docs/guides/getting-started/openai-agents-sessions.md
Due: none

Update openai-agents-sessions.md
  docs/guides/getting-started/openai-agents-sessions.md
Due: none

Update README.md
  docs/README.md
Due: none

feat(agents): add prompt metadata traceability
  packages/agents/__tests__/meta.spec.ts
  packages/agents/package.json
  packages/agents/src/base/runAgent.ts
  packages/agents/src/contracts/assertPromptMeta.ts
  packages/agents/src/index.ts
  packages/agents/src/prompts/index.ts
  packages/agents/src/prompts/system-master-agent.ts
  packages/agents/src/server/handlers/agent.handler.ts
  packages/agents/src/server/types.ts
  packages/observability/package.json
  packages/observability/src/logging/index.ts
  packages/protocol/src/index.ts
  packages/protocol/src/schemas.ts
  packages/protocol/src/types.ts
Due: biome-check, tsc-check

Update agent.handler.ts
  packages/agents/src/server/handlers/agent.handler.ts
Due: biome-check, tsc-check

feat(coverage): add rotation enforcement workflow
  .github/workflows/coverage-rotation.yml
  config/coverage-rotation.yml
  package.json
  scripts/code-quality/coverage-rotation.mjs
  tests/scripts/coverage-rotation.test.ts
  tests/scripts/fixtures/rotation.yml
  vitest.basic.config.ts
Due: biome-check, tsc-check

feat(cbom): add context bill of materials tooling
  apps/cbom-viewer/index.html
  apps/cbom-viewer/package.json
  apps/cbom-viewer/project.json
  apps/cbom-viewer/src/App.spec.tsx
  apps/cbom-viewer/src/App.tsx
  apps/cbom-viewer/src/components/ContextGraph.tsx
  apps/cbom-viewer/src/components/SummaryPanel.tsx
  apps/cbom-viewer/src/hooks/useCbomFile.ts
  apps/cbom-viewer/src/main.tsx
  apps/cbom-viewer/tsconfig.app.json
  apps/cbom-viewer/tsconfig.json
  apps/cbom-viewer/vite.config.ts
  docs/cbom-overview.md
  package.json
  packages/cbom/README.md
  packages/cbom/cli/index.ts
  packages/cbom/examples/sample.cbom.json
  packages/cbom/package.json
  packages/cbom/project.json
  packages/cbom/src/emitter.ts
  packages/cbom/src/exporters/cyclonedx.ts
  packages/cbom/src/index.ts
  packages/cbom/src/redactor.ts
  packages/cbom/src/replayer.ts
  packages/cbom/src/signer.ts
  packages/cbom/src/types.ts
  packages/cbom/tests/cbom-schema.test.ts
  packages/cbom/tests/emitter.test.ts
  packages/cbom/tests/exporter.test.ts
  packages/cbom/tests/replayer.test.ts
  packages/cbom/tests/signer.test.ts
  packages/cbom/tsconfig.build.json
  packages/cbom/tsconfig.json
  packages/cbom/vitest.config.ts
  pnpm-lock.yaml
  schemas/cbom-evidence.schema.json
  schemas/cbom.schema.json
  scripts/development/release-gate.sh
Due: biome-check, tsc-check

Update signer.ts
  packages/cbom/src/signer.ts
Due: biome-check, tsc-check

Update emitter.ts
  packages/cbom/src/emitter.ts
Due: biome-check, tsc-check

Update useCbomFile.ts
  apps/cbom-viewer/src/hooks/useCbomFile.ts
Due: biome-check, tsc-check

Update App.spec.tsx
  apps/cbom-viewer/src/App.spec.tsx
Due: biome-check, tsc-check

feat(memory-core): harden provenance and search guardrails
  .env.example
  README.md
  docs/security.md
  packages/memory-core/src/__tests__/LocalMemoryProvider.security.test.ts
  packages/memory-core/src/index.ts
  packages/memory-core/src/providers/LocalMemoryProvider.ts
  packages/memory-core/src/types.ts
  packages/tool-spec/src/index.ts
  packages/tool-spec/src/schemas/memory.search.schema.json
  packages/tool-spec/src/schemas/memory.store.schema.json
Due: biome-check, tsc-check

Update LocalMemoryProvider.ts
  packages/memory-core/src/providers/LocalMemoryProvider.ts
Due: biome-check, tsc-check

feat(checkpoints): add memory-core checkpoint infrastructure
  libs/typescript/contracts/src/checkpoint.ts
  libs/typescript/contracts/src/index.ts
  packages/a2a/a2a-events/src/cortex/checkpoint-events.ts
  packages/a2a/a2a-events/src/cortex/index.ts
  packages/mcp-core/src/tools/checkpoint-tools.ts
  packages/mcp-core/src/tools/index.ts
  packages/memory-core/package.json
  packages/memory-core/src/__tests__/checkpoint-manager.test.ts
  packages/memory-core/src/checkpoints/CheckpointManager.ts
  packages/memory-core/src/checkpoints/index.ts
  packages/memory-core/src/checkpoints/policies.ts
  packages/memory-core/src/checkpoints/sqlite-schema.ts
  packages/memory-core/src/index.ts
  packages/memory-core/src/providers/LocalMemoryProvider.ts
  packages/memory-core/src/types.ts
Due: biome-check, tsc-check

feat(graphrag): integrate qdrant hybrid retrieval
  config/retrieval.policy.yaml
  docs/graphrag.md
  packages/cortex-mcp/src/cortex_mcp/tools/graphrag.py
  packages/memory-core/package.json
  packages/memory-core/src/__tests__/GraphRAGService.test.ts
  packages/memory-core/src/db/prismaClient.ts
  packages/memory-core/src/index.ts
  packages/memory-core/src/retrieval/QdrantHybrid.ts
  packages/memory-core/src/retrieval/contextAssembler.ts
  packages/memory-core/src/retrieval/expandGraph.ts
  packages/memory-core/src/services/GraphRAGService.ts
  packages/memory-rest-api/src/index.ts
  packages/memory-rest-api/src/routes/graphrag.ts
  packages/memory-rest-api/src/utils/swagger.ts
  prisma/migrations/20250201000123_graphrag_sqlite_alignment/migration.sql
  prisma/schema.prisma
  scripts/graph/ingest.ts
Due: biome-check, tsc-check, ruff-check, ruff-format

Update CheckpointManager.ts
  packages/memory-core/src/checkpoints/CheckpointManager.ts
Due: biome-check, tsc-check

Update ingest.ts
  scripts/graph/ingest.ts
Due: biome-check, tsc-check

fix(scripts): resolve vitest cli from module
  .github/workflows/proofs-verify.yml
  contracts/tests/proof-artifact-union.contract.test.ts
  docs/proofs/proof-artifact-spec-v0-2.md
  libs/typescript/contracts/proof/proof-artifact.schema.ts
  package.json
  packages/kernel/package.json
  packages/kernel/src/proof/proofSystem.ts
  packages/kernel/tests/integration.test.ts
  packages/proof-artifacts/README.md
  packages/proof-artifacts/package.json
  packages/proof-artifacts/project.json
  packages/proof-artifacts/src/cli/cortex-proofs.ts
  packages/proof-artifacts/src/createProof.ts
  packages/proof-artifacts/src/index.ts
  packages/proof-artifacts/src/schema/proof.schema.json
  packages/proof-artifacts/src/signing/cosign.ts
  packages/proof-artifacts/src/types.ts
  packages/proof-artifacts/src/verifyProof.ts
  packages/proof-artifacts/tests/cli/cortex-proofs.test.ts
  packages/proof-artifacts/tests/cosign.test.ts
  packages/proof-artifacts/tests/createProof.test.ts
  packages/proof-artifacts/tests/verifyProof.test.ts
  packages/proof-artifacts/tsconfig.json
  packages/proof-artifacts/vitest.config.ts
  pnpm-lock.yaml
  scripts/vitest-safe.mjs
  simple-tests/proof/proof-system.basic.test.ts
Due: biome-check, tsc-check

feat(orchestration): wire routing policy surfaces
  .cortex/policy/routing/routing-policy.yaml
  apps/cortex-os/src/http/runtime-server.ts
  apps/cortex-os/src/runtime.ts
  libs/typescript/contracts/src/index.ts
  libs/typescript/contracts/src/orchestration/routing-policy.ts
  libs/typescript/contracts/tests/routing-policy.contract.test.ts
  package.json
  packages/a2a/a2a-events/src/cortex/__tests__/routing-events.test.ts
  packages/a2a/a2a-events/src/cortex/index.ts
  packages/a2a/a2a-events/src/cortex/routing-events.ts
  packages/a2a/a2a-events/src/index.ts
  packages/mcp/src/server/auth-server.ts
  packages/mcp/src/server/routing-tools.ts
  packages/mcp/src/test/routing-tools.test.ts
  packages/orchestration/__tests__/public-exports.snapshot.test.ts
  packages/orchestration/src/events/orchestration-bus.ts
  packages/orchestration/src/events/orchestration-events.ts
  packages/orchestration/src/events/routing-events.ts
  packages/orchestration/src/index.ts
  packages/orchestration/src/langgraph/create-cerebrum-graph.ts
  packages/orchestration/src/routing/policy-router.ts
  packages/orchestration/src/service.ts
  packages/orchestration/src/types.ts
  packages/orchestration/tests/routing/policy-router.failure.test.ts
  packages/orchestration/tests/routing/policy-router.test.ts
  schemas/routing-policy.schema.json
  scripts/policies/generate-routing-policy-schema.cjs
Due: biome-check, tsc-check

feat(evals): add repo-native evaluation gates
  .github/workflows/evals-quality.yml
  AGENTS.md
  package.json
  packages/evals/docs/testing-qa.md
  packages/evals/project.json
  packages/evals/resources/datasets/rag.jsonl
  packages/evals/resources/promptfoo/config.base.yaml
  packages/evals/resources/promptfoo/suites/assistant.yaml
  packages/evals/resources/promptfoo/suites/rag.yaml
  packages/evals/resources/redteam/data-leakage.yaml
  packages/evals/resources/redteam/injections.yaml
  packages/evals/resources/redteam/tool-abuse.yaml
  packages/evals/src/gate.test.ts
  packages/evals/src/index.ts
  packages/evals/src/suites/mcp-tools.test.ts
  packages/evals/src/suites/mcp-tools.ts
  packages/evals/src/suites/promptfoo.test.ts
  packages/evals/src/suites/promptfoo.ts
  packages/evals/src/suites/redteam.test.ts
  packages/evals/src/suites/redteam.ts
  packages/evals/src/types.ts
  python/evals/run_ragas_eval.py
  python/pyproject.toml
  reports/evals/.gitkeep
  scripts/evals/run-promptfoo.mjs
Due: biome-check, tsc-check, ruff-check, ruff-format

Update cortex-proofs.ts
  packages/proof-artifacts/src/cli/cortex-proofs.ts
Due: biome-check, tsc-check

Update service.ts
  packages/orchestration/src/service.ts
Due: biome-check, tsc-check

Update runtime-server.ts
  apps/cortex-os/src/http/runtime-server.ts
Due: biome-check, tsc-check

Update run-promptfoo.mjs
  scripts/evals/run-promptfoo.mjs
Due: none

feat(multimodal): complete Phase 3 multimodal AI implementation
  apps/cortex-py/src/app.py
  apps/cortex-py/src/multimodal/hybrid_search.py
  packages/memories/prisma/schema.prisma
  tasks/phase3-FINAL-COMPLETION.md
  tasks/phase3-completion-report.md
  tasks/phase3-final-summary.md
Due: ruff-check, ruff-format

feat(operational): phase 5 health endpoints for kubernetes readiness
  apps/cortex-py/src/app.py
  apps/cortex-py/src/operational/__init__.py
  apps/cortex-py/src/operational/health.py
  tasks/phase5-1-health-endpoints-complete.md
  tasks/phase5-operational-readiness.research.md
Due: ruff-check, ruff-format

feat(agents): complete Phase 4 autonomous agents with CoT and self-reflection
  apps/cortex-py/src/agents/__init__.py
  apps/cortex-py/src/agents/cot_planner.py
  apps/cortex-py/src/agents/self_reflection.py
  tasks/phase4-1-cot-planning-complete.md
  tasks/phase4-2-self-reflection-complete.md
  tasks/phase4-autonomous-agents.research.md
Due: ruff-check, ruff-format

feat(operational): phase 5.2 graceful shutdown with signal handlers
  .gitmodules
  apps/cortex-py/src/app.py
  apps/cortex-py/src/operational/__init__.py
  apps/cortex-py/src/operational/graceful_shutdown.py
  tasks/phase5-2-graceful-shutdown-complete.md
Due: ruff-check, ruff-format

feat(agents): phase 4.3 tree-of-thought multi-branch planning
  apps/cortex-py/src/agents/__init__.py
  apps/cortex-py/src/agents/tot_planner.py
  tasks/phase4-3-tot-planning-complete.md
  tasks/phase4-3-tree-of-thought.research.md
Due: ruff-check, ruff-format

docs: comprehensive session summary for phases 3, 4, and 5
  tasks/FINAL-SESSION-SUMMARY.md
Due: none

docs: update dependency currency runbook and TDD plan status
  docs/runbooks/dependency-currency.md
  package.json
  tasks/cortex-os-&-cortex-py-tdd-plan.md
Due: biome-check

chore: finalize development session changes
  packages/a2a/tsconfig.json
  tests/security/redis-fixes-validation.test.ts
Due: biome-check, tsc-check

chore: update regression test allowlists
  packages/observability/dist/src/events/local-transport.js
  packages/observability/dist/src/events/observability-bus.js
  packages/observability/tests/a2a-bus.test.ts
  scripts/brainwav-production-guard.ts
  tasks/phase8-mutation-testing.research.md
  tests/regression/apps-directory-allowlist.spec.ts
  tests/regression/tool-dispatch-allowlist.spec.ts
Due: biome-check, tsc-check

Path conditions:
  biome-check: any of: \.(js|jsx|ts|tsx|json|jsonc)$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  .*\.sqlite$|
  .*\.sqlite3$|
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  dist/.*|
  coverage/.*|
  __pycache__/.*|
  \.venv/.*|
  \.mcp-quick-venv/.*|
  mcp-servers/.*|
  test-results/.*|
  playwright-report/.*
)$

  tsc-check: any of: \.(ts|tsx)$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  .*\.sqlite$|
  .*\.sqlite3$|
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  dist/.*|
  coverage/.*|
  __pycache__/.*|
  \.venv/.*|
  \.mcp-quick-venv/.*|
  mcp-servers/.*|
  test-results/.*|
  playwright-report/.*
)$

  ruff-check: any of: \.py$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  .*\.sqlite$|
  .*\.sqlite3$|
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  dist/.*|
  coverage/.*|
  __pycache__/.*|
  \.venv/.*|
  \.mcp-quick-venv/.*|
  mcp-servers/.*|
  test-results/.*|
  playwright-report/.*
)$

  ruff-format: any of: \.py$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  .*\.sqlite$|
  .*\.sqlite3$|
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  dist/.*|
  coverage/.*|
  __pycache__/.*|
  \.venv/.*|
  \.mcp-quick-venv/.*|
  mcp-servers/.*|
  test-results/.*|
  playwright-report/.*
)$

