Repository jscraik/Cortex-OS: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, tsc-check, ruff-check, ruff-format

biome-check:
  name: Biome Check
  entry: pnpm biome check --apply
  language: system
  pass_filenames: true

tsc-check:
  name: TypeScript Check
  entry: pnpm tsc --noEmit
  language: system
  pass_filenames: false
  stages:
  - pre-push

ruff-check:
  name: Ruff Check
  entry: uv run ruff check --fix --
  language: system
  pass_filenames: true
  stages:
  - pre-push

ruff-format:
  name: Ruff Format
  entry: uv run ruff format --
  language: system
  pass_filenames: true
  stages:
  - pre-push

Update policy.ts
  tools/prp-cli/src/lib/policy.ts
Due: biome-check, tsc-check

Update retry.ts
  packages/mvp/mvp-core/src/retry.ts
Due: biome-check, tsc-check

Update ContextPackService.ts
  packages/memory-core/src/context-graph/ContextPackService.ts
Due: biome-check, tsc-check

Update scripts/lint-markdown-changed.mjs
  scripts/lint-markdown-changed.mjs
Due: none

Update scripts/audit-observability.mjs
  scripts/audit-observability.mjs
Due: none

Update docs/performance-monitoring.md
  docs/performance-monitoring.md
Due: none

Update package.json
  package.json
Due: biome-check

Update packages/observability/README.md
  packages/observability/README.md
Due: none

Update reports/observability-adoption.json
  reports/observability-adoption.json
Due: biome-check

Update scripts/dependencies/dependency-audit.mjs
  scripts/dependencies/dependency-audit.mjs
Due: none

Update packages/memory-core/src/__tests__/GraphRAGService.test.ts
  packages/memory-core/src/__tests__/GraphRAGService.test.ts
Due: biome-check, tsc-check

Update packages/memory-core/src/providers/LocalMemoryProvider.ts
  packages/memory-core/src/providers/LocalMemoryProvider.ts
Due: biome-check, tsc-check

docs: review skills workflow implementation plan
  docs/reviews/skills-workflows-plan-review.md
Due: none

Update skills-workflows-plan-review.md
  docs/reviews/skills-workflows-plan-review.md
Due: none

feat(prp-runner): align gates with chain I/O deliverables
  packages/prp-runner/src/__tests__/task-integration.test.ts
  packages/prp-runner/src/documentation/prp-generator.ts
  packages/prp-runner/src/gates/base.ts
  packages/prp-runner/src/gates/chain-io-profiles.ts
  packages/prp-runner/src/gates/g0-ideation.ts
  packages/prp-runner/src/gates/g1-architecture.ts
  packages/prp-runner/src/gates/g2-test-plan.ts
  packages/prp-runner/src/gates/g3-code-review.ts
  packages/prp-runner/src/gates/g4-verification.ts
  packages/prp-runner/src/gates/g5-triage.ts
  packages/prp-runner/src/gates/g6-release-readiness.ts
  packages/prp-runner/src/gates/g7-release.ts
  packages/prp-runner/src/run-manifest/__tests__/manifest-builder.test.ts
  packages/prp-runner/src/run-manifest/builder.ts
  packages/prp-runner/src/run-manifest/schema.ts
  packages/prp-runner/src/runner.ts
Due: biome-check, tsc-check

refactor: harden tool layer telemetry and secure ids
  packages/agents/src/subagents/ToolLayerAgent.ts
  packages/memory-core/src/lib/secure-random.ts
  packages/memory-core/src/services/GraphRAGService.ts
Due: biome-check, tsc-check

Update builder.ts
  packages/prp-runner/src/run-manifest/builder.ts
Due: biome-check, tsc-check

Update schema.ts
  packages/prp-runner/src/run-manifest/schema.ts
Due: biome-check, tsc-check

Update secure-random.ts
  packages/memory-core/src/lib/secure-random.ts
Due: biome-check, tsc-check

Update ToolLayerAgent.ts
  packages/agents/src/subagents/ToolLayerAgent.ts
Due: biome-check, tsc-check

docs(skills): integrate skills-registry-v1 planning artifacts
  skills/IMPLEMENTATION-STATUS.md
  skills/README.md
  tasks/skills-registry-v1/implementation-checklist.md
  tasks/skills-registry-v1/implementation-plan.md
  tasks/skills-registry-v1/json/concurrency-report.json
  tasks/skills-registry-v1/logs/.gitkeep
  tasks/skills-registry-v1/logs/arxiv/.gitkeep
  tasks/skills-registry-v1/logs/research/.gitkeep
  tasks/skills-registry-v1/logs/vibe-check/.gitkeep
  tasks/skills-registry-v1/logs/wikidata/.gitkeep
  tasks/skills-registry-v1/summary.md
  tasks/skills-registry-v1/tdd-plan.md
  tasks/skills-registry-v1/test-logs/.gitkeep
  tasks/skills-registry-v1/validation/.gitkeep
  tasks/skills-registry-v1/verification/.gitkeep
  tasks/skills-system-integration/implementation-plan.md
Due: biome-check

Update tdd-plan.md
  tasks/skills-registry-v1/tdd-plan.md
Due: none

Update implementation-plan.md
  tasks/skills-registry-v1/implementation-plan.md
Due: none

docs(tasks): plan cortex-memory-core implementation
  tasks/cortex-memory-core/SUMMARY.md
  tasks/cortex-memory-core/implementation-checklist.md
  tasks/cortex-memory-core/implementation-plan.md
  tasks/cortex-memory-core/json/baton.v1.json
  tasks/cortex-memory-core/json/concurrency-report.json
  tasks/cortex-memory-core/logs/arxiv/.gitkeep
  tasks/cortex-memory-core/logs/research/connectors-health.log
  tasks/cortex-memory-core/logs/vibe-check/.gitkeep
  tasks/cortex-memory-core/logs/wikidata/.gitkeep
  tasks/cortex-memory-core/tdd-plan.md
  tasks/cortex-memory-core/test-logs/.gitkeep
  tasks/cortex-memory-core/validation/.gitkeep
  tasks/cortex-memory-core/verification/.gitkeep
Due: biome-check

Path conditions:
  biome-check: any of: \.(js|jsx|ts|tsx|json|jsonc)$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  .*\.sqlite$|
  .*\.sqlite3$|
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  dist/.*|
  coverage/.*|
  __pycache__/.*|
  \.venv/.*|
  \.mcp-quick-venv/.*|
  mcp-servers/.*|
  test-results/.*|
  playwright-report/.*
)$

  tsc-check: any of: \.(ts|tsx)$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  .*\.sqlite$|
  .*\.sqlite3$|
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  dist/.*|
  coverage/.*|
  __pycache__/.*|
  \.venv/.*|
  \.mcp-quick-venv/.*|
  mcp-servers/.*|
  test-results/.*|
  playwright-report/.*
)$

  ruff-check: any of: \.py$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  .*\.sqlite$|
  .*\.sqlite3$|
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  dist/.*|
  coverage/.*|
  __pycache__/.*|
  \.venv/.*|
  \.mcp-quick-venv/.*|
  mcp-servers/.*|
  test-results/.*|
  playwright-report/.*
)$

  ruff-format: any of: \.py$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  .*\.sqlite$|
  .*\.sqlite3$|
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  dist/.*|
  coverage/.*|
  __pycache__/.*|
  \.venv/.*|
  \.mcp-quick-venv/.*|
  mcp-servers/.*|
  test-results/.*|
  playwright-report/.*
)$

