Repository jscraik/Cortex-OS: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, tsc-check, ruff-check, ruff-format

biome-check:
  name: Biome Check
  entry: pnpm biome check --apply
  language: system
  pass_filenames: true

tsc-check:
  name: TypeScript Check
  entry: pnpm tsc --noEmit
  language: system
  pass_filenames: false
  stages:
  - pre-push

ruff-check:
  name: Ruff Check
  entry: uv run ruff check --fix --
  language: system
  pass_filenames: true
  stages:
  - pre-push

ruff-format:
  name: Ruff Format
  entry: uv run ruff format --
  language: system
  pass_filenames: true
  stages:
  - pre-push

chore: update openai-codex submodule to latest
  tasks/docker-standardization.tdd-plan.md
Due: none

feat(cortex-code): add .syncignore to preserve brAInwav customizations
  .syncignore
Due: none

docs: update CHANGELOG.md for cortex-code vendor sync
  CHANGELOG.md
Due: none

fix: clean up .syncignore formatting
  .syncignore
Due: none

docs: update memory stack documentation and configuration
  README.md
  docker/memory-stack/.env.example
  docker/memory-stack/README.md
  infra/compose/docker-compose.dev.yml
Due: none

chore: update memory monitoring reports
  reports/memory-regression-last.json
  reports/memory-snapshot-summary.json
Due: biome-check

feat: add agent-toolkit resolution docs and memory stack improvements
  docker/memory-stack/docker-compose.new.yml
  docker/memory-stack/scripts/bring-up.sh
  docker/memory-stack/tests/parity-checklist.md
  docs/agent-toolkit-resolution.md
Due: none

chore: clean up cache and update monitoring reports
  .gitignore
  reports/memory-regression-last.json
  reports/memory-snapshot-summary.json
Due: biome-check

feat: add Docker development environment manager script
  reports/memory-regression-last.json
  reports/memory-snapshot-summary.json
  scripts/docker-dev.sh
Due: biome-check

chore: final memory monitoring reports update
  reports/memory-regression-last.json
  reports/memory-snapshot-summary.json
Due: biome-check

feat(agent-toolkit): enhance adapters with comprehensive tooling and validation
  .devcontainer/Dockerfile
  .envrc
  .semgrep/llm-security.yaml
  .semgrep/owasp-top-10-improved.yaml
  .semgrep/supply-chain-security.yaml
  .vscode/settings.json
  packages/agent-toolkit/src/infra/CodemapAdapter.ts
  packages/agent-toolkit/src/infra/CodemodAdapters.ts
  packages/agent-toolkit/src/infra/SearchAdapters.ts
  packages/agent-toolkit/src/infra/ValidationAdapters.ts
  packages/agent-toolkit/src/infra/__tests__/adapter-path-resolution.test.ts
  packages/agent-toolkit/src/infra/__tests__/paths.test.ts
  packages/agent-toolkit/src/infra/paths.ts
  packages/agent-toolkit/tools/Justfile
  packages/agent-toolkit/tools/astgrep_search.sh
  packages/agent-toolkit/tools/cargo_verify.sh
  packages/agent-toolkit/tools/codemap.py
  packages/agent-toolkit/tools/comby_rewrite.sh
  packages/agent-toolkit/tools/difftastic_diff.sh
  packages/agent-toolkit/tools/eslint_verify.sh
  packages/agent-toolkit/tools/patch_apply.sh
  packages/agent-toolkit/tools/pytest_verify.sh
  packages/agent-toolkit/tools/rg_search.sh
  packages/agent-toolkit/tools/ruff_verify.sh
  packages/agent-toolkit/tools/run_validators.sh
  packages/agent-toolkit/tools/semgrep_search.sh
  packages/agent-toolkit/tools/treesitter_query.sh
  packages/cortex-mcp/README.md
  packages/memories/README.md
  packages/memory-core/README.md
  project-documentation/mcp-memory/test-matrix.md
  scripts/setup-agent-toolkit.sh
  tasks/mcp-and-memory-tdd-plan.md
Due: biome-check, tsc-check, ruff-check, ruff-format

feat(security): add container infrastructure security rules
  .semgrep/container-infra-security.yaml
Due: none

test: add no-memories-import test to prevent legacy memory package usage
  simple-tests/no-memories-import.test.ts
Due: biome-check, tsc-check

fix: trailing whitespace and end-of-file formatting
  .env.example
  docker/docker-compose.yml
  docs/HUGGINGFACE_CACHE_SETUP.md
  services/ml-inference/docker-compose.yml
Due: none

fix(mcp): resolve VS Code Insiders MCP configuration crash and refactor MCP server
  .devcontainer/devcontainer.json
  apps/cortex-os/src/events/event-manager.ts
  apps/cortex-os/src/http/runtime-server.ts
  apps/cortex-os/src/mcp/gateway.ts
  apps/cortex-os/src/mcp/server.ts
  apps/cortex-os/src/services.ts
  apps/cortex-os/tests/e2e/second-brain-validation.test.ts
  apps/cortex-os/tests/http/runtime-server.test.ts
  apps/cortex-os/tests/setup.global.ts
  apps/cortex-os/vitest.config.ts
  package.json
  packages/cortex-sec/src/events/cortex-sec-events.ts
  packages/cortex-sec/src/events/security-event-publisher.ts
  packages/cortex-sec/src/index.ts
  packages/cortex-sec/src/nO/security-integration.ts
  packages/cortex-sec/src/planning/compliance-planner.ts
  packages/cortex-sec/src/planning/compliance-strategy.ts
  packages/mcp-server/CHATGPT_CONTENT_FIX.md
  packages/mcp-server/CODE_REVIEW_FINDINGS.md
  packages/mcp-server/DOCUMENTATION_VERIFICATION_UPDATES.md
  packages/mcp-server/IMPLEMENTATION_COMPLETE.md
  packages/mcp-server/OPERATIONAL_STATUS.md
  packages/mcp-server/REFACTORING_GUIDE.md
  packages/mcp-server/REVIEW_SUMMARY.md
  packages/mcp-server/VERIFICATION_SUMMARY.md
  packages/mcp-server/src/index.refactored.ts
  packages/mcp-server/src/index.ts
  packages/mcp-server/src/tools/chatgpt-research.ts
  packages/memory-core/README.md
  packages/memory-core/src/providers/LocalMemoryProvider.ts
  packages/memory-core/src/providers/RemoteMemoryProvider.ts
  packages/memory-core/src/types.ts
  pnpm-lock.yaml
  scripts/com.cortexos.mcp.server.plist
  scripts/start-mcp-server-typescript.sh
  tasks/mcp-and-memory-tdd-plan.md
Due: biome-check, tsc-check

docs(tdd): update plan with loopback auth implementation status
  scripts/install-pieces-cli.sh
  tasks/mcp-and-memory-tdd-plan.md
Due: none

chore(submodule): update openai-codex with latest changes and formatting
  docs/pieces-cli-installation.md
  packages/orchestration/src/index.ts
  tasks/mcp-and-memory-tdd-plan.md
Due: biome-check, tsc-check

docs(tdd): update plan with full Pieces integration features
  .env.example
  Makefile
  README.md
  apps/cortex-code/justfile
  apps/cortex-os/src/mcp/gateway.ts
  apps/cortex-os/src/mcp/server.ts
  apps/cortex-os/tests/a2a/nats-smoke.test.ts
  apps/cortex-os/tests/events/event-manager.test.ts
  apps/cortex-os/tests/mcp/facade.contract.test.ts
  apps/cortex-os/tests/mcp/gateway.test.ts
  apps/cortex-os/tests/mcp/mcp-server-integration.test.ts
  apps/cortex-os/tests/mcp/util/factory.ts
  apps/cortex-os/tests/mcp/workflow.persistence.test.ts
  docs/pieces-mcp-integration.md
  mcpServer.mcp.config.usrlocal.Pieces
  packages/mcp-server/README.md
  packages/orchestration/src/service.ts
  ports.env
  scripts/development/dev-setup-oncreate.sh
  scripts/vendor-cortex-code.sh
  tasks/cortex-code-sync-pr-draft.md
  tasks/mcp-and-memory-tdd-plan.md
Due: biome-check, tsc-check

test: update comprehensive test suites with enhanced coverage
  apps/cortex-webui/backend/src/__tests__/api/auth-endpoints.test.ts
  apps/cortex-webui/backend/src/__tests__/auth/auth-methods.test.ts
  apps/cortex-webui/backend/src/__tests__/controllers/oauthController.test.ts
  apps/cortex-webui/backend/src/__tests__/e2e/authentication-workflows.test.ts
  apps/cortex-webui/backend/src/__tests__/integration/auth-flow.test.ts
  apps/cortex-webui/backend/src/__tests__/integration/auth-flows.test.ts
  apps/cortex-webui/backend/src/__tests__/integration/better-auth-integration.test.ts
  apps/cortex-webui/backend/src/__tests__/middleware/auth-middleware-comprehensive.test.ts
  apps/cortex-webui/backend/src/__tests__/security/security-middleware-comprehensive.test.ts
  apps/cortex-webui/backend/src/__tests__/services/auth-monitoring-service.test.ts
  apps/cortex-webui/backend/src/__tests__/services/external-monitoring-service.test.ts
  apps/cortex-webui/backend/src/__tests__/validation/input-validation-comprehensive.test.ts
  contracts/tests/contracts-coverage.test.ts
Due: biome-check, tsc-check

docs: add cortex webui ui assessment
  docs/reports/cortex-webui-ui-assessment.md
Due: none

Update docs/reports/cortex-webui-ui-assessment.md
  docs/reports/cortex-webui-ui-assessment.md
Due: none

fix: improve TypeScript type safety across test files
  apps/cortex-webui/backend/src/__tests__/controllers/conversationController.test.ts
  apps/cortex-webui/backend/src/__tests__/controllers/multimodalController.test.ts
  apps/cortex-webui/backend/src/__tests__/e2e/auth-integration.test.ts
  apps/cortex-webui/backend/src/__tests__/e2e/authentication-workflows.test.ts
  apps/cortex-webui/backend/src/__tests__/services/mcp/McpSecurityManager.test.ts
  apps/cortex-webui/backend/src/routes/mcpRoutes.ts
  apps/cortex-webui/backend/src/server.ts
  apps/cortex-webui/docs/mcp-tool-integration-guide.md
  tests/quality-gates/gate-enforcement.test.ts
  tests/tdd-coach/integration.test.ts
Due: biome-check, tsc-check

docs: update TDD plan with Phase 1.2 completion status
  apps/cortex-webui/backend/src/__tests__/utils/observability.test.ts
  tasks/cortex-os-&-cortex-py-tdd-plan.md
  test-temp/metrics/quality-gate-report.json
Due: biome-check, tsc-check

chore: update Nx to version 21.6.3
  package.json
  pnpm-lock.yaml
Due: biome-check

Path conditions:
  biome-check: any of: \.(js|jsx|ts|tsx|json|jsonc)$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  .*\.sqlite$|
  .*\.sqlite3$|
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  dist/.*|
  coverage/.*|
  __pycache__/.*|
  \.venv/.*|
  \.mcp-quick-venv/.*|
  mcp-servers/.*|
  test-results/.*|
  playwright-report/.*
)$

  tsc-check: any of: \.(ts|tsx)$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  .*\.sqlite$|
  .*\.sqlite3$|
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  dist/.*|
  coverage/.*|
  __pycache__/.*|
  \.venv/.*|
  \.mcp-quick-venv/.*|
  mcp-servers/.*|
  test-results/.*|
  playwright-report/.*
)$

  ruff-check: any of: \.py$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  .*\.sqlite$|
  .*\.sqlite3$|
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  dist/.*|
  coverage/.*|
  __pycache__/.*|
  \.venv/.*|
  \.mcp-quick-venv/.*|
  mcp-servers/.*|
  test-results/.*|
  playwright-report/.*
)$

  ruff-format: any of: \.py$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  .*\.sqlite$|
  .*\.sqlite3$|
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  dist/.*|
  coverage/.*|
  __pycache__/.*|
  \.venv/.*|
  \.mcp-quick-venv/.*|
  mcp-servers/.*|
  test-results/.*|
  playwright-report/.*
)$

